﻿@using Znode.Engine.WebStore.Agents
@{
    int portalId = PortalAgent.CurrentPortal.PortalId;
}

<div class="container-fluid banner-set-height">
    <div class="col-md-12 nopadding">
        <!--Home Page Slider Widget-->
        <z-widget>@Html.WidgetPartial("BannerSlider", "Slider", "555", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), portalId)</z-widget>
    </div>
</div>
<div class="container">
    <div class="row mobile-paddingleft-right">
        <!--BestSelling Widget-->
        <div data-test-selector="divBestSellCategoryList">
            <z-widget>
                @Html.WidgetPartial("CategoryList", "CategoryList", "1992", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), portalId)
            </z-widget>
        </div>
    </div>

    <div class="row mobile-paddingleft-right">
        <!--NewArrival Widget-->
        <div data-test-selector="divNewArrivalWidget">
            <z-widget>
                @Html.WidgetPartial("ProductList", "NewArrival", "666", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), portalId)
            </z-widget>
        </div>
    </div>

    <div class="row mobile-paddingleft-right">
        <!--Brand Widget-->
        <div data-test-selector="divBrandWidget">
            <z-widget>
                @Html.WidgetPartial("BrandList", "BrandList", "9657", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), portalId)
            </z-widget>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-12 nopadding">
            <div class="cms1">@Html.RenderMessage("CMSHomeBanner1") <span>@Html.RenderMessage("CMSHomeBannertext1")</span></div>
        </div>
        <div class="col-lg-12 nopadding">
            <div class="cms1">@Html.RenderMessage("CMSHomeBanner2") <span>@Html.RenderMessage("CMSHomeBannertext2")</span></div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-6 nopadding padding-right20">
            <div class="cms1">@Html.RenderMessage("CMSHomeBanner3") <span>@Html.RenderMessage("CMSHomeBannertext3")</span></div>
        </div>
        <div class="col-lg-6 nopadding padding-left20">
            <div class="cms1">@Html.RenderMessage("CMSHomeBanner4") <span>@Html.RenderMessage("CMSHomeBannertext4")</span></div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-12 nopadding">
            <div class="cms1">@Html.RenderMessage("CMSHomeBanner5") <span>@Html.RenderMessage("CMSHomeBannertext5")</span></div>
        </div>
        <div class="col-lg-12 nopadding">
            <div class="cms1">@Html.RenderMessage("CMSHomeBanner6") <span>@Html.RenderMessage("CMSHomeBannertext6")</span></div>
        </div>
    </div>
</div>