﻿@using Znode.Engine.Admin.ViewModels;
@model PublishCatalogLogListViewModel
<div id="@Model.GridModel.FrontObjectName">
    <div id="aside-popup-panel">
        <div class="col-sm-12 title-container">
            <h1>@Html.RenderBlock(Model.CatalogName)<i class="z-minus"></i><span>@PIM_Resources.TitlePublishStatus</span></h1>
            <div class="pull-right">
                <button type="button" class="btn-text-icon" onclick="ZnodeBase.prototype.CancelUpload('divCatalogPublishStatusList')"><i class="z-back" data-test-selector="popLinkCancel"></i>@Admin_Resources.ButtonCancel</button>
            </div>
        </div>
        <div class="col-sm-12 page-container">
            <div class="col-sm-12 list-container">
                @{
                    @Html.Partial("~/Views/DynamicGrid/_DynamicGrid.cshtml", Model.GridModel)
                }
            </div>
        </div>
    </div>
</div>