﻿@model Znode.Engine.Admin.ViewModels.ProductDetailsListViewModel
@{
    ViewBag.Title = PIM_Resources.TitlePIM + " | " + Admin_Resources.Multifront;
}
<div id="@Model.GridModel.FrontObjectName">
    <div id="aside-popup-panel">
        <div class="col-sm-12 title-container">
            <h1>@Admin_Resources.HeaderAssociateProducts</h1>
            <div class="pull-right">
                <button onclick="Catalog.prototype.AssociateProductsToProfileCatalog()" data-test-selector="linkAssociate" class="btn-text-icon"><i class='z-associate-products'></i>@PIM_Resources.LabelAssociate</button>
                <button id="cancle-associated-profilecategory" data-test-selector="linkCancel" type="button" class="btn-text-icon" onclick="Catalog.prototype.CloseUnassociateProductForProfilePopup();"><i class='z-cancel'></i>@Admin_Resources.ButtonCancel</button>
            </div>
        </div>
        <div class="col-sm-12 page-container">
            <div class="col-sm-12 nopadding notification-msg" id="body">
                <div class="messageBoxContainer error-msg text-center margin-bottom" id="error-unassociated-products"></div>
            </div>
            @using (Ajax.BeginForm("UnAssociatedProductsForProfile", "Catalog", new { pimCatalogId = Model.PimCatalogId, pimCategoryId = Model.PimCategoryId, profileCatalogId = Model.ProfileCatalogId, profileId = Model.ProfileId, pimCatgoryHierarchyId = Model.PimCategoryHierarchyId }, new AjaxOptions() { UpdateTargetId = Model.GridModel.FrontObjectName, OnSuccess = "" }, new { @id = "searchform" }))
            {
                <div id="filterComponent">
                    @Html.Partial("~/Views/DynamicGrid/_FilterComponent.cshtml", Model.GridModel.FilterColumn)
                </div>
            }
            <div class="col-sm-12 list-container">
                @{
                    @Html.Partial("~/Views/DynamicGrid/_DynamicGrid.cshtml", Model.GridModel)
                }
            </div>
        </div>
        @Html.HiddenFor(m => m.ProfileId)
        @Html.HiddenFor(m => m.ProfileCatalogId)
    </div>
</div>