﻿
@model Znode.Engine.Admin.ViewModels.ProductDetailsListViewModel
@using Znode.Engine.Admin.Models
@{
    ViewBag.Title = PIM_Resources.TitlePIM + " | " + Admin_Resources.Multifront;
}
<div id="@Model.GridModel.FrontObjectName">
    <div id="aside-popup-panel">
        <div class="col-sm-12 title-container">
            <h1>@Admin_Resources.HeaderAssociateProducts</h1>
            <div class="pull-right btn-container">
                <button id="cancle-associated-category" type="button" class="btn-text-icon pull-left" onclick="Catalog.prototype.CloseUnassociateProductPopup();"><i class='z-back'></i>@Admin_Resources.ButtonCancel</button>
                <button onclick="Catalog.prototype.AssociateProducts()" class="btn-text btn-text-secondary">@PIM_Resources.LabelAssociate</button>                
            </div>
        </div>
        <div class="col-sm-12 page-container">
            <div class="col-sm-12 nopadding notification-msg" id="body">
                <div class="messageBoxContainer error-msg text-center margin-bottom" id="error-unassociated-products"></div>
            </div>
            @using (Ajax.BeginForm("UnAssociatedProducts", "Catalog", new { pimCatalogId = Model.PimCatalogId, pimCategoryId = Model.PimCategoryId, pimCategoryHierarchyId = Model.PimCategoryHierarchyId }, new AjaxOptions() { UpdateTargetId = Model.GridModel.FrontObjectName, OnSuccess = "" }, new { @id = "searchform" }))
            {
                <div id="filterComponent">
                    @Html.Partial("~/Views/DynamicGrid/_FilterComponent.cshtml", Model.GridModel.FilterColumn)
                </div>
            }
            <div class="col-sm-12 list-container">
                @{
                    @Html.Partial("~/Views/DynamicGrid/_DynamicGrid.cshtml", Model.GridModel)
                }
            </div>
        </div>
    </div>
</div>
<script>
    ZnodeBase.prototype.AddClassToImageColumn('@Model.GridModel.FrontObjectName');
    ZnodeBase.prototype.SetNoImageForList();
</script>