﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Libraries.ECommerce.Utilities
@model CartViewModel
@{
    string _displayRemoveLink = Request.Path.Contains("Checkout") ? Model.ShoppingCartItems.Any(x => !x.IsAllowedTerritories) ? "" : "display:none" : "";
    List<CartItemViewModel> cartItemViewModel = Model.ShoppingCartItems?.AsEnumerable().Reverse().ToList();
    string disablebutton = (Model.IsLevelApprovedOrRejected
                          && !string.Equals(Model.OrderStatus, ZnodeOrderStatusEnum.DRAFT.ToString(), StringComparison.CurrentCultureIgnoreCase)
                          && !string.Equals(Model.OrderStatus, ZnodeOrderStatusEnum.ORDERED.ToString(), StringComparison.CurrentCultureIgnoreCase))
                          ? "disabled='disabled'" : "";

    //This encrypted total value is being used by Payflow payment ONLY.
    string encryptedOrderTotal = Helper.GetEncryptedValue(Convert.ToString(Model.Total));
}
<div class="shopping-cart">
    <div class="col-xs-12 nopadding quotebutton hide-in-amazon-checkout margin-bottom">
        @if(Model.IsQuoteRequest)
        {
            <button type="submit" onclick="Quote.prototype.SubmitQuote()" id="btnPlaceQuote" name="singleCheckoutSubmitPayment" class="btn-text-icon btn-bg-primary btn-text-full btn-margin-left btnPlaceQuote">
                @WebStore_Resources.ButtonSubmitQuote
            </button>
        }
        else if (Model.ShowPlaceOrderButton && string.Equals(Model.OrderStatus, ZnodeOrderStatusEnum.APPROVED.ToString(), StringComparison.CurrentCultureIgnoreCase))
        {
            <button type="submit" @disablebutton onclick="Checkout.prototype.SubmitOrder()" id="btnCompleteCheckout" name="singleCheckoutSubmitPayment" class="btn-text-icon btn-bg-primary btn-text-full btn-margin-left btnCompleteCheckout">
                @if (Model.OmsQuoteId > 0)
                {
                    if (!Model.IsLastApprover)
                    {
                        @WebStore_Resources.LabelUpdateAndApproveOrder
                    }
                    else
                    {
                        @WebStore_Resources.LabelApproveAndPlaceOrder
                    }
                }
                else
                {
                    @WebStore_Resources.TextPlaceOrder
                }
            </button>
        }
        else if ((Model.ShowPlaceOrderButton || (string.Equals(Model.PermissionCode, ZnodePermissionCodeEnum.ARA.ToString(), StringComparison.CurrentCultureIgnoreCase) || string.Equals(Model.PermissionCode, ZnodePermissionCodeEnum.SRA.ToString(), StringComparison.CurrentCultureIgnoreCase))) || (string.Equals(Model.ApprovalType, ZnodePortalApprovalsLevelEnum.Payment.ToString(), StringComparison.CurrentCultureIgnoreCase) && Model.EnableApprovalRouting))
        {
            string onclickFunction = (Model.OmsQuoteId > 0) ? "Checkout.prototype.SubmitForApproval()" : "Checkout.prototype.SubmitOrder()";
            <button type="submit" @disablebutton onclick="@onclickFunction" id="btnCompleteCheckout" name="singleCheckoutSubmitQuote" class="btn-text-icon btn-bg-primary btn-text-full btn-margin-left btnCompleteCheckout">
                @if (Model.OmsQuoteId > 0)
                {
                    if (!Model.IsLastApprover)
                    {
                        @WebStore_Resources.LabelUpdateAndApproveOrder
                    }
                    else
                    {
                        @WebStore_Resources.LabelApproveAndPlaceOrder
                    }
                }
                else
                {
                    @WebStore_Resources.TextPlaceOrder
                }
            </button>
        }
        else if ((!Model.ShowPlaceOrderButton && (string.Equals(Model.PermissionCode, ZnodePermissionCodeEnum.ARA.ToString(), StringComparison.CurrentCultureIgnoreCase) || string.Equals(Model.PermissionCode, ZnodePermissionCodeEnum.SRA.ToString(), StringComparison.CurrentCultureIgnoreCase))) || (string.Equals(Model.ApprovalType, ZnodePortalApprovalsLevelEnum.Store.ToString(), StringComparison.CurrentCultureIgnoreCase) && Model.EnableApprovalRouting))
        {
            <button type="submit" @disablebutton onclick="Checkout.prototype.SubmitForApproval()" id="singleCheckoutSubmitQuote" name="singleCheckoutSubmitQuote" class="btn-text-icon btn-bg-primary btn-text-full btn-margin-left singlecheckoutsubmitquote">
                @if (Model.OmsQuoteId > 0)
                {
                    if (!Model.IsLastApprover)
                    {
                        @WebStore_Resources.LabelUpdateAndApproveOrder
                    }
                    else
                    {
                        @WebStore_Resources.LabelApproveAndPlaceOrder
                    }
                }
                else
                {
                    @WebStore_Resources.ButtonSubmitForApproval
                }
            </button>
        }
        else
        {
            <button type="submit" @disablebutton onclick="Checkout.prototype.SubmitOrder()" id="btnCompleteCheckout" name="singleCheckoutSubmitPayment" class="btn-text-icon btn-bg-primary btn-text-full btn-margin-left btnCompleteCheckout">
                @if (Model.OmsQuoteId > 0)
                {
                    if (!Model.IsLastApprover)
                    {
                        @WebStore_Resources.LabelUpdateAndApproveOrder
                    }
                    else
                    {
                        @WebStore_Resources.LabelApproveAndPlaceOrder
                    }
                }
                else
                {
                    @WebStore_Resources.TextPlaceOrder
                }
            </button>
        }
    </div>
    <div class="col-xs-12 chk-section nopadding">
        <div class="head-text">
            <h1 data-test-selector="hdnOrderSummaryTitle">
                @if (Model.IsQuoteRequest)
                {
                    @WebStore_Resources.HeadingQuoteSummary
                }
                else
                {
                    @WebStore_Resources.HeadingOrderSummary
                }
             </h1>
       </div>
        <div class="col-xs-12 nopadding cart-products">
            @if (Model.ShoppingCartItems?.Count > 0)
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th style="@_displayRemoveLink"></th>
                            <th>@WebStore_Resources.LabelItem</th>
                            <th>@WebStore_Resources.LabelTierPrice</th>
                            <th>@WebStore_Resources.ColumnTitleQuantity</th>
                            <th>@WebStore_Resources.ColumnTitleTotal</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (CartItemViewModel cartItem in Model.ShoppingCartItems.AsEnumerable().Reverse())
                        {
                            @Html.Partial("../cart/_CartRow", cartItem)
                        }
                    </tbody>
                </table>
            }
        </div>

        <div class="col-xs-12 nopadding cart-summary margin-bottom">
            <div class="col-sm-offset-5 cart-total order-summary" id="summary-details">
                @Html.Partial("../_TotalTable", Model)
            </div>
        </div>
    </div>

    @if (!Model.IsQuoteRequest && Model.Permission)
    {
        if (Model.IsSinglePageCheckout)
        {
            @Html.Partial("../_ApplyCoupon", Model)
        }
    }


</div>
<div class="col-xs-12 nopadding cart-promocode">
    <div class="head-text">
        <h1 data-test-selector="hdgAdditionalInfoTitle">@WebStore_Resources.TitleAdditionalInfo</h1>
    </div>

    <div class="col-xs-12 nopadding form-group margin-top hidden">
        <div class="col-xs-12 nopadding">
            <label for="address_name" data-test-selector="lblJobName">@WebStore_Resources.LabelJobName</label>
        </div>
        <div class="col-xs-12 nopadding">
            @Html.TextBoxFor(model => model.JobName, new { maxlength = 100, @data_test_selector = "txtJobName" })
        </div>
    </div>

    <div class="col-xs-12 nopadding form-group margin-top">
        <div class="col-xs-12 nopadding">
            <label for="address_name">@WebStore_Resources.TitleAdditionalInformation</label>
        </div>
        <div class="col-xs-12 nopadding">
            @Html.TextAreaFor(model => model.AdditionalInstruction, new { maxlength = 500, rows = 5 })
        </div>
    </div>
</div>

@Html.HiddenFor(m => m.ErrorMessage, new { @id = "ShippingErrorMessage" })
@Html.HiddenFor(m => m.IsValidShippingSetting, new { @id = "ValidShippingSetting" })
@Html.HiddenFor(m => m.GiftCardMessage, new { @id = "cartGiftCardMessage" })
@Html.HiddenFor(m => m.GiftCardApplied, new { @id = "cartGiftCardApplied" })
@Html.HiddenFor(m => m.FreeShipping, new { @id = "cartFreeShipping" })
@Html.HiddenFor(m => m.IsLastApprover, new { @id = "hdnIsLastApprover" })
@Html.HiddenFor(m => m.IsLevelApprovedOrRejected, new { @id = "hdnIsLevelApprovedOrRejected" })
@Html.HiddenFor(m => m.OmsQuoteId)
<script>
    $(document).ready(function () {
        Checkout.prototype.ChangeCartReviewSequence();
        Checkout.prototype.ChangeSubmitOrderButtonText();
    })
    $("#hdnEncryptedTotalAmount").val('@encryptedOrderTotal');
</script>
@if (Helper.IsEnhancedEcommerceTrackingEnabled())
{
    <script>
        var data = @Html.RenderBlock(Json.Encode(Model.GetEcommerceCartItemsData()));
        function SendEcommerceDataForRemoveSingleCartItem(control, sku) {
            var dec = decodeURI(sku);
            $.each(data, function (v, e) {
                if (dec == e.SKU) {
                    GoogleAnalytics.prototype.SendRemoveFromCartsForSingleCartItem(e);
                }
            });
            $(control).closest('form').submit();
        }
    </script>
}