﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Libraries.ECommerce.Utilities
@using Znode.Engine.WebStore.Agents
@model AccountQuoteViewModel
@{
    int quoteId = (int)ViewData["QuoteId"];
    string accountType = Model.RoleName;
    string cultureCode = string.IsNullOrEmpty(Model.CultureCode) ? DefaultSettingHelper.DefaultCulture : Model.CultureCode;
    Model.ShoppingCart.CultureCode = cultureCode;
    int paymentSettingId = (ViewData["PaymentSettingId"] != null) ? (int)ViewData["PaymentSettingId"] : 0;
    string imagePath = string.Empty;
    bool isPendingPayment = (ViewData["isPendingPayment"] != null) ? (bool)ViewData["isPendingPayment"] : false;
    string quoteURL = isPendingPayment ? $"/User/PendingPaymentQuoteView?omsQuoteId={quoteId}" : $"/User/QuoteView?omsQuoteId={quoteId}";
    string quoteHistoryURL = isPendingPayment ? "/User/PaymentQuoteHistory" : "/User/QuoteHistory";
    int portalId = PortalAgent.CurrentPortal.PortalId;
    string thankYouContent = isPendingPayment ? WebStore_Resources.LabelPendingPayment : WebStore_Resources.LinkTextQuoteHistory;
    string paymentDisplayName = Model.PaymentDisplayName;
}
@{

    List<CartItemViewModel> quoteItemViewModel = Model.ShoppingCart?.ShoppingCartItems?.ToList();
    var consolidatedOrderLineItems = quoteItemViewModel?.GroupBy(x => new { x.SKU, x.GroupId }).Select(c => new CartItemGroupListViewModel
    {
        SKU = c.Key.SKU,
        GroupId = c.Key.GroupId,
        Children = c.ToList(),
        Sequence = c.FirstOrDefault().GroupSequence,
    }).ToList();
}

<div id="layout-checkout-receipt" class="main-wrapper sp-accounts">
    <div class="container">
        <div class="row checkout-reciept margin-bottom">
            <div class="col-xs-12 nopadding">
            </div>
            <div class="col-xs-12 nopadding">
                @Html.Hidden("QuoteId", quoteId)
                @if (quoteId > 0)
                {
                    <h4>@WebStore_Resources.PendingOrderThankyouText</h4>

                    <p>
                        @WebStore_Resources.PendingOrderTrackingNumber <a href="@quoteURL"><strong>#@quoteId</strong></a>
                    </p>

                    if (User.Identity.IsAuthenticated)
                    {
                        if (isPendingPayment)
                        {
                            <p>
                                @Html.RenderBlock(string.Format(@WebStore_Resources.TextPendingPaymentSection, quoteHistoryURL))
                            </p>
                        }
                        else
                        {
                            <p>
                                @Html.RenderBlock(string.Format(@WebStore_Resources.TextPendingOrderDetail, quoteHistoryURL))
                            </p>
                        }
                    }

                    <div class="margin-top-bottom text-right">
                        <a href="/" class="btn-text btn-bg-primary">@WebStore_Resources.ButtonContinueShopping</a>
                    </div>

                    <div id="layout-quote-details" class="col-xs-12 nopadding margin-top-bottom">
                        <div class="col-xs-12 nopadding">
                            <h3 class="page-title">@WebStore_Resources.LabelPendingOrderDetail @Html.RenderBlock(Model.OmsQuoteId.ToString()) - @ViewBag.Title <small>on @Model.CreatedDate</small></h3>
                        </div>
                        <div class="col-xs-12 account-dashboard nopadding">
                            <div class="col-xs-12 nopadding add-template">
                                <div class="col-sm-12 nopadding">

                                    <h3 class="section-header heading">@WebUtility.HtmlDecode(Model.ShippingName)</h3>
                                    <div class="col-xs-12 nopadding margin-bottom">
                                        @if (Model?.ShippingAddressId > 0 && !Equals(Model?.ShippingAddressModel, null))
                                        {
                                            Model.ShippingAddressModel.RoleName = Model.RoleName;
                                            @Html.Partial("../User/_DisplayAddress", Model.ShippingAddressModel ?? new AddressViewModel())
                                        }
                                        else
                                        {
                                            <p>@WebStore_Resources.ErrorNoPrimaryAddress</p>
                                        }

                                    </div>

                                    @{
                                        <div class="col-xs-12 nopadding shopping-cart padding-top-bottom">
                                            <div class="col-xs-12 quote-products table-responsive nopadding">
                                                <table class="table" id="quoteView">
                                                    <thead>
                                                        <tr>
                                                            <th>@WebStore_Resources.LabelItem</th>
                                                            <th>@WebStore_Resources.ColumnTitleItemPrice</th>
                                                            <th>@WebStore_Resources.ColumnTitleQuantity</th>
                                                            <th>@WebStore_Resources.ColumnTitleTotal</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="quoteViewRow">
                                                        @for (int i = 0; i < Model?.ShoppingCart?.ShoppingCartItems?.Count(); i++)
                                                        {
                                                            if (Model.ShoppingCart.ShoppingCartItems[i].InsufficientQuantity)
                                                            {
                                                                Model.InventoryOutOfStockCount++;
                                                                Model.ShoppingCart.ShoppingCartItems[i].OutOfStockMessage = string.IsNullOrEmpty(Model.OutOfStockMessage) ? WebStore_Resources.OutofStockMessage : Model.OutOfStockMessage;
                                                            }

                                                            Model.ShoppingCart.ShoppingCartItems[i].QuoteLineItemCount = Model.ShoppingCart.ShoppingCartItems.Count();
                                                            Model.ShoppingCart.ShoppingCartItems[i].OrderStatus = Model.OrderStatus;
                                                            Model.ShoppingCart.ShoppingCartItems[i].RoleName = Model.RoleName;
                                                            Model.ShoppingCart.ShoppingCartItems[i].CultureCode = cultureCode;
                                                            @Html.Partial("_QuoteRow", Model.ShoppingCart.ShoppingCartItems[i])
                                                            @Html.HiddenFor(model => Model.ShoppingCart.ShoppingCartItems[i].Quantity)
                                                            @Html.HiddenFor(model => Model.ShoppingCart.ShoppingCartItems[i].OmsQuoteLineItemId)
                                                        }
                                                        @Html.Hidden("ShoppingCartItemsCount", Model.ShoppingCart.ShoppingCartItems.Count())
                                                        @Html.HiddenFor(model => Model.InventoryOutOfStockCount)
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="col-xs-12 nopadding cart-summary receipt-totals text-right">
                                                <div class="col-xs-12 col-sm-7 col-md-6 col-sm-offset-5 col-md-offset-6">
                                                    @{
                                                        Model.ShoppingCart.ShippingName = @WebUtility.HtmlDecode(Model.ShippingName);
                                                    }
                                                    @Html.Partial("_TotalTable", Model.ShoppingCart)
                                                </div>
                                            </div>
                                        </div>
                                        @Html.Partial("_QuoteConfirmPopup")
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <h3 class="margin-top-bottom">@WebStore_Resources.ErrorUnablePlaceOrder</h3>
                }
                @Html.Hidden("portalId", portalId)
            </div>
        </div>
    </div>
</div>
@*Removed the script because it's not in use.*@

