﻿@model Znode.Engine.Admin.ViewModels.PIMProductAttributeValuesListViewModel
<div id="@Model.GridModel.FrontObjectName">
    <div id="aside-popup-panel" class="panel-container product-sku-list">
        <div class="col-sm-12 title-container">
            <h1>@Admin_Resources.TitleAssociateSKU</h1>
            <div class="pull-right">
                <button type="button" class="btn-text-icon margin-bottom" onclick="ZnodeBase.prototype.CancelUpload('skuList')"><i class="z-back"></i>@Admin_Resources.ButtonBack</button>
            </div>
        </div>
        <div class="col-sm-12 page-container">
            <div class="margin-bottom">
                <span id="AssociateError" class="error-msg" style="display:none">@Admin_Resources.SelectSKUError</span>
                <span id="AssociateMultipleError" class="error-msg" style="display:none">@Admin_Resources.SelectOneSKUError</span>
            </div>
            <div id="associatedTaxStoreId" class="text-danger" style="display:none">
                    <div class="messageBoxContainer error-msg text-center" id="messageBoxContainerId">@Admin_Resources.TextSelectOnePricelist</div>
            </div>
            @using (Ajax.BeginForm("GetProductSKUList", "Price", new { priceListId = Model.PriceListId }, new AjaxOptions() { UpdateTargetId = Model.GridModel.FrontObjectName, OnSuccess = "GridPager.prototype.GridUpdateHandler" }, new { @id = "searchform" }))
            {
                <div id="filterComponent">
                    @Html.Partial("~/Views/DynamicGrid/_FilterComponent.cshtml", Model.GridModel.FilterColumn)
                </div>
            }            
            <div class="col-sm-12 list-container">
                @{
                    @Html.Partial("~/Views/DynamicGrid/_DynamicGrid.cshtml", Model.GridModel)
                }
            </div>
            @Html.HiddenFor(m => m.PriceListId)
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        Price.prototype.GetSelectedSKU();
    });
</script>