﻿@using Znode.Engine.WebStore.ViewModels
@model CartViewModel
@{
    bool insufficientQuantity = (Model?.ShoppingCartItems?.Any(x => x.InsufficientQuantity)).GetValueOrDefault();
    var cultureCode = string.IsNullOrEmpty(Model?.CultureCode) ? DefaultSettingHelper.DefaultCulture : Model.CultureCode;
    decimal cartCount = (Model?.ShoppingCartItems?.Any() ?? false) ?  (Model?.ShoppingCartItems?.Sum(x => x.Quantity)).GetValueOrDefault(): 0M;
    bool isQuoteRequestEnabled = GlobalAttributeHelper.IsQuoteRequestEnabled();
    string removeItemOnClickEvent = Helper.IsEnhancedEcommerceTrackingEnabled() ? "SendEcommerceDataForRemoveAllCartItems(this)" : "javascript:$($(this).closest('form').submit());";
    string checkoutButtonOnClickEvent = Helper.IsEnhancedEcommerceTrackingEnabled() ? "ValidateAndSendCheckoutData();" : "Cart.prototype.ValidateProductQuantity();";
}

@if (Model?.ShoppingCartItems?.Any() ?? false)
{

    <div class="col-xs-12 nopadding">
        <div class="col-xs-12 col-md-8 nopadding cart-heading">
            <h1 data-test-selector="hdgShoppingCartHeading" class="page-title">@WebStore_Resources.LabelShoppingCart</h1>
            <a data-test-selector="linkContinue" href="/" class="btn-text-icon btn-bg-secondary continue-shopping-btn"><i class="zf-checkout"></i> @WebStore_Resources.ButtonContinueShopping</a>
        </div>
        <div class="col-xs-12 col-md-4 nopadding">
            <div class="cart-buttons">
                @if (User.Identity.IsAuthenticated && isQuoteRequestEnabled)
                {
                    <a data-test-selector="linkRequestQuote" href="/Quote/Index" class="btn-text-icon btn-bg-primary" id="requestQuote-link" onclick="return Cart.prototype.ValidateProductQuantityForQuote();"><i class="zf-checkout"></i> @WebStore_Resources.ButtonRequestQuote</a>
                }
                <a data-test-selector="linkCheckout" href="/Checkout/Index" class="btn-text-icon btn-bg-primary" id="checkOut-link" onclick="return @checkoutButtonOnClickEvent"><i class="zf-checkout"></i> @WebStore_Resources.ButtonCheckout</a>
            </div>
        </div>

        <div class="col-xs-12 col-md-8 nopadding cart-product-details">
            <div class="col-xs-12 cart-total-title nopadding">
                <div data-test-selector="lblYourTotalIs" class="cart-sub-heading">
                    @WebStore_Resources.TextYourTotal <strong data-test-selector="lblPrice" id="dynamic-cart-order-total">@Helper.FormatPriceWithCurrency(Model.Total, Model.CultureCode)</strong> <span data-test-selector="lblForItem">for @Helper.GetRoundOffQuantity(cartCount) items</span>
                </div>
                @using (Ajax.BeginForm("RemoveAllCartItem", "Cart", new AjaxOptions() { UpdateTargetId = "Cart", OnBegin = "ZnodeBase.prototype.ShowLoader()", OnComplete = "QuickOrder.prototype.ShowHideQuickOrderPopUp();global.bind.ResetTopCategory();Cart.prototype.EnableDisableMenuIcon();" }))
                {
                    @Html.AntiForgeryToken()
                    <a data-test-selector="linkRemoveAllCartItem" href="#" class="cart-item-remove-all" onclick=@removeItemOnClickEvent><i class="zf-close"></i>@WebStore_Resources.TextRemoveAllCartItems</a>
                }
            </div>
            <div class="col-xs-12 table-responsive cart-products nopadding">
                <table class="table">
                    <thead>
                        <tr>
                            <th></th>
                            <th data-test-selector="lblItem">@WebStore_Resources.LabelItem</th>
                            <th data-test-selector="lblItemPrice">@WebStore_Resources.ColumnTitleItemPrice</th>
                            <th data-test-selector="lblItemQuantity">@WebStore_Resources.ColumnTitleQuantity</th>
                            <th data-test-selector="lblItemTotal">@WebStore_Resources.ColumnTitleTotal</th>
                        </tr>
                    </thead>
                    <tbody>
                        @*To show the recently added product on the top of cart.*@
                        @foreach (CartItemViewModel cartItem in Model.ShoppingCartItems.AsEnumerable().Reverse())
                        {
                            @Html.Partial("_CartRow", cartItem)
                        }
                    </tbody>
                </table>
                @Html.HiddenFor(x => insufficientQuantity, new { id = "hdnInsufficientQuantity" })

            </div>
        </div>
        <div class="col-xs-12 col-md-4 cart-summary nopadding">
            <div class="col-xs-12 nopadding cart-total order-summary" id="CartOrdersummary">
                <div class="head-text"><h1 data-test-selector="hdnOrderSummaryTitle">@WebStore_Resources.HeadingOrderSummary</h1></div>
                <div class="carttotalcontentarea" id="summary-details"> <img src="../Content/Images/throbber.gif" alt="Loading" class="dashboard-loader"> </div>
                <script>
                    $.get("/cart/CalculateCart", { "_": $.now() }, function (res) { $(".carttotalcontentarea").html(res); if ($('#dynamic-order-total')) $('#dynamic-cart-order-total').html($('#dynamic-order-total')[0].innerText); });
                </script>
            </div>

            <div class="col-xs-12 nopadding">
                <div class="col-xs-12 nopadding">
                    @Html.Partial("../_ApplyCoupon", Model)
                </div>
                @*<div class="col-xs-12 nopadding cart-promocode">
                    <div class="head-text"><h1>@WebStore_Resources.LabelEstimateShippingCosts</h1></div>
                    @if (!string.IsNullOrEmpty(Model.ZipCode))
                    {
                        @Html.Partial("../_ShippingEstimator", Model.ZipCode)
                    }
                    else
                    {
                        @Html.Partial("../_ShippingEstimator", string.Empty)
                    }

                </div>*@
            </div>
        </div>
    </div>
    <!--promotion & shipping bar-->
    <div class="cart-promotion-bar col-xs-12 nopadding"></div>
    <script>$.get("/cart/CartPromotionBar", function (res) { $(".cart-promotion-bar").html(res); });</script>
}
else
{
    <div class="col-xs-12 col-md-8 nopadding cart-heading">
        <h1 data-test-selector="hdgShoppingCartHeading" class="page-title">@WebStore_Resources.LabelShoppingCart</h1>
    </div>
    <div class="col-xs-12 nopadding cart-summary">
        <p class="text-center margin-top-bottom">@WebStore_Resources.NoItemCartErrorMessage</p>
    </div>
}

<script>
    $(".cartcount").html(@cartCount)
</script>
@if (Helper.IsEnhancedEcommerceTrackingEnabled())
{
    <script>
        var data = @Html.RenderBlock(Json.Encode(Model.GetEcommerceCartItemsData()));
        function SendEcommerceDataForRemoveAllCartItems(control) {
            GoogleAnalytics.prototype.SendRemoveFromCartsForAllCartItems(data);
            $(control).closest('form').submit();
        }
        function SendEcommerceDataForRemoveSingleCartItem(control, sku) {
            var dec = decodeURI(sku);
            $.each(data, function (v, e) {
                if (dec == e.SKU) {
                    GoogleAnalytics.prototype.SendRemoveFromCartsForSingleCartItem(e);
                }
            });
            $(control).closest('form').submit();
        }
        function ValidateAndSendCheckoutData() {
            var isValid = new Boolean(Cart.prototype.ValidateProductQuantity());
            if (isValid) {
                GoogleAnalytics.prototype.SendEcommerceCheckoutData(data);
            }
            return isValid;
        }
    </script>
}




