﻿
@using Znode.Engine.Admin.ViewModels;
@using Znode.Libraries.ECommerce.Utilities;
@model SearchProfileViewModel
@{
    ViewBag.Title = Admin_Resources.TitleMarketing + " | " + Admin_Resources.Multifront;
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    string cancelUrl = "/Search/Search/GetSearchProfiles";
    ActionModel actionModel = new ActionModel { Action = actionName, Controller = controllerName, FormId = "frmCreateSearchProfile", CancelUrl = cancelUrl, IsSaveCloseEnable = true, Callback = "Search.prototype.ValidateSearchProfileData" };
}

<div class="pull-right profile-edit">
    @Html.Partial("~/Views/Shared/Controls/_SaveCancelButtons.cshtml", actionModel)
</div>

@using (Html.BeginForm(actionName, controllerName, FormMethod.Post, new { @id = "frmCreateSearchProfile" }))
{
    <div class="row">
        <div class="col-xs-12 catalog-search-profile">

            <div class="d-flex align-items-center padding-top" id="loginForm">
                <div id="divSearchCatalogCreate">

                    <div class="col-xs-12 nopadding">
                        <label class="profile-label">@Html.LabelFor(m => m.CatalogName, new { @class = "required" })</label>
                    </div>
                    <div class="col-xs-12 nopadding">
                        <div class="search-catalog-box">
                            @Html.TextBoxFor(model => model.CatalogName, new { @placeholder = Admin_Resources.LabelSelectCatalog, @id = "txtCatalogNameCreate", @readonly = "readonly" })
                            @Html.HiddenFor(model => model.PublishCatalogId, new { @id = "hdnPublishCatalogIdCreate" })
                            @Html.ValidationMessageFor(model => model.CatalogName, "", new { @id = "errorRequiredCatalog" })
                        </div>
                        @if (Model.SearchProfileId <= 0)
                        {
                            <div class="search-catalog-bar">
                                @CustomHtmlHelper.SearchButton("searchCustomer", "Search.prototype.GetPublishCatalogList();", @Admin_Resources.SearchExistingCatalogButton)
                            </div>
                        }
                    </div>

                </div>
                <div class="margin-left-15">
                    <div class="col-xs-12 nopadding">
                        <label class="profile-label">@Html.LabelFor(m => m.ProfileName, new { @class = "required", @data_test_selector = "lblProfileName" })</label>
                    </div>
                    <div class="col-xs-12 nopadding">
                        @Html.TextBoxFor(model => model.ProfileName, new { @id = "hdnProfileName" })
                        @Html.ValidationMessageFor(model => model.ProfileName, null, new { id = "errorRequiredSearchProfileName" })
                    </div>

                </div>

            </div>

        </div>
        <div class="col-sm-3 col-lg-4 search-aside-panel">
            <div class="col-sm-12 nopadding padding-bottom">
               
                    @Html.Partial("_SearchSettings", Model)
                    @Html.HiddenFor(m => m.SearchProfileId)
                
            </div>
        </div>
        <div class="col-sm-9 col-lg-8 search-right-panel">
            <div class="form-group">
                <div class="col-sm-12 nopadding">
                    <div class="input-group search-go-section padding-top-20">
                        <input data-test-selector="txtSearchTerm" class="form-control" placeholder="Test Your Search" name="search" id="SearchTerm" onKeyDown="if (event.keyCode == 13) Search.prototype.GetSerchTermProducts(this);" />
                        <div class="input-group-btn">
                            <button type="button" id="searchResult" onclick="Search.prototype.GetSerchTermProducts(this)" class="btn-text" data-test-selector="btnGO"><i class='z-search'></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <span id="errorSelectCatalog" class="error-msg"></span>
            <div id="SomeDivToShowTheResult">
                <div class="col-sm-12 no-record-search nopadding">
                    <p>Your search results will appear here...</p>
                </div>

            </div>
        </div>
    </div>
}

<div id="divCataloglistPopup" class="aside-popup-panel modal-dialog modal-xl">
    @*Publish Catalog List Panel shown here*@
</div>
<div id="addAttributesPanel" class="aside-popup-panel modal-dialog modal-xl">
    @*Add attributes Popup shown here*@
</div>

