﻿@using Znode.Engine.Admin.ViewModels
@using Znode.Engine.Admin.Models
@model SearchAttributesListViewModel
@{
    ViewBag.Title = Admin_Resources.TitleCustomers + " | " + Admin_Resources.Multifront;
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
}
<div class="pull-right profile-edit">   
    <button type="button" class="btn-text-icon pull-left" onclick="Search.prototype.ReturnBackToList()"><i class="z-back" data-test-selector="linkCancel"></i>@Admin_Resources.ButtonCancel</button>
    <a id="GetUnAssociatedAttributes" class="btn-text btn-text-secondary margin-left-10" value="Create XML" onclick="Search.prototype.GetUnAssociatedAttributes(@Model.SearchProfileId)" data-test-selector="linkAddNew">Associate Facets</a>
</div>
<div id="@Model.GridModel.FrontObjectName" class="padding-top-bottom">
    <!--Main Container-->
    <section class="col-sm-12 nopadding">
        @using (Ajax.BeginForm(actionName, controllerName, new { searchProfileId = Model.SearchProfileId, isAssociated = true }, new AjaxOptions() { UpdateTargetId = Model.GridModel.FrontObjectName, OnSuccess = "GridPager.prototype.GridUpdateHandler" }, new { @id = "searchform" }))
        {
            <div id="filterComponent">
                @Html.Partial("~/Views/DynamicGrid/_FilterComponent.cshtml", Model.GridModel.FilterColumn)
            </div>
        }
        @Html.Partial("~/Views/Shared/Controls/_PopUp.cshtml",
                    new PopupModel()
                    {
                        Title = @Admin_Resources.HeaderDelete,
                        Description = @Admin_Resources.TextConfirmDelete,
                        ModalPopUpId = "DeletePopup",
                        Buttons = new List<PopUpButtonModel>() {
                         new PopUpButtonModel { ButtonText = @Admin_Resources.TextOk,ButtonAttributes="data-dismiss=modal",OnClickFunctionName = "Search.prototype.UnAssociateSearchAttributesFromProfile(this)" },
                        }
                    })
        <div class="col-sm-12 list-container">
            @{
                @Html.Partial("~/Views/DynamicGrid/_DynamicGrid.cshtml", Model.GridModel)
            }
        </div>
    </section>
    @Html.HiddenFor(x => x.SearchProfileId)
</div>
<div id="divSearchAttributePopup" class="aside-popup-panel modal-dialog modal-xl"></div>
<div id="divCataloglistPopup" class="aside-popup-panel modal-dialog modal-xl"></div>
<div id="divSearchProfileListAsidePanel" class="aside-popup-panel modal-dialog modal-xl"></div>
