﻿// Select Dropdown.
.btn-dropdown{display:inline-block;text-transform:uppercase;color:$text-fgcolor-default;line-height:15px;vertical-align:middle;background:transparent;border:1px solid transparent;outline:none !important;font-family:$base-font-family-condensed;box-shadow:none;border-bottom:none;position:relative;z-index:2;padding:8px 7px;
  font:{size:14px; weight:$base-font-normal;}  
  i{color:$base-color-primary;vertical-align:baseline;font-size:$base-font-size + 1;display:inline-block;
        &:hover,&:focus{color:$base-color-secondary;}
  }
  span{padding-left:5px;padding-right:2px;}
  .z-down{font-size:11px !important;color:$base-color-primary;line-height:15px;}
  &:hover,&:focus,&:hover i,&:focus i,&:hover .z-down, &:focus .z-down{color:$base-color-secondary;}
}

.open .btn-dropdown:after{height:5px;width:100%;background-color:$base-color-white;content:'';position:absolute;bottom:-1px;left:0;}
.open .btn-dropdown{border:1px solid $box-border-shadow;border-bottom: transparent;background-color:#fff;}
.title-container .btn-dropdown span{padding-left:2px;}
.btn-dropdown.disabled{color:#ddd;cursor:not-allowed;
    i{color:#ddd;cursor:not-allowed;}
}
.dropdown-list-ul{border-radius:0;margin:0px;padding:0;font-size:$base-font-size;list-style:none !important;min-width:97px;max-height:200px; overflow-y:auto !important;overflow-x:hidden;
    li{list-style:none !important;
         a{color:$text-fgcolor-default;text-transform:capitalize;padding:7px 10px;border-bottom:1px solid #e9e9e9;
           &:hover{background-color:$base-color-tertiary;}
         }
         label{font-weight:normal;width:100%;display:block;
             span{width:100%;}
         }
         &:hover{background-color:$base-color-tertiary;}
         &:nth-last-child(1) a{border-bottom:0 !important;}
      }    
    label{margin-bottom:0;padding: 7px 20px 7px 5px;}
}
.dropdown-list-ul:after{content:'';display:block;position:absolute;top:-16px;left:8px;width:0;height:0;border-color: transparent transparent $base-color-white transparent;border-style: solid;border-width: 8px;}
.dropdown-list-multiselect li{display:-webkit-box;display:-moz-box;display:-ms-flexbox;width:100%;border-bottom:1px solid $border-bgcolor-secondary;
        li:last-child{border-bottom:none;}
}
.pull-right{
    .dropdown-list-container{left:auto;right:0;}
    .dropdown-list-container:after{left:auto;right:8px;}
}
.dropdown-list-container{left:0;right:auto;margin:-1px 0 0 0;padding:0;overflow:hidden !important;font-family:$base-font-family;min-width:200px;border-radius:0;
     .dropdown-wrapper{position:static;}
     .dropdown-search{padding:5px;border-top:1px solid $border-bgcolor-default;min-width:150px;}
     .dropdown-submit{background-color:$base-bgcolor-header;padding:5px;border-top:1px solid $border-bgcolor-default;text-align:right;float:left;width:100%;
        button.btn-text{color:$base-color-white;}
     }
     .dropdown-list-ul{box-shadow:none;border:0;position:relative;}
}
select{color:$base-fgcolor-input;font-size:$base-font-size;height:34px;line-height:30px;min-width:100%;max-width:100%;padding:2px 20px 2px 5px;border-radius:3px; box-shadow:none;outline: medium none;-webkit-appearance: none;-moz-appearance: none;-ms-appearance: none;background: $base-color-white url('../Images/drop-arrow.png') no-repeat 98% center;text-indent: 0.01px;text-overflow: ""; border: 1px solid $border-bgcolor-primary;-webkit-transition: all 0.0s ease;-moz-transition: all 0.0s ease;-o-transition: all 0.0s ease;-ms-transition: all 0.0s ease;transition: all 0.0s ease;
     option{padding:3px 8px;}
}
select::-ms-expand {display:none;}
.ie select {display:none;}
select[multiple], select[size]{padding:0;}
.multiselect-dropdown{background:none;padding:0 1px;}

// Multiselect Dropdown.
.multiselect{color:$text-fgcolor-default;font-size:$base-font-size;height:34px;min-width:180px;width:100%;padding:2px 20px 2px 5px;text-align:left;border-radius:3px;box-shadow:none;outline: medium none;-webkit-appearance: none;-moz-appearance: none;-ms-appearance: none;background: $base-color-white url('../Images/drop-arrow.png') no-repeat 98% center;text-indent: 0.01px;text-overflow: ""; border: 1px solid $border-bgcolor-primary;
    &:hover,&:focus,&:active{background-color:transparent !important;color:$text-fgcolor-default;}
    .caret{display:none;}
}
.multiselect-container{position:absolute;list-style-type:none;margin:0;padding:0;max-height:200px;overflow-y:auto;border-radius:0;
    .input-group{margin:5px}
    li{padding:0;
       a{padding:0;
           &:hover{background-color:$base-color-tertiary;}
       }
       label.radio,label.checkbox{margin:0}
       label{color:$text-fgcolor-default;margin:0;height:100%;cursor:pointer;font-weight:normal !important;padding:3px 20px 3px 25px;
             input[type=checkbox]{height:34px;}             
       }
       input[type="checkbox"]{opacity:1 !important;}
    }
    li.multiselect-group label{margin:0;padding:3px 20px;height:100%;font-weight:normal}
    li.multiselect-group-clickable label{cursor:pointer}
    li.filter{
        .input-group-addon{padding:1px 6px;background-color:$base-color-white;
             i{color:$base-color-secondary;}
        }
        .input-group-btn{padding:0;background-color:$base-color-white;
             button{padding:1px 6px;}
             i{color:$base-color-secondary;}
        }
    }
    li.active a label{background-color:$base-color-tertiary;}
}
