﻿@using Znode.Engine.Admin.ViewModels;
@using Znode.Engine.Admin.Models;
@model ProductDetailsListViewModel

<div id="@Model.GridModel.FrontObjectName">
    <div id="divAssociatedProduct" class="modal fade" role="dialog">
        @*Don't delete this div, used to render Edit associated Product and Display Unassociated Product List*@
    </div>
    <div class="col-sm-12 page-container margin-top">
        @using (Ajax.BeginForm("GetConfigureProductsToBeAssociated", "Products", new { parentProductId = Model.ParentProductId, associatedProductIds = Model.AssociatedProductIds, associatedAttributeIds = Model.AssociatedCongigureAttributeIds }, new AjaxOptions() { UpdateTargetId = Model.GridModel.FrontObjectName, OnSuccess = "GridPager.prototype.GridUpdateHandler" }, new { @id = "searchform" }))
            {
            <div id="filterComponent">
                @Html.Partial("~/Views/DynamicGrid/_FilterComponent.cshtml", Model.GridModel.FilterColumn)
            </div>
        }
        <div class="col-sm-12 list-container">
            @{
                @Html.Partial("~/Views/DynamicGrid/_DynamicGrid.cshtml", Model.GridModel)
            }
        </div>
        <div class="col-sm-12 no-record nopadding" style="display:none" id="NoRecord">
            <p>@Admin_Resources.NoRecordFoundText</p>
        </div>
    </div>
</div>

<div>
    @Html.Partial("~/Views/Shared/Controls/_PopUp.cshtml",
                    new PopupModel()
                    {
                        Title = @Admin_Resources.HeaderDelete,
                        Description = PIM_Resources.DeleteAssociatedProducts,
                        ModalPopUpId = "AssociatedProductDeletePopup",
                        Buttons = new List<PopUpButtonModel>() {
                            new PopUpButtonModel { ButtonText = @Admin_Resources.TextOk,ButtonAttributes="data-dismiss=modal",OnClickFunctionName = "Products.prototype.DeleteAssociatedProducts(this)" },
                           }
                    })
</div>
<div>
    <input type="hidden" id="hdnDeleteProductID" />
    @Html.Partial("~/Views/Shared/Controls/_PopUp.cshtml",
                    new PopupModel()
                    {
                        Title = @Admin_Resources.HeaderConfirmDelete,
                        Description = @Admin_Resources.TextConfirmDelete,
                        ModalPopUpId = "DeletePopUpConfirm",
                        Buttons = new List<PopUpButtonModel>() { new PopUpButtonModel { ButtonText = @Admin_Resources.TextOk, OnClickFunctionName = "Products.prototype.DeleteAssociatedSingleProduct(this)" } }
                    })
</div>
<script>
    Products.prototype.HideEditLink();
    Products.prototype.DeleteRecentlyAssociatedProducts();
    $("#UnassociatedProductAsidePannel").find("table th:eq(0)").text("");
    $("#UnassociatedProductAsidePannel").find('.disabled-checkbox').closest('tr').css('background-color', '#d9edf7');
    $("#UnassociatedProductAsidePannel").find('.disabled-checkbox').closest('input').attr('disabled', true);
    Products.prototype.ChangeColumnIndex($('th:contains("Action")').index(), $('th:last-child').index());
</script>
