﻿@model Znode.Engine.Admin.ViewModels.PortalPageSettingListViewModel
<div id="@Model.GridModel.FrontObjectName">
    <div id="aside-popup-panel" class="panel-container">
        <div class="col-sm-12 title-container">
            <h1>@Admin_Resources.LabelAssociatePageList</h1>
            <div class="btn-container pull-right">
                <button type="button" class="btn-text-icon" onclick="ZnodeBase.prototype.CancelUpload('DivGetUnAssociatedPageSettingListForStore')"><i class="z-back"></i>@Admin_Resources.ButtonCancel</button>
                <div class="pull-right">
                    <button type="button" class="btn-text btn-text-secondary" onclick="Store.prototype.AssociatePageSetting(@Model.PortalId)">@Admin_Resources.ButtonSave</button>
                </div>                
            </div>
        </div>
        <div class="col-sm-12 page-container">
            <div style="display:none" class="messageBoxContainer error-msg text-center text-center margin-bottom" id="associatedPageClass" data-message="">@Admin_Resources.PleaseSelectAtleastOneRecord</div>
            @using (Ajax.BeginForm("GetUnassociatedPageList", "Store", new { portalId = Model.PortalId }, new AjaxOptions() { UpdateTargetId = Model.GridModel.FrontObjectName, OnSuccess = "GridPager.prototype.GridUpdateHandler" }, new { @id = "searchform" }))
            {
                <div id="filterComponent">
                    @Html.Partial("~/Views/DynamicGrid/_FilterComponent.cshtml", Model.GridModel.FilterColumn)
                </div>
            }
            <div class="col-sm-12 list-container">
                @{
                    @Html.Partial("~/Views/DynamicGrid/_DynamicGrid.cshtml", Model.GridModel)
                }
            </div>
            @Html.HiddenFor(m => m.PortalId)
        </div>
    </div>
</div>