﻿@using Znode.Engine.Admin.ViewModels

@model ParentAccountListViewModel
@{
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
}
<div id="@Model.GridModel.FrontObjectName" class="dirtyignore">
    <div id="aside-popup-panel">
        <div class="col-sm-12 title-container">
            <h1 data-test-selector="hdgAccounts">@Admin_Resources.LabelAccountsList</h1>
            <div class="pull-right btn-container">
                <button type="button" class="btn-text-icon margin-bottom" onclick="ZnodeBase.prototype.CancelUpload('divParentAccountListPopup')" data-test-selector="linkBack"><i class='z-back'></i>@Admin_Resources.ButtonBack</button>
            </div>
        </div>
        <!--Main Container-->
        <section class="col-sm-12 page-container">
            @using (Ajax.BeginForm(actionName, controllerName, new AjaxOptions() { UpdateTargetId = Model.GridModel.FrontObjectName, OnSuccess = "GridPager.prototype.GridUpdateHandler" }, new { @id = "searchform" }))
            {
                <div id="filterComponent">
                    @Html.Partial("~/Views/DynamicGrid/_FilterComponent.cshtml", Model.GridModel.FilterColumn)
                </div>
            }
            <div class="col-sm-12 list-container">
                @{
                    @Html.Partial("~/Views/DynamicGrid/_DynamicGrid.cshtml", Model.GridModel)
                }
            </div>
        </section>
    </div>
</div>
<script>
    //To bind the details of account into field after selecting account from grid
    Account.prototype.BindSelectedParentAccountDetails();
</script>
