﻿@model Znode.Engine.WebStore.ViewModels.ProductViewModel
@using Znode.Libraries.ECommerce.Utilities;
@{
    string Mgf = Convert.ToString(Model.Attributes?.FirstOrDefault(x => x.AttributeCode == "Manufacturerpartnum")?.AttributeValues);
    string MPW = Convert.ToString(Model.Attributes?.FirstOrDefault(x => x.AttributeCode == "ExternaliD")?.AttributeValues);
    string Manufacturer = Convert.ToString(Model.Attributes?.FirstOrDefault(x => x.AttributeCode == "Manufacturer")?.AttributeValues);
}
<h1 data-test-selector="hdgProductName" class="product-name">@Html.RenderBlock(Model.Name)</h1>
<div class="product-rating">
    @Html.Partial("_StarRating", Model.Rating)
    @{
        int totalreviews = 0;
        totalreviews = (Model?.ProductReviews?.Count).GetValueOrDefault();
        string ratingText = Model.Rating > 0 ? string.Format(WebStore_Resources.TextRating, Math.Round(Model.Rating, 1), totalreviews) : string.Empty;
    }
    @ratingText<a data-test-selector="linkReadReviewLabel" href="#scrollReview" onclick="javascript: $('#tab-reviews').click();">@WebStore_Resources.LinkTextReadReviews</a>
</div>
<div class="col-xs-12 nopadding">
    <div class="product-number-details">
        <div class="product-number" data-test-selector="divProductNumber">
            @if (!string.IsNullOrEmpty(Model.SKU))
            {
                <span data-test-selector="spnProductItemLabel">@WebStore_Resources.LabelProductItem:</span>
                string sku = !string.IsNullOrEmpty(Model.ConfigurableProductSKU) ? Model.ConfigurableProductSKU : Model.SKU;
                @Html.RenderBlock(sku)
            }
        </div>
        <div class="product-brand">
            @*@if (!string.IsNullOrEmpty(Model.Attributes?.ValueFromSelectValue(ZnodeConstant.Brand)) && Model.IsBrandActive)
                {
                    <span data-test-selector="spnProductBrandLabel">@WebStore_Resources.LabelProductBrand</span>
                    <a href="@Url.GetBrandUrl(Model.BrandSeoUrl, null, Model.BrandId)" data-test-selector="linkProductBrand" id="lnkProductBrand">
                        @Html.RenderBlock(Model.Attributes?.ValueFromSelectValue(ZnodeConstant.Brand))
                    </a>
                }*@
            @if (!string.IsNullOrEmpty(Model.Attributes?.ValueFromSelectValue("Manufacturer")) != null)
            {
                <span data-test-selector="spnProductBrandLabel">@WebStore_Resources.LabelProductBrand</span>
                <a href="@Url.GetBrandUrl(Model.BrandSeoUrl, null, Model.BrandId)" data-test-selector="linkProductBrand" id="lnkProductBrand">
                    @Html.RenderBlock(Model.Attributes?.ValueFromSelectValue("Manufacturer"))&nbsp;&nbsp;&nbsp;
                </a>

            }

        </div>
        <div class="product-brand">
            <span data-test-selector="spnProductBrandLabel">Mfg#:</span>
            @Mgf
        </div>
        <div class="product-brand">
            <span data-test-selector="spnProductBrandLabel">MPW#:</span>
            @MPW
        </div>
    </div>
</div>

<div class="col-xs-12 nopadding product-short-description" data-test-selector="divShortDescription">@Html.RenderBlock(@WebUtility.HtmlDecode(Model.Attributes.Value("ShortDescription")))</div>
@*<div class="col-xs-12 nopadding product-description" data-test-selector="divLongDescription">@Html.RenderBlock(@WebUtility.HtmlDecode(Model.Attributes.Value("LongDescription")))</div>*@

<div class="col-xs-12 highlight-container nopadding">
    <div data-test-selector="divHighlight" class="col-xs-12 product-highlight nopadding">
        @{
            if (Model.PublishProductId > 0)
            {
                List<string> codesList = Model.Attributes?.FirstOrDefault(x => x.AttributeCode == ZnodeConstant.Highlights)?.SelectValues?.Select(y => y.Code)?.ToList();
                if (codesList?.Count > 0)
                {
                    string highLightsCodes = string.Join(",", codesList);
                    int publishProductId = Model.ConfigurableProductId > 0 ? Model.ConfigurableProductId : Model.PublishProductId;
                    string sku = !string.IsNullOrEmpty(Model.ConfigurableProductSKU) ? Model.ConfigurableProductSKU : Model.SKU;
                    Html.RenderAction("GetProductHighlights", "Product", new { productId = publishProductId, highLightsCodes = highLightsCodes, sku = sku });
                }
            }
        }
    </div>
</div>
@Html.Partial("../Schema/_ProductSchema", Model)