﻿@model Znode.Engine.WebStore.ViewModels.ProductViewModel
@using Znode.Engine.WebStore.Agents
@{
    var _portal = PortalAgent.CurrentPortal;
    string _fileLocation = $"/Views/Themes/{_portal.Theme}";
    bool isLiteVersion = false;
    if (ViewBag.IsLite != null) { isLiteVersion = (bool)ViewBag.IsLite; }

    string PDPVideoURL = "";
    string NewPDPVideoURL = "";
    PDPVideoURL = Model.Attributes?.Value("VideoURL");
    if (PDPVideoURL != null)
    {
        PDPVideoURL = Model.Attributes?.Value("VideoURL");

        string s2 = "https://";
        string s1 = "http://";

        bool str1 = PDPVideoURL.Contains(s2);
        bool str2 = PDPVideoURL.Contains(s1);

        if (str1 == false)
        {
            if (str2 == true)
            {
                NewPDPVideoURL = PDPVideoURL.Replace("http", "https");
            }
            else
            {
                NewPDPVideoURL = String.Concat(s2, PDPVideoURL);
            }
        }
        else
        {
            NewPDPVideoURL = PDPVideoURL;
        }
    }

}
<div class="col-xs-12 nopadding image-view">
    @if (Convert.ToBoolean(Model.Attributes?.Value("NewProduct")))
    {
        <img src="@_fileLocation/Images/new-product-tag.png" alt="New Product" class="img-responsive new-product-tag" />
    }
    <div class="simpleLens-gallery-container" id="ImageZoom">
        <div class="simpleLens-container">
            <div class="simpleLens-big-image-container">
                <a id="product-lens-image" class="simpleLens-lens-image" data-lens-image="@Model.ImageMediumPath">
                    <img id="product-image" src="@Model.ImageLargePath" alt="@(Model.Attributes?.Value("ImageAltText"))" class="simpleLens-big-image" />
                </a>
            </div>
        </div>
        @if (PDPVideoURL != null)
        {
            <div class="item">
                <div class="VideoURL text-center">
                    <center><iframe class="YouTubeFrame" src="@PDPVideoURL" alt="Video" title="Video"></iframe></center>
                </div>
            </div>
        }

        <div class="col-xs-12 nopadding product-altimages">

            @if (isLiteVersion)
            {
                @Ajax.Partial("AlternateImages", "AlternateProductImages", "Product", new { id = ViewBag.ProductId, expands = "ProductImage", seo = ViewBag.Seo, isquickview = ViewBag.IsQuickView, publishstate = PortalAgent.CurrentPortal.PublishState })
            }
            else
            {

                <div id="alt-images" class="owl-carousel alternate-img Product_Altimages">
                    @if (PDPVideoURL != null)
                    {
                        <div class="item showvideoclick">
                            <a class="video liVideoHide setimage videosetimg" onclick="setVisibility('VideoURL', 'inline');" title="Play Video">
                                <img src="../Views/Themes/MPW/Images/video.png" alt="@Html.RenderBlock(Model.Name)" style="width:auto;" />
                            </a>
                        </div>

                    }

                    @if (Model?.AlternateImages?.Count > 0 && !Model.IsQuickView)
                    {

                        <div class="item showimageclick">
                            <div class="item showimageclick">
                                <a href="#" id="product-lens-image" class="simpleLens-lens-image" data-lens-image="@Model.ImageLargePath" onclick="ChangeImage('@Model.ImageLargePath','@Model.ImageLargePath')">
                                    <img id="product-image" src="@Model.ImageLargePath" alt="@(Model.Attributes?.Value("ImageAltText"))" class="simpleLens-big-image" />
                                </a>
                            </div>
                        </div>
                        foreach (var image in Model.AlternateImages)
                        {
                            <div class="item showimageclick">
                                <a href="#" class="simpleLens-thumbnail-wrapper"
                                   data-lens-image="@image.ImageLargePath"
                                   data-big-image="@image.ImageLargePath" onclick="ChangeImage('@image.ImageLargePath','@image.ImageLargePath')">
                                    <img id="product-image" data-src="@image.ImageThumbNailPath" src="@image.ImageThumbNailPath" class="b-lazy">
                                </a>
                            </div>
                        }
                    }

                    @if (Model?.AlternateImages?.Count <= 0 && !Model.IsQuickView && PDPVideoURL != null)
                    {

                        <div class="item showimageclick">
                            <div class="item showimageclick">
                                <a id="product-lens-image" class="simpleLens-lens-image" data-lens-image="@Model.ImageLargePath">
                                    <img id="product-image" src="@Model.ImageLargePath" alt="@(Model.Attributes?.Value("ImageAltText"))" class="simpleLens-big-image" />
                                </a>
                            </div>
                        </div>
                    }


                </div>
                <!--Template Level Script-->
                <script src="@Helper.GetThemeFilePath($"/Views/Themes/", "/Scripts/lib/jquery.simpleGallery.js")"></script>
                <script src="@Helper.GetThemeFilePath($"/Views/Themes/", "/Scripts/lib/jquery.simpleLens.js")"></script>

                <!--Product Zoom Effect-->
                <script>
                    $(function () {
                        $('#ImageZoom .simpleLens-thumbnails-container img').simpleGallery();
                        $('#ImageZoom .simpleLens-big-image').simpleLens();
                       
                        $(".Product_Altimages").owlCarousel({
                            autoPlay: false,
                            navigation: true,
                            items: 4,
                            itemsCustom: [
                                [0, 1],
                                [320, 4],
                                [480, 4],
                                [600, 4],
                                [768, 6],
                                [992, 5],
                                [1200, 6]
                            ],
                            navigationText: [
                                "<i class='zf-arrow-left-big'></i>",
                                "<i class='zf-arrow-right-big'></i>"
                            ]
                        });
                    });

                </script>
            }
        </div>
    </div>
</div>
<!--Nivi Code Video URL call-->
<script language="JavaScript">
    $(document).ready(function () {
        $(".VideoURL").hide();
    });

    $(".showimageclick").click(function () {
        $(".VideoURL").hide(); $(".simpleLens-container").show(); $("iframe").each(function () {
            var src = $(".showimageclick").attr('src');
                $(this).attr('src', src);
        });
    })
    $(".simpleLens-thumbnail-wrapper").click(function () {
        $(".VideoURL").hide(); $(".simpleLens-container").show(); $("iframe").each(function () {
            var src = $(this).attr('src');
            $(this).attr('src', src);
        });
    })
    $(".showvideoclick").click(function () { $(".VideoURL").show(); $(".simpleLens-container").hide(); $(".VideoURLLifestyle").hide() })

</script>

<script type="text/javascript">
    function ChangeImage(t, a) { $("#product-image").attr("src", t), $("#product-lens-image").attr("href", a) }
</script>

<script>
    var NewPDPVideoURL = $("#NewPDPVideoURL").val();
    setTimeout(function () {
        $(".youtubevideodivmobile .YouTubeFrame").attr("src", NewPDPVideoURL);
        $(".youtubevideodivdesktop .YouTubeFrame").attr("src", NewPDPVideoURL);
    }, 3000);
    });
</script>
