﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Libraries.ECommerce.Utilities
@model ProductViewModel
@{
    string callForPricingMessage = "Call For Pricing !!!"; Html.RenderMessage(WebStoreConstants.ProductCallForPricing)?.ToString();
    bool IsCallForPricing = Convert.ToBoolean(Model.Attributes?.Value(ZnodeConstant.CallForPricing));
    ProductPromotionViewModel promotionCallForPricing = Model?.Promotions?.FirstOrDefault(x => x.PromotionType == ZnodeConstant.PromotionCallForPricing);
    if (HelperUtility.IsNotNull(promotionCallForPricing))
    {
        IsCallForPricing = true;
        callForPricingMessage = string.IsNullOrEmpty(promotionCallForPricing.PromotionMessage) ? callForPricingMessage : promotionCallForPricing.PromotionMessage;
    }
    bool isObsolete = Convert.ToBoolean(Model.Attributes?.FirstOrDefault(x => x.AttributeCode == ZnodeConstant.IsObsolete)?.AttributeValues);
    string disable = isObsolete || IsCallForPricing || !Model.ShowAddToCart ? "disabled" : "";
    bool isGroupProduct = string.Equals(Model.Attributes.SelectAttributeList(ZnodeConstant.ProductType)?.FirstOrDefault()?.Code, ZnodeConstant.GroupedProduct, StringComparison.OrdinalIgnoreCase);
    var PersonliseValues = Model?.Attributes?.Where(x => x.IsPersonalizable && x.AttributeTypeName == "Text").ToList();
    string inventoryMessageClass = Model.ShowAddToCart ? "status-outofstock hvr-pulse" : "error-msg";
    string UOM = ""; Attributes.ValueFromSelectValue(Model?.Attributes, "UOM");
    Model.CartParameter?.Add("IsRedirectToCart", "False");
    string obsoleteMessage = Model.IsQuickView ? string.Format(WebStore_Resources.QuickViewObsoleteMessage, HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority) + Url.GetProductUrl(Model?.SEOUrl, Model?.PublishProductId.ToString())) : WebStore_Resources.ObsoleteMessage;
    string obsoleteClass = isObsolete ? "cut-price" : "";
    bool IsCloudflareEnabled = GlobalAttributeHelper.IsCloudflareEnabled();
    string productSku = string.IsNullOrEmpty(Model.ConfigurableProductSKU) ? Model.SKU : Model.ConfigurableProductSKU;
    string typicalLeadTime = Convert.ToString(Model.Attributes?.FirstOrDefault(x => x.AttributeCode.Equals(ZnodeConstant.TypicalLeadTime, StringComparison.InvariantCultureIgnoreCase))?.AttributeValues);
    bool isDownloadable = Convert.ToBoolean(Model.Attributes?.FirstOrDefault(x => x.AttributeCode.Equals(ZnodeConstant.IsDownloadable, StringComparison.InvariantCultureIgnoreCase))?.AttributeValues);
}
<div class="col-xs-12 product-info">
    <div class="col-xs-12 product-price nopadding">
        @if (isObsolete)
        {
            <div class="col-12 product-price p-0">
                <div class="price"><h4 class="error-msg obsolete-msg pt-2 pb-2">@Html.RenderBlock(obsoleteMessage)</h4></div>
            </div>
        }
        @if (isGroupProduct && !IsCallForPricing)
        {
            <h2>
                <span id="groupproductmessage"></span>
            </h2>
            if (!string.IsNullOrEmpty(typicalLeadTime) && !isDownloadable)
            {
                <div id="divTypicalLeadTime" class="typical-time padding-bottom"><span>@WebStore_Resources.LabelTypicalLeadTime: </span>@typicalLeadTime @WebStore_Resources.LabelDays </div>
            }
        }
    </div>
    <span data-test-selector="lblMainQuantityErrMsg" id="QuickViewQuantiyErrorMessage" class="error-msg"></span>
    <div class="col-xs-12 nopadding">
        @{
            if (string.Equals(Model.Attributes?.SelectAttributeList(ZnodeConstant.ProductType)?.FirstOrDefault()?.Code, ZnodeConstant.BundleProduct, StringComparison.OrdinalIgnoreCase))
            {
                Html.RenderAction("GetBundleProduct", "Product", new { productId = Model?.PublishProductId });
            }
        }
    </div>
    @if (!IsCallForPricing)
    {
        <div class="col-xs-12 product-variations nopadding" id="scrollReview">
            <div class="col-xs-12 nopadding your-pricing">
                <div class="col-xs-12 col-sm-7 col-md-6 nopadding">
                    @if (!IsCallForPricing && !isGroupProduct)
                    {
                        <div class="price" id="product_Detail_Price_Div">
                            <span data-test-selector="lblYourPrice">@WebStore_Resources.ColumnYourPrice</span>
                            @if (IsCloudflareEnabled)
                            {
                                <h3 class="dynamic-product-price @obsoleteClass">
                                    <span class="cloudflareSpan" data-id="@Model.PublishProductId" data-type="simpleproduct" data-sku="@productSku">Loading..</span>
                                </h3>
                            }
                            else
                            {
                                if (!Equals(Model.SalesPrice, null))
                                {
                                    <h3 class="dynamic-product-price @obsoleteClass" data-test-selector="hdgProductPrice" id="spnProductPrice">
                                        @if (HelperUtility.IsNotNull(Model.PromotionalPrice))
                                        {
                                            @Helper.FormatPriceWithCurrency(Model.PromotionalPrice, Model.CultureCode, UOM)
                                        }
                                        else
                                        {
                                            @Helper.FormatPriceWithCurrency(Model.SalesPrice, Model.CultureCode, UOM)
                                        }
                                    </h3>
                                    if (Model.SalesPrice != @Model.RetailPrice)
                                    {
                                        <span class="cut-price" data-test-selector="spnCutPrice">
                                            @Helper.FormatPriceWithCurrency(Model.RetailPrice, Model.CultureCode, UOM)
                                        </span>
                                    }
                                }
                                else
                                {
                                    if (HelperUtility.IsNotNull(Model.PromotionalPrice))
                                    {
                                        <h3 data-test-selector="lblPriceCut" id="spnProductPrice" class="dynamic-product-price @obsoleteClass">@Helper.FormatPriceWithCurrency(Model.PromotionalPrice, Model.CultureCode, UOM)</h3>
                                        <span data-test-selector="spnCutPrice" class="cut-price">
                                            @Helper.FormatPriceWithCurrency(Model.RetailPrice, Model.CultureCode, UOM)
                                        </span>
                                    }
                                    else
                                    {
                                        <h3 data-test-selector="hdgProductPrice" id="spnProductPrice" class="dynamic-product-price @obsoleteClass">@Helper.FormatPriceWithCurrency(Model.ProductPrice, Model.CultureCode, UOM)</h3>
                                    }
                                }
                            }
                        </div>
                    }

                </div>
                <div class="col-xs-12 col-sm-5 col-md-6 nopadding">
                    @*@Html.AddToCartLink(WebStore_Resources.ButtonAddToCart, "/Product/AddToCartProduct", Model.CartParameter, "btn-text-full btn-bg-primary", "Product.prototype.BindAddOnProductSKU(this,event)", disable)*@

                    @Html.AddToCartAjaxRequest(WebStore_Resources.ButtonAddToCart, "/Product/AddToCartProduct", Model.CartParameter, "btn-text-full btn-bg-primary", "Product.prototype.BindAddOnProductSKU(this,event)", disable, "Product.prototype.DisplayAddToCartMessage(data)")
                </div>
            </div>

            <div class="col-xs-12 product-customize nopadding">
                <div class="col-xs-12 nopadding">
                    @if (PersonliseValues?.Count > 0)
                    {
                        Dictionary<string, string>
                            PersonliseCodeValue = new Dictionary<string, string>
                                ();
                        PersonliseValues.ForEach(x => PersonliseCodeValue.Add(x.AttributeCode, x.AttributeValues));
                        Html.RenderAction("GetPersonalisedAttributes", "Product", new { productId = Model.PublishProductId, PersonliseValues = PersonliseCodeValue });
                    }
                </div>
                <div class="col-xs-12 nopadding tier-price">
                    @if (IsCloudflareEnabled)
                    {
                        <span id="CloudflareTierPriceSpan" data-id="@Model.PublishProductId" data-type="simpleproduct" data-sku="@productSku">Loading..</span>
                    }
                    else if (Model.TierPriceList?.Count > 0)
                    {
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Tier Quantity</th>
                                    <th>Price/Item</th>
                                    <th>You Save</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.TierPriceList)
                                {
                                    <tr>
                                        <td data-test-selector="colQuantity">@Convert.ToDouble(item.Quantity)</td>

                                        <td><span class="@obsoleteClass" data-test-selector="spnTierPrice">@Helper.FormatPriceWithCurrency(item.Price, Model?.CultureCode)</span> </td>
                                        @* Calculates the % savings on tier pricing *@
                                        <td>
                                            @if (Model.ProductPrice != null)
                                            {
                                                <span data-test-selector="spnTierPercentSave">@Math.Ceiling((decimal)(100 - ((100 / Model.ProductPrice) * item.Price))) %</span>
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                </div>
                <div class="col-xs-12 addons-attributs">
                    @if (isGroupProduct)
                    {
                        var attributes = Model?.Attributes?.Where(x => x.IsConfigurable)?.ToList();
                        <div id="groupProductList">
                            @{Html.RenderAction("GetGroupProductList", "Product", new { productId = Model?.PublishProductId, IsCallForPricing = Model?.IsCallForPricing, isObsolete = isObsolete });}
                        </div>
                        @Html.HiddenFor(m => m.ShowAddToCart)
                    }
                    else
                    {
                        <div class="col-xs-12 nopadding" id="dynamic-product-variations">
                            @Html.Partial("_ProductAttributes")
                        </div>
                    }
                    <div class="col-xs-12 nopadding" id="dynamic-product-addons">
                        @Html.Partial("_AddOns")
                    </div>
                </div>
            </div>
            @Html.Partial("_AddToWishList", Model)
            <div class="col-xs-12 nopadding wishlist-status"><a id="accountWishList" href="" class=""></a></div>
        </div>
    }
    else
    {
        <div class="price"><h4 class="error-msg">@callForPricingMessage</h4></div>
        <!--Continue Button-->
        <div class="col-xs-12 col-sm-6 mpw-addtocart-btn nopadding">
            <button type="reset" class="col-xs-12 btn-text-full red" onclick="location.href = '/ServiceEnquiry'">
                Contact Us
            </button>
        </div>
    }
</div>
<script>
    $(document).ready(function () {
        var IsCloudflareEnabled = '@IsCloudflareEnabled'
        if (IsCloudflareEnabled == 'True') {
            Product.prototype.GetPrice('@obsoleteClass', '@(!string.IsNullOrEmpty(Model.MinQuantity) ? Model.MinQuantity: "1")');
        }
    })
</script>
