﻿@using Znode.Engine.Admin.ViewModels
@model InventoryListViewModel
@using Znode.Engine.Admin.Models
@{
    ViewBag.Title = Admin_Resources.TitleOMS + " | " + Admin_Resources.Multifront;
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
}
<div id="@Model.GridModel.FrontObjectName">
    <div class="row">
        <!--Left Panel-->
        <aside>
            <button id="slide-menu" class="slide-menu-btn" data-toggle="tooltip" data-placement="right" title="Expand/Collapse"><i class="z-left-collaps-arrow"></i></button>
            <div class="slide-container">
                <h3>@Admin_Resources.HeaderInventory</h3>
                @Html.Partial("~/Views/Shared/_ChildTabMenu.cshtml")
            </div>
        </aside>
        <!--Main Container-->
        <div id="share-btn" style="display:none"></div>
        <section class="main-container">
            <div class="col-sm-12 page-container">
                <div class="col-sm-12 title-container">
                    <h1>@Admin_Resources.HeaderInventory</h1>
                    <div class="pull-right">
                        @Html.AuthorizedRawActionLink(Admin_Resources.ButtonAdd, "Create", controllerName, null, new { @class = "btn-text", title = Admin_Resources.ButtonAdd })
                    </div>
                </div>
                @using (Ajax.BeginForm(actionName, controllerName, new AjaxOptions() { UpdateTargetId = Model.GridModel.FrontObjectName, OnSuccess = "GridPager.prototype.GridUpdateHandler" }, new { @id = "searchform" }))
                {
                    <div id="filterComponent">
                        @Html.Partial("~/Views/DynamicGrid/_FilterComponent.cshtml", Model.GridModel.FilterColumn)
                    </div>
                }

                @Html.Partial("~/Views/Shared/Controls/_PopUp.cshtml",
            new PopupModel()
            {
                Title = Admin_Resources.HeaderConfirmDelete,
                Description = Admin_Resources.TextInventoryConfirmDelete,
                ModalPopUpId = "InventoryDeletePopup",
                Buttons = new List<PopUpButtonModel>() {
                new PopUpButtonModel { ButtonText = @Admin_Resources.TextOk, ButtonAttributes="data-dismiss=modal",OnClickFunctionName = "javscript: var inventory = new Inventory(); inventory.DeleteInventory(this)"}
                }
            })

                <div class="col-sm-12 list-container">
                    @{
                        @Html.Partial("~/Views/DynamicGrid/_DynamicGrid.cshtml", Model.GridModel)
                        @Html.Partial("~/Views/Price/_ExcelSamples.cshtml")
                    }
                </div>
            </div>
        </section>
    </div>
</div>
