﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Libraries.ECommerce.Utilities
@model RMAReturnViewModel
@{
    bool isReturnsDetailsReceipt = Model?.IsReturnDetailsReceipt ?? true;
}
@if (!Equals(Model, null))
{
    <div id="layout-account-receipt" class="main-wrapper">
        <div class="container">
            <div class="row user-account mobile-paddingleft-right">
                <div class="col-xs-12 nopadding">
                    <h3 class="page-title py-4" data-selector="labelReturnOrderHeading">@WebStore_Resources.TitleReturnOrder @Model.ReturnNumber.ToString()</h3>
                </div>
                <div class="col-xs-12 account-dashboard nopadding">
                    <div class="col-sm-3 col-lg-2 nopadding">
                        <nav class="account-container-menu">
                            @Html.Partial("_AccountMenu")
                        </nav>
                    </div>
                    @if (Model != null)
                    {
                        <div class="col-xs-12 col-sm-9 col-lg-10 order-receipt right-container">
                            @if (!isReturnsDetailsReceipt)
                            {
                                <h1 class="page-title" data-test-selector="hdgOrderReceiptPageTitle">@WebStore_Resources.LabelThankYouForReturn</h1>
                                <div class="col-xs-12 nopadding font-16">
                                    @WebStore_Resources.TextThankYouReturn
                                </div>
                            }
                            <a href="#" onclick="RMAReturn.prototype.PrintReturnReceipt('@Model.ReturnNumber')" class="pull-right btnSubmitReturn">
                                <i class="zf-printer"></i> <span>@WebStore_Resources.ButtonPrint</span>
                            </a>
                            <div class="col-xs-12 margin-top-bottom nopadding">
                                <div class="col-xs-12 col-sm-6 nopadding receipt-info margin-bottom">
                                    <h3 class="section-header-color" data-selector="labelReturnOrderDetailsHeading">@WebStore_Resources.TitleReturnDetails</h3>
                                    <div>
                                        <strong data-selector="labelOrderNumber">@WebStore_Resources.TitleOrderNumber:</strong> @Model.OrderNumber
                                    </div>
                                    <div>
                                        <strong data-selector="labelReturnDate">@WebStore_Resources.TitleReturnDate:</strong> @Model.ReturnDate.ToDateTimeFormat()
                                    </div>
                                    <div>
                                        <strong data-selector="labelExpectedReturnQuantity">@WebStore_Resources.TitleExpectedReturnQuantity:</strong> @Model.TotalExpectedReturnQuantity
                                    </div>
                                    <div>
                                        <strong data-selector="labelReturnDate">@WebStore_Resources.LabelReturnTotal:</strong> @Helper.FormatPriceWithCurrency(Convert.ToDecimal(Model.TotalReturnAmount), Model.CultureCode)
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 nopadding receipt-info margin-bottom">
                                    <h3 class="section-header-color" data-test-selector="lblReturnCodeHeading">@WebStore_Resources.TitleReturnCode</h3>
                                    <div class="text-center">
                                        @if (!string.IsNullOrEmpty(Model.BarcodeImage))
                                        {
                                            <img src="@Model.BarcodeImage" data-test-selector="imgReturnBarCode" alt="" class="img-responsive" />
                                            <br />
                                            <span data-selector="labelReturnOrderNumber">@Model.ReturnNumber</span>
                                        }
                                </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 nopadding receipt-info">
                                    <h3 class="section-header-color">@WebStore_Resources.LabelShippingTo</h3>
                                    @Html.RenderBlock(Model.ShippingToAddressHtml)
                                </div>
                                <div class="col-xs-12 col-sm-6 nopadding receipt-info">
                                    <h3 class="section-header-color">@WebStore_Resources.TitleShippingFrom</h3>
                                    @Html.RenderBlock(Model.ShippingFromAddressHtml)
                                </div>
                            </div>
                            <div class="col-xs-12 margin-top-bottom nopadding receipt-item-list shopping-cart">
                                <div class="table-responsive">
                                    <table class="table table-tr">
                                        <tr class="table-heading" style="border-bottom:1px solid #c3c3c3;">
                                            <th class="table-td receipt-column-item">@WebStore_Resources.LabelImage</th>
                                            <th class="table-td receipt-column-item">@WebStore_Resources.TitleSKU</th>
                                            <th class="table-td receipt-column-item">@WebStore_Resources.LabelProduct</th>
                                            <th class="table-td receipt-column-price">@WebStore_Resources.LabelStatus</th>
                                            <th class="table-td receipt-column-item">@WebStore_Resources.LabelReason</th>
                                            <th class="table-td receipt-column-quantity">@WebStore_Resources.LabelExpectedQty</th>
                                            @if (isReturnsDetailsReceipt)
                                            {
                                                <th class="table-td receipt-column-price">@WebStore_Resources.LabelConfirmedQty</th>
                                                <th class="table-td receipt-column-price">@WebStore_Resources.ColumnShipping</th>
                                            }
                                            <th class="table-td receipt-column-price">@WebStore_Resources.TitleTotal</th>
                                        </tr>
                                        @foreach (var items in Model?.ReturnLineItems)
                                        {
                                            <tr>
                                                <td>
                                                    <img src="@items.ProductImagePath" class="grid-img" style="max-width: 40px;max-height: 40px;min-height: 40px;" />
                                                </td>
                                                <td>
                                                    <span>@items.Sku</span>
                                                </td>
                                                <td>
                                                    <span>@items.ProductName</span><br />
                                                    @if (items?.PersonaliseValuesDetail?.Count > 0)
                                                    {
                                                        foreach (var item in items.PersonaliseValuesDetail)
                                                        {
                                                            if (!Equals(item.PersonalizeName, null) && !Equals(item.PersonalizeValue, string.Empty))
                                                            {
                                                                <div class="cart-item-description">
                                                                    <p> @item.PersonalizeName : @item.PersonalizeValue </p>
                                                                </div>
                                                            }
                                                        }
                                                    }
                                                    else if (items?.PersonaliseValueList?.Count > 0)
                                                    {
                                                        foreach (var item in items.PersonaliseValueList)
                                                        {
                                                            if (!Equals(item.Key, null) && !Equals(item.Value, string.Empty))
                                                            {
                                                                <p> @item.Key : @item.Value </p>
                                                            }
                                                        }
                                                    }
                                                    @Html.RenderBlock(@items.Description)
                                                </td>
                                                <td>
                                                    <span>@items.ReturnStatus.ToLower().ToProperCase()</span>
                                                </td>
                                                <td>
                                                    <span>@items.RmaReasonForReturn</span>
                                                </td>
                                                <td class="table-td receipt-column-quantity">
                                                    @if ((items.ExpectedReturnQuantity) % 1 == 0)
                                                    {
                                                        @($"{items.ExpectedReturnQuantity.ToInventoryRoundOff():n0}")
                                                    }
                                                    else
                                                    {
                                                        var expectedReturnQuantity = double.Parse(Convert.ToString(items.ExpectedReturnQuantity.ToInventoryRoundOff()));
                                                        @expectedReturnQuantity
                                                    }
                                                </td>
                                                @if (isReturnsDetailsReceipt)
                                                {
                                                    <td class="table-td receipt-column-quantity">
                                                        @if (items.RmaReturnStateId == (int)ZnodeReturnStateEnum.REJECTED || items.ReturnedQuantity == null)
                                                        {
                                                            if ((items.ExpectedReturnQuantity) % 1 == 0)
                                                            {
                                                                @($"{items.ExpectedReturnQuantity.ToInventoryRoundOff():n0}")
                                                            }
                                                            else
                                                            {
                                                                var expectedReturnQuantity = double.Parse(Convert.ToString(items.ExpectedReturnQuantity.ToInventoryRoundOff()));
                                                                @expectedReturnQuantity
                                                            }
                                                        }
                                                        else
                                                        {
                                                            if ((items.ReturnedQuantity) % 1 == 0)
                                                            {
                                                                @($"{items.ReturnedQuantity.ToInventoryRoundOff():n0}")
                                                            }
                                                            else
                                                            {
                                                                var confirmedQuantity = double.Parse(Convert.ToString(items.ReturnedQuantity.ToInventoryRoundOff()));
                                                                @confirmedQuantity
                                                            }
                                                        }
                                                    </td>
                                                    <td>
                                                        @{
                                                            var shippingCost = items.IsShippingReturn ? items.ShippingCost : null;
                                                        }
                                                        @Helper.FormatPriceWithCurrency(shippingCost, Model.CultureCode)
                                                    </td>
                                                }
                                                <td class="table-td receipt-column-total">
                                                    @if (string.IsNullOrEmpty(items.ReturnedQuantity.ToString()))
                                                    {
                                                        @Helper.FormatPriceWithCurrency(items.ExpectedReturnQuantity * items.Price, Model.CultureCode)
                                                    }
                                                    else
                                                    {
                                                        @Helper.FormatPriceWithCurrency(items.ReturnedQuantity * items.Price, Model.CultureCode)
                                                    }
                                                </td>
                                            </tr>
                                        }
                                    </table>
                                </div>
                                <div class="col-xs-12 nopadding cart-summary receipt-totals text-right">
                                    <div class="col-sm-offset-5 col-md-offset-6">
                                        <div class="form-group">
                                            <div class="col-xs-6 nopadding">@WebStore_Resources.ColumnSubTotal</div>
                                            <div class="col-xs-6 nopadding" data-test-selector="divSubtotal">@Helper.FormatPriceWithCurrency(Model.SubTotal, Model.CultureCode)</div>
                                        </div>

                                        @if (Model.ReturnTaxCost > 0)
                                        {
                                            <div class="form-group">
                                                <div class="col-xs-6 nopadding">@WebStore_Resources.ColumnTax</div>
                                                <div class="col-xs-6 nopadding" data-test-selector="divTaxCost">@Helper.FormatPriceWithCurrency(Model.ReturnTaxCost, Model.CultureCode)</div>
                                            </div>
                                        }
                                        @if (Model.ReturnShippingCost > 0)
                                        {
                                            <div class="form-group">
                                                <div class="col-xs-6 nopadding">@WebStore_Resources.ColumnShipping</div>
                                                <div class="col-xs-6 nopadding" data-test-selector="divShippingCost">@Helper.FormatPriceWithCurrency(Model.ReturnShippingCost, Model.CultureCode)</div>
                                            </div>
                                        }

                                        <div class="form-group receipt-total">
                                            <div class="col-xs-6 nopadding"><h2>@WebStore_Resources.LabelReturnTotal</h2></div>
                                            <div class="col-xs-6 nopadding" data-test-selector="divOrderTotal"><h2>@Helper.FormatPriceWithCurrency(Convert.ToDecimal(Model.TotalReturnAmount), Model.CultureCode)</h2></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 margin-top-bottom nopadding receipt-item-list shopping-cart">
                                @if (isReturnsDetailsReceipt && Model?.ReturnNotes?.Count > 0)
                                {
                                    <div class="dashboard-content">
                                        <div class="col-xs-12 nopadding notes-list shopping-cart ">
                                            <h3 class="b2b-section-header">@WebStore_Resources.LabelNotes</h3>
                                            <div class="table-responsive">
                                                <table class="table table-tr">
                                                    <tr class="table-heading" style="border-bottom:1px solid #c3c3c3;">
                                                        <th class="table-td receipt-column-item">@WebStore_Resources.TitleDate</th>
                                                        <th class="table-td receipt-column-item">@WebStore_Resources.LabelTime</th>
                                                        <th class="table-td receipt-column-item">@WebStore_Resources.LabelUpdatedBy</th>
                                                        <th class="table-td receipt-column-item">@WebStore_Resources.LabelNotes</th>
                                                    </tr>
                                                    @foreach (var items in Model?.ReturnNotes)
                                                    {
                                                        <tr>
                                                            <td>
                                                                <span>@items.ModifiedDate</span>
                                                            </td>
                                                            <td>
                                                                <span>@items.ModifiedTime</span>
                                                            </td>
                                                            <td>
                                                                <span>@items.UserEmailId</span>
                                                            </td>
                                                            <td class="table-td receipt-column-total">
                                                                <span>@items.Notes</span>
                                                            </td>
                                                        </tr>
                                                    }
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    }
                    else
                    {
                        <p class="text-center">@WebStore_Resources.NoResult</p>
                    }
                </div>
            </div>
        </div>
    </div>
    @Html.HiddenFor(m => m.IsReturnDetailsReceipt, new { @id = "hdnIsReturnsDetailsReceipt" })
}
