﻿@using Znode.Engine.WebStore.ViewModels
@model RMAReturnListViewModel
<div id=@Model.GridModel.FrontObjectName>
    <div id="layout-account-orderhistory" class="main-wrapper">
        <div class="container">
            <div class="row user-account mobile-paddingleft-right">
                <div class="col-xs-12 nopadding">
                    <h1 class="page-title">@WebStore_Resources.TitleReturnHistory</h1>
                </div>
                <div class="col-xs-12 account-dashboard nopadding">
                    <div class="col-xs-12 col-sm-3 col-lg-2 nopadding">
                        <nav class="account-container-menu">
                            @Html.Partial("_AccountMenu")
                        </nav>
                    </div>
                    <div class="col-xs-12 col-sm-9 col-lg-10 order-history right-container">
                        <div class="col-xs-12 nopadding">
                            <div class="col-xs-12 product-search nopadding">
                                <h3 class="section-header">@WebStore_Resources.LinkTextReturns</h3>
                                <div class="col-xs-12 filter-component order-history-component">
                                    @using (Ajax.BeginForm("GetReturnList", "RMAReturn", new AjaxOptions() { UpdateTargetId = Model.GridModel.FrontObjectName, OnSuccess = "GridPager.prototype.GridUpdateHandler" }, new { @id = "searchform" }))
                                    {
                                        <div id="filterComponent">
                                            @Html.Partial("_FilterComponent", Model.GridModel.FilterColumn)
                                        </div>
                                    }
                                    <a href="/RMAReturn/GetOrderDetailsForReturn" class="btn-text btn-bg-primary" data-test-selector="linkCreateReturn">@WebStore_Resources.LabelCreateReturn</a>
                                </div>

                                <div class="col-xs-12 list-container margin-top nopadding">
                                    <div class="col-xs-12 nopadding">
                                        @Html.Partial("_DynamicGrid", Model.GridModel)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(".zf-edit").attr('class', "edit-icon");
    $('td.z-returnstatus').each(function () {
        if ($(this).text().toLowerCase() != 'not submitted') {
            $(this).closest("tr").find('.edit-icon').attr('style', 'pointer-events: none ; color: white'); }
        else if ($(this).text().toLowerCase() == 'not submitted')
        {
            var manageReturnUrl = $(this).closest("tr").find('.edit-icon').attr('href');
            $(this).closest("tr").find('.zf-view').attr('href', manageReturnUrl);
            $(this).closest("tr").find('.return-number').children().attr('href', manageReturnUrl);
        }
    })
</script>
