﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Libraries.ECommerce.Utilities
@model RMAReturnOrderDetailViewModel
@{
    string title = string.IsNullOrEmpty(Model.ReturnNumber) ? @WebStore_Resources.TitleCreateReturn : @WebStore_Resources.TitleEditReturn;
    string displayDivReturnNotesAndButtons = (!string.IsNullOrEmpty(Model?.OrderNumber) && Model?.ReturnCartViewModel != null && Model?.ReturnCartViewModel?.ShoppingCartItems?.Count > 0) ? "" : "none";
}
<div id="divSelectReturnId" class="main-wrapper">
    <div class="container">
        <div class="row user-account mobile-paddingleft-right">
            <div class="col-xs-12 nopadding">
                <h1 class="page-title">@title</h1>
            </div>
            <div class="col-xs-12 account-dashboard nopadding">
                <div class="col-xs-12 col-sm-3 col-lg-2 nopadding">
                    <nav class="account-container-menu">
                        @Html.Partial("_AccountMenu")
                    </nav>
                </div>
                <div class="col-xs-12 col-sm-9 col-lg-10 order-receipt right-container">
                    <div class="col-xs-12 nopadding">
                        <div class="col-xs-12 nopadding mb-4 dashboard-content">
                            <div class="col-xs-12 product-search nopadding">
                                <div class="col-xs-12 filter-component border-bottom d-flex justify-content-between align-items-md-center">
                                    <div class="select-return-order d-flex flex-wrap align-items-center col-md-6">
                                        <div class="col-md-6">
                                            <label class="nopadding text-uppercase">@WebStore_Resources.LabelTextSelectYourOrderNumber</label>
                                        </div>
                                        @if (string.IsNullOrEmpty(Model.ReturnNumber))
                                        {
                                            <div class="col-md-6 account-typehead" data-test-selector="drpReturnNumber">
                                                <div>
                                                    @Html.FastSelectFor(model => model.OrderNumber, model => model.OrderNumber, "GetSuggestions", "Typeahead", "RMAReturn.prototype.GetOrderDetailsForReturn", 1, false,
                                                    new
                                                    {
                                                        htmlAttributes = new { @placeholder = WebStore_Resources.LabelAllOrders, @class = "", @id = "txtOrderNumber", @data_test_selector = "txtOrderNumber" },
                                                        parameters = new { @type = ZnodeTypeAheadEnum.EligibleReturnOrderNumberList.ToString(), @fieldname = "", @query = "", @mappingId = 0, @pageSize = ZnodeConstant.TypeAheadPageSizeForOrderReturn }
                                                    })
                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="col-md-6" data-test-selector="drpReturnNumber">
                                                <select id="drpOrderNumber" class="pr-20" disabled="disabled">
                                                    <option value="@Model.OrderNumber" selected="selected">@Model.OrderNumber</option>
                                                </select>
                                            </div>
                                        }
                                    </div>
                                    <div>
                                        <a href="/RMAReturn/GetReturnList" class="margin-left-right" data-test-selector="linkReturnListCancel">@WebStore_Resources.ButtonCancel</a>
                                    </div>
                                </div>
                                <div class="return-order-detail">
                                    @if (!string.IsNullOrEmpty(Model?.OrderNumber) && Model?.ReturnCartViewModel != null && Model?.ReturnCartViewModel?.ShoppingCartItems?.Count > 0)
                                    {
                                        @Html.Partial("ReturnItemsList", Model)
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 nopadding mb-4">
                            <div id="divReturnNotesAndButtons" style="display:@displayDivReturnNotesAndButtons">
                                <div><span style="font-size: 22px;">@WebStore_Resources.LabelNotes</span></div>
                                <div class="col-xs-12 nopadding">
                                    @Html.TextAreaFor(Model => Model.ReturnNote, new { rows = "5" })
                                    <input type="hidden" id="hdnOldReturnNote" value="@Model.ReturnNote" />
                                </div>
                                <div class="col-xs-12 nopadding d-flex flex-wrap justify-content-end">
                                    <button type="button" onclick="RMAReturn.prototype.DeleteOrderReturn()" id="btnDeleteReturn" name="btnDeleteReturn" class="btn-text btn-bg-secondary btnDeleteReturn" style="display:none">
                                        @WebStore_Resources.ButtonDeleteReturn
                                    </button>
                                    <button type="button" onclick="RMAReturn.prototype.SaveOrderReturn(false)" id="btnSaveReturn" name="btnSaveReturn" class="btn-text btn-bg-secondary btnSaveReturn" style="display:none">
                                        @WebStore_Resources.ButtonSaveReturn
                                    </button>
                                    <button type="button" onclick="RMAReturn.prototype.SaveOrderReturn(true)" id="btnSubmitReturn" name="btnSubmitReturn" class="btn-text btn-bg-primary btnSubmitReturn" style="display:none">
                                        @WebStore_Resources.ButtonSubmitReturn
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<link href="~/Views/Themes/Default/Content/css/fastselect.min.css" rel="stylesheet" />
<script src="~/Scripts/Core/Controls/Fastselect.standalone.js"></script>
<script src="~/Scripts/References/fastselect.mvc.model.js"></script>

