﻿@import "../_base.scss";

// Category List Widget.

.category-list-widget,.brand-list-widget{
    ul{width:100%;display:flex;flex-wrap:wrap;padding:0;margin:0;
        li{width:calc(50% - 10px);display:inline-block;margin:0 5px 10px;text-align:center;box-shadow:0 0 5px 0 rgba(23, 84, 116, 0.18);border:1px solid $base-color-white;
           &:hover{border:1px solid $border-bgcolor-default;}
           img{width:100%;margin:0 auto;padding:5px;}
           a{display:block;width:100%;}
           label{font-weight:normal;color:$text-fgcolor-default;cursor:pointer;text-transform:uppercase;font-size:16px;
                 &:hover{color:$base-color-primary;}
           }
        }
    }
}

//ProductList Category
.PLPcategorystatic {margin-top:15px;
    h1,h2{border-bottom: 3px solid $base-color-secondary;}
    .back-btn-category{width:95%;}
    .mpw-addtocart-btn{margin-top:15px;}
    .padding-right-20{padding-right:50px;margin-bottom:15px;}
}
// Media Query.
@include screensize(x-small){
    .PLPcategorystatic {
        h1,h2{border-bottom: 3px solid $base-color-secondary;}
        .back-btn-category{width:100%;margin-bottom:15px;}
        img{width:100%;}
        .padding-right-20{padding-right:0px;margin: 8px 0;}
    }
}
@include screensize(small) { 
    .category-list-widget ul li,.brand-list-widget ul li{width:calc(25% - 10px);}
    .PLPcategorystatic {
        h1,h2{border-bottom: 3px solid $base-color-secondary;}
        .back-btn-category{width:95%;}
        img{width:auto;}
        .padding-right-20{padding-right:50px;}
    }
}

