﻿@import "../_base.scss";

.product-list-widget{
    .product-item{margin:5px auto 10px;max-width:263px;position:relative;text-align:center;}
    .view-item{border:1px solid $base-color-white;padding:15px 10px;
        &:hover{border:1px solid $border-bgcolor-default;box-shadow:0 7px 17px 0 rgba(23, 84, 116, 0.18);z-index:99;
            .item-error-msg{background:rgba(0,0,0,0.2);}
            .btn-quick-view{display:inline-table;}
        }
        .item-error-msg{background:rgba(0,0,0,0.3);position:absolute;width:83%;top:90px;left:21px;right:0;text-align:center;vertical-align:middle;display:inline-block;
                p{color:#fff;font-weight:600;position:relative;font-size:18px;text-shadow: 2px 4px 3px rgba(0,0,0,0.3);}
        }
    }
    .product-img{
        .image{height:155px;width:100%;}
        img{margin:0 auto;max-height:155px;}
        .new-product-tag{position:absolute;top:5px;right:5px;z-index:99;width:40px;height:40px;}
        .btn-quick-view{position:absolute;top:210px;left:34%;font-size:11px;text-transform:uppercase;line-height:27px;display:none;z-index:99;padding:0 10px;font-family:$base-font-family-bold;border-radius:2px;}  
    } 
    .product-details{margin-top:10px;
            h4{font-size:$base-font-size;color:#666;line-height:18px;min-height:40px;}                     
            .price{margin:5px 0;font-weight: bold;
                   label{font-size:13px;margin:0;}
            }
            .cut-price{font-size:13px;}
            a{font-size:$base-font-size;text-decoration:none;}            
    }
    .owl-theme .owl-controls{position:absolute;right:0;text-align:center;top:-56px;
        .owl-buttons .owl-prev,.owl-buttons .owl-next{border:1px solid $border-bgcolor-default;border-radius:3px;color:$base-color-primary;height:28px;width:28px;margin:0;line-height:26px;opacity:1;font-family:$znode-icon-font !important;
                &:hover{background-color:$base-color-primary;color:$base-color-white}
        }
        .owl-buttons .owl-prev{margin-right:5px;}
    }
    .recent-view-items{float:left;width:100%;}
    .recommended-view-items{float:left;width:100%;}     // TODO - refactor to not just duplicate .recent-view-items class?
}
// Media Query
@include screensize(x-small) {
.product-list-widget .owl-theme .owl-controls{display:block !important;}
#layout-home .product-list-widget {padding:0 5px;}
}

@include screensize(small) {
.product-list-widget .owl-theme .owl-controls{display:block !important;}
#layout-home .product-list-widget {padding:0;}
}
