﻿@import "../_base.scss";

// Search Text Box Widget.
.search-widget {
    display: flex;

    .left-inner-icon {
        position: relative;

        i {
            position: absolute;
            padding: 14px 10px;
            height: 34px;
            pointer-events: none;
            top: 0;
            line-height: 4px;
        }
    }

    .search-form {
        width: 80%;
    }

    .twitter-typeahead {
        display: inline !important
    }

    .btn-text {
        margin-left: 0;
    }

    i {
        z-index: 999;
    }

    .tt-dropdown-menu {
        margin-top: 10px;
    }

    .voice-scan-block {
        display: flex;
        align-items: center;
        width: 20%;
        margin: 0 10px;

        .keyboard-icon {
            .zf-keyboard_voice, .zf-scan {
                color: $base-color-primary;
                border: 1px solid $base-color-primary;
                font-size: 24px;
                border-radius: 50%;
                padding: 3px;
                width: 22px;
                height: 15px;
                line-height: 15px;
                vertical-align: middle;
                text-align: center;
                margin-right: 8px;
                font-size: 24px !important;
            }
        }
    }

    .active {
        i {
            padding: 3px;
            width: 22px;
            height: 15px;
            line-height: 15px;
            vertical-align: middle;
            text-align: center;
            border-radius: 52%;
            font-size: 24px !important;
            background-color: #cc0000;
            -webkit-animation-name: voice;
            -webkit-animation-duration: 4s;
            animation: voice 2s infinite ease-in-out;
            color: #000 !important;            
            margin-right: 8px;
        }
    }
} 

#typeahead-results .close{color:$base-color-secondary;font-size: 15px;opacity: 0.7;padding: 2px 3px;
   &:hover{color:$base-color-primary;opacity:1;}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes voice {
    from {
        background-color: #cc0000;
        color: #fff;
    }

    to {
        background-color: #fff;
        color: #cc0000;
    }
}

/* Standard syntax */
@keyframes voice {
    from {
        background-color: #cc0000;
        color: #fff;
    }

    to {
        background-color: #fff;
        color: #cc0000;
    }
}

//Media Qeury
@include screensize(x-small) {
    .search-widget{ .search-form{width:100%;padding: 0px 0px 0px 0px;}}
}
@include screensize(small) {
    .search-widget{ .search-form{padding: 0px 100px 0px 100px;}}
}