﻿@import "../_base.scss";

// Subscribe Widget.
.newsletter-widget{
    label {color:$base-color-white; padding-right: 10px; line-height: 34px; margin-bottom: 0;}
    input[type="text"],.input-field button {background-color: transparent; color:$base-color-white;}       
}