﻿@import "_base.scss";

.navbar-nav{margin:0;
            .dynamic{ 
                &:hover {background-color:transparent;}
            .link-panel-widget li{padding: 14px;
                a{color: #fff;font-size: 15px;text-transform: uppercase;text-decoration: none;}
                &:hover {background-color:$base-color-primary;}
                }
            }
    > li {
        &:hover {background-color:$base-color-primary;}
        .dropdown-menu {border-top: 5px solid $base-color-primary;}
        > a {padding: 15px;font-size:$base-font-size + 1;color:$base-color-white;text-transform:uppercase;
            &:hover,&:active,&:focus{background-color:$nav-bgcolor-hover;}
        }
        .brand-filter a{font-size:18px;text-align:center;
            &:hover{background-color:#f4f4f4;}
        }
    }
}
.dropdown:hover .dropdown-menu {display: block;}
.dropdown-menu ul {padding: 0 0 10px 15px;
    li {line-height: 40px; min-height: 24px;}
}
.dropdown-menu a:hover {text-decoration: underline !important;}
.dropdown-submenu > .dropdown-menu {top: 0;left: 100%;margin-top: 0;margin-left: 0;-webkit-border-radius: 0;-moz-border-radius: 0;border-radius: 0;}
.dropdown-menu ul {padding: 0;}
.dropdown-menu{border-radius:0px;}
.dropdown-menu ul li {line-height: 40px;min-height: 24px;}
.dropdown-submenu:hover > .dropdown-menu {visibility: visible;}
.dropdown-submenu .dropdown-menu {visibility: hidden;}
.dropdown-submenu:hover > a:before {border-left-color: $base-color-secondary;}
.dropdown-submenu, .navbar {position: relative;}
.dropdown-submenu > a:before {display: block;content: " ";float: right;width: 0;height: 0;border-color: transparent transparent transparent $base-color-primary;border-style: solid;border-width: 5px 0 5px 5px;margin-top: 5px;margin-right: -12px;}
.navbar-collapse{background-color:$nav-bgcolor;padding:0;}
.dropdown-menu>li>a{padding: 5px 20px;font-size: 14px;}

// Nav Dropdown Code.
.nav-drop{right:0;line-height:50px;font-size:18px;color:$base-color-white;
    &:hover,&:active,&:focus{color:$base-color-primary;}
}

.nav-drop-container ul{background-color:$nav-bgcolor;margin:0;padding:0;position:absolute;right:-5px;width:50%;border-radius:0;
    li{list-style:none; display:block;position:relative !important;color:$base-color-white;min-height:24px;line-height:40px;
        a{padding:0 15px;color:$base-color-white;width:100%;display:block;}
        &:hover{background-color:$base-color-primary;color:$base-color-white;}

        ul{float:none !important;position:static !important;width:100%;min-height:50px !important;
           li{width:100% !important;
               a{color:$base-color-white !important;padding:10px 15px;}
           }
        }
    }
}

// Media Query.
@include screensize(x-small) {
    .dropdown-submenu {
        ul.dropdown-menu.set1.multi-level {
            position: absolute;
            left: 15px;
            top: auto;
            width: 90%;
        }
    }
    nav .nav-home{display:none;}
    .navbar-nav{height:auto !important;}
    .dropdown:hover .dropdown-menu {float:none;position:static;}
    /*.yamm .dropdown ul li{width:100%;}  
    .yamm .dropdown.yamm-fw .dropdown-menu {min-height:100px;}*/
}
@include screensize(small) {
    nav .nav-home{display:block;}
    .navbar-nav{height:50px !important;}
    .dropdown:hover .dropdown-menu {float:left;position:absolute;width: 280px;}
    .dropdown-submenu {
        ul.dropdown-menu.set1.multi-level {
            position: absolute;
            left: 100%;
            top: 0;
            width: 100%;
        }
    }
    /*.yamm .dropdown ul li{width:25%;}
    .yamm .dropdown.yamm-fw .dropdown-menu {min-height:250px;max-height:700px;overflow-y:auto;}*/
}
@include screensize(medium) {
    /*.yamm .dropdown ul li{width:19%;}
    .yamm .dropdown.yamm-fw .dropdown-menu {min-height:250px;max-height:450px;overflow-y:auto;}*/
}
@include screensize(x-large) {
    /*.yamm .dropdown.yamm-fw .dropdown-menu {max-height:700px;}*/
}
