﻿@import "_base.scss";

.shopping-cart {
    .cart-heading {
        display: flex;
        justify-content: space-between;

        @media only screen and (max-width: 480px) {
            flex-wrap: wrap;
            flex-direction: column;

            .page-title, .continue-shopping-btn {
                flex: 1 0 0;
                margin-left: 0;
                margin-bottom: 10px;
            }
        }

        @media only screen and (min-width: 992px) {
            .continue-shopping-btn {
                margin-right: 15px;
            }
        }
    }

    .cart-buttons {
        display: flex;
        justify-content: flex-end;

        .btn-text-icon {
            flex: 1 0 0;
            margin-left: 15px;

            &:first-child {
                margin-left: 0;
            }
        }

        div {
            margin-left: 10px;
        }
    }

    .cart-total-title .cart-sub-heading {
        font-size: 16px;
        color: $base-color-primary;
        font-weight: bold;
    }

    .cart-products {
        table {
            background-color: #f7f7f7;
            border: 1px solid $border-bgcolor-default;
            margin-bottom: 0;

            tr td, tr th {
                vertical-align: middle;
                padding: 5px;
            }

            tr th:first-child {
                width: 30px;
            }

            tr td:first-child {
                padding-left: 0 !important;
            }
        }

        .thead-text {
            font-weight: bold;
        }
    }

    .remove-item a {
        float: left;
        width: 100%;
        text-align: center;
        color: $base-color-primary;
    }

    .cart-item-details {
        .cart-item-description {
            font-size: $base-font-size;
            line-height: 26px;
        }

        a {
            display: block;
            font-size: $base-font-size;
            font-weight: bold;
            line-height: 26px;
            overflow: hidden;
            width: 100%;
        }

        .group-product-list p {
            line-height: 32px;
            font-weight: 600;

            i {
                font-size: 13px;
                color: $base-color-primary;
            }
        }

        .cart-image {
            a {
                max-height: 100%;
                overflow: visible;
            }
        }
    }

    .cart-item-quantity .quantity-msg-error {
        display: block;
    }

    .cart-summary {
        .text-center {
            background-color: #f7f7f7;
            border: 1px solid $border-bgcolor-default;
            border-top: 0;
            padding: 20px;
        }

        .order-summary {
            margin-top: 15px;
        }

        .cart-total {
            text-align: right;
            color: $base-color-secondary;

            .form-group {
                float: left;
                width: 100%;
                margin-bottom: 5px;
                line-height: 32px;
            }

            .total {
                border-top: 1px solid $border-bgcolor-default;
                float: left;
                width: 100%;

                h2 {
                    color: $base-color-primary;
                    font-size: 20px;
                    text-transform: uppercase;
                }
            }
        }

        .cart-item-remove-all i {
            color: $base-color-primary;
            padding-right: 5px;
        }

        .carttotalcontentarea .dashboard-loader {
            text-align: center;
            display: block;
            margin: 0 auto;
        }
    }

    .cart-promocode, .cart-giftcart {
        p {
            font-weight: bold;
            padding: 10px 0;
        }

        .input-group {
            max-width: 300px;
        }

    }

    .shipping-estimate-details {
        line-height: 20px;

        .styled-input input[type=radio] + label {
            padding-right: 10px;
            margin-bottom: 0;
        }

        .form-group {
            padding: 0 !important;
        }
    }

    .cart-apply-promocode {
        .right-inner-icon {
            i {
                line-height: 1;
            }

            .cancel-shipping-estimator {
                position: absolute;
                top: 0;
                right: 0;
                padding: 9px 15px;
                height: 34px;
            }
        }
    }

    .margin-top-bottom {
        .btn-text-icon:first-child {
            margin-left: 0;
        }
    }

    .cart-total, .cart-promocode {
        background-color: #f5f5f5;
        text-align: left !important;
        margin-bottom: 15px;
        border: 1px solid $border-bgcolor-default;

        .head-text {
            border-bottom: 1px solid $border-bgcolor-default;
        }

        h1 {
            font-size: 22px;
            text-transform: uppercase;
            padding: 5px 15px;
        }

        .form-group {
            padding: 5px 15px;
        }

        .align-right {
            text-align: right;
        }
    }

    .cart-total-title {
        margin-top: 15px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 15px;
        border-bottom: none !important;
        border: 1px solid $border-bgcolor-default;
        background: -moz-linear-gradient(top, #ffffff 0, #f0f0f0 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0,#ffffff), color-stop(100%,#f0f0f0));
        background: -webkit-linear-gradient(top, #ffffff 0,#f0f0f0 100%);
        background: -o-linear-gradient(top, #ffffff 0,#f0f0f0 100%);
        background: -ms-linear-gradient(top, #ffffff 0,#f0f0f0 100%);
        background: linear-gradient(to bottom, #ffffff 0,#f0f0f0 100%);

        .cart-item-remove-all {
            .zf-close {
                font-size: 10px;
                margin-right: 5px;
            }
        }
    }
}

.cart-item-quantity {
    input[type="text"] {
        width: 48px;
    }

    .quanity-msg-error {
        display: block;
    }
}

@include screensize(x-small) {
    .shopping-cart {
        padding: 0 5px;

        .cart-total-title h2 {
            padding: 15px 15px 30px 15px;
        }

        .cart-products {
            table {
                tr td, tr th {
                    vertical-align: middle;
                    padding: 5px;
                }

                tr th:first-child {
                    width: 30px;
                }

                .thead-text {
                    position: static;
                }

                thead {
                    display: none;
                }
            }
        }

        .table-responsive {
            border: 0 !important;

            .table {
                tbody {
                    border: 0;

                    tr {
                        position: relative;
                        /*float: left;*/
                        width: 100%;
                        border-bottom: 1px solid $border-bgcolor-default;

                        td {
                            /*display: block;
                            float: left;
                            width: 100%;
                            text-align: left;*/
                            padding: 10px 5px;

                            &.remove-item {
                                position: absolute;
                                z-index: 1;
                                padding: 5px;
                                width: auto;
                                top: 15%;
                                left: 10px;
                                background-color: $base-color-white;
                                border: none;
                            }

                            .cart-description {
                                padding: 0;
                                white-space: normal;

                                label {
                                    padding-right: 5px;
                                }
                            }

                            &.cart-item-quantity, &.cart-item-unitprice, &.cart-item-total {
                                position: relative;
                                float: right;
                                clear: unset;
                                width: 30%;
                                min-width: 90px;
                                font-size: $base-font-size + 1;
                            }
                        }
                    }
                }
            }
        }

        .cart-btn {
            a {
                width: 100%;
            }

            .btn-left, .btn-right {
                padding-right: 0;

                .btn-text-icon {
                    margin-left: 0;
                }
            }

            .btn-left {
                margin-bottom: 10px;
            }
        }
    }

    .cart-item-details {
        border: none;

        .cart-image {
            width: 50%;

            img {
                max-width: 50px;
                float: right;
                margin-right: 35px;
            }
        }

        .cart-description {
            padding: 10px 0 0;
            width: 50%;
        }

        .cart-product-details {
            padding: 0;
            margin: 10px 0;
        }

        .cart-products {
            thead {
                display: none;
            }

            .remove-item {
                position: absolute;
                left: 0;
            }

            td {
                border-bottom: 0 !important;
            }

            td.cart-item-details {
                width: 46%;
                float: left;
                text-align: right;
                white-space: normal !important;
            }

            td.cart-item-unitprice, td.cart-item-quantity, td.cart-item-total {
                float: right;
                width: 19%;
                clear: right;
            }

            td.cart-item-unitprice {
                margin-top: 10px;
                color: #485880;
                font-weight: $base-font-bold;
            }
        }

        .cart-left-section {
            padding: 0;
        }
    }
}

@media only screen and (max-width:480px) {
    .shopping-cart {
        .cart-buttons {
            flex-direction: column;

            .btn-text-icon {
                flex-wrap: wrap;
                margin-left: 0;
                margin-bottom: 10px;
            }
        }
    }
}

@include screensize(small) {
    .shopping-cart {
        padding: 0;

        .cart-total-title h2 {
            padding: 15px;
        }

        .cart-products {
            table {
                tr td, tr th {
                    vertical-align: top;
                }

                .thead-text {
                    position: static;
                }
            }
        }

        .cart-item-quantity {
            max-width: 60px;
        }

        .table-responsive .table {
            tbody {
                tr {
                    float: none;

                    td {
                        display: table-cell;
                        float: none;
                        width: auto;
                        text-align: left;
                        padding: 20px 5px;

                        &.remove-item {
                            position: relative;
                            padding: 20px !important;
                            background-color: transparent;
                            vertical-align: middle;
                            top: 0;
                            left: 0;
                        }

                        .cart-description {
                            padding: 0 0 0 10px;
                        }

                        &.cart-item-quantity, &.cart-item-unitprice, &.cart-item-total {
                            float: none;
                            clear: none;
                            width: auto;
                        }
                    }
                }
            }
        }

        .cart-btn {
            .btn-right {
                padding-left: 5px;
                margin-top: 0;
            }

            .btn-left {
                padding-right: 5px;
            }
        }
    }

    .cart-item-details {
        border: 1px solid $border-bgcolor-default;

        .cart-image {
            width: auto;

            img {
                max-width: 80px;
                margin-right: 15px;
            }
        }

        .cart-description {
            padding: 0 0 0 10px;
            width: 60%;
        }
    }
}

@include screensize(medium) {
    .cart-product-details {
        padding: 0 15px 0 0;
        margin: 0;
    }

    .cart-products {
        .remove-item {
            position: static;
            left: auto;
        }

        td {
            border-bottom: 1px solid $border-bgcolor-default;
        }

        td.cart-item-details {
            width: auto;
            float: none;
            text-align: left;
            white-space: nowrap !important;
        }

        td.cart-item-unitprice, td.cart-item-quantity, td.cart-item-total {
            float: none;
            width: auto;
            clear: none;
        }

        td.cart-item-unitprice {
            margin-top: auto;
        }
    }

    .shopping-cart {


        .cart-total {
            span.input-group-btn {
                margin-left: 7px;
            }
        }

        .cart-btn {
            padding: 0;

            .continue-shopping-btn {
                overflow: hidden;
                padding: 0 5px 1px 5px !important;
            }
        }
    }

    .cart-left-section {
        padding: 0 15px;
    }

    .cart-item-details .cart-description {
        padding: 0 0 0 10px;
        width: 60%;
    }
}

@include screensize(desktop) {
    .shopping-cart {
        .cart-btn {
            padding: 0;

            .continue-shopping-btn {
                overflow: hidden;
                padding: 0 15px 1px 10px !important;
            }
        }
    }
}
