﻿@import "_base.scss";

.advertisement-banner h3{font-size:20px;margin:40px 0;text-align:center;color:$base-color-secondary}

.home-wide-promo{min-height:40px;border:1px solid $border-bgcolor-default;margin:20px 0;text-align:center; background:$base-color-white;background: -moz-linear-gradient(top,  #ffffff 0, #f1f1f1 100%);background: -webkit-gradient(linear, left top, left bottom, color-stop(0,#ffffff), color-stop(100%,#f1f1f1));background: -webkit-linear-gradient(top,  #ffffff 0,#f1f1f1 100%);background: -o-linear-gradient(top,  #ffffff 0,#f1f1f1 100%); background: -ms-linear-gradient(top,  #ffffff 0,#f1f1f1 100%);background: linear-gradient(to bottom,  #ffffff 0,#f1f1f1 100%);
    h5{color:#252525;line-height:40px;
        span{color:$base-color-primary;font-weight:bold;}
        i{font-size:44px;color:$base-color-primary;padding-left:5px;vertical-align:middle;}
    }    
}
.product-list-title{margin-bottom: 15px;text-align: center;font-size: 26px;text-transform: uppercase;margin-top: 20px;}

.track-order{float:right;
    a{color:$base-color-white;padding-right:15px;font-size:$base-font-size - 1;}
}
.label-environment{color:$base-color-white;font-size:$base-font-size;max-width:160px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.padding-left20{padding-left:20px;}
.padding-right20{padding-right:20px;}
.cms1{margin-top: 25px;margin-bottom: 25px; span {
    float: right;margin-top: -100px;position: relative;padding: 10px 40px 10px 40px;text-transform: uppercase;font-weight: bold;border: 1px solid #fff;background-color: rgba(46, 46, 46, 0.5);color: $base-color-white;font-size: 25pt;right: 20px;
    a{color:$base-color-white;}
}}
.cms1 span:hover {background-color: #fff;
    a{color: $base-color-secondary;}
}
// Media Query.
@include screensize(x-small) {
    .cms1 {
        span{margin-top: -60px;font-size: 12pt;}
    }
    .padding-left20{padding-left:0px;}
    .padding-right20{padding-right:0px;}
    .banner-set-height {height:180px;}
}
@include screensize(small) {
    .padding-left20{padding-left:0px;}
    .padding-right20{padding-right:0px;}
    .cms1 {margin-top:0px;
            span{margin-top: -100px;font-size: 25pt;}
        }
}
@include screensize(medium) {
    .padding-left20{padding-left:20px;}
    .padding-right20{padding-right:20px;}
    .cms1 {margin-top: 25px;
            span{margin-top: -100px;font-size: 25pt;}
        }
    .banner-set-height {height:633px;}
}

@include screensize(x-large) {
    .banner-set-height {height:893px;}
}