﻿
/* Water Direct Custom Css */
$paddingDirection: ('r','l','t','b');
$paddingLength: (0,10,15,20);

@each $dir in $paddingDirection {
    @each $len in $paddingLength {
        .wd-p#{$dir}-#{$len} {
            padding-#{$dir}: #{$len}px !important;
        }
        .wd-m#{$dir}-#{$len} {
            margin-#{$dir}: #{$len}px !important;
        }
    }
}

.wd-logo {
    display: block;
    max-width: 100%;
    height: auto;
}

.wd-header {
    padding: 20px 0;
}

.wd-header-hr {
    border-bottom: 5px solid #042a41;
}

.wd-nav > div {
    padding: 0;
}

.wd-nav > div > a {
    display: block;
    width: 100%;
    text-align: center;
    margin: 10px auto 0;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #042a41;
    width: 96%;

    &.disabled {
        pointer-events: none;
        opacity: 0.9;
        border: 1px solid #ddd;
        color: #ddd;
    }

    &.selected {
        background-color: #042a41;
        color: #fff;
        border: 1px solid #042a41;
    }

    &:hover {
        background-color: #042a41;
        color: #fff;
        border: 1px solid #042a41;
    }

    &.left {
        float: left;
    }

    &.right {
        float: right;
    }


}

.wd-panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 2px solid #042a41;
    min-height: 600px;

    > .row {
        /*padding: 0 15px 15px;*/
        margin: 8px 0;
    }

    .no-side-padding {
        padding-left: 0px;
        padding-right: 0px;
    }

    .no-vertical-padding {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .no-padding {
        padding: 0;
    }

    #btnRefreshData, #btnViewFileDownloads {
        vertical-align: bottom;
        float: right;
        margin: 8px 0;
        display: inline-block;
    }

    #btnRefreshData {
        margin-left: 10px;
    }
}

.wd-landing-panel {
    margin: 20px auto;
    min-height: 600px;
}

.wd-login-required {
    padding: 20px 0;
}

@media (min-width: 768px) {
    .wd-landing-panel h1, h2 {
        margin: 20px 0;
        font-size: 30px;
    }
}
