﻿@model Znode.Engine.Admin.ViewModels.WidgetVariantViewModel
@using Znode.Engine.Admin.ViewModels;
@{
}

<div class="col-sm-12 title-container">
    <h1>ADD VARIANT</h1>

    <div class="pull-right btn-container">
        <button type="button" class="btn-text-icon margin-bottom" onclick="ZnodeBase.prototype.CancelUpload('VariantPanel')" data-test-selector="linkBack"><i class='z-back'></i>@Admin_Resources.ButtonBack</button>
        <div class="pull-right">
            <a id="btnAddVariant" class="btn-text btn-text-secondary dirtylisten" data-test-selector="btnAddVariant" onclick = "ContentWidget.prototype.SubmitWidgetVariantsForm(event)">ADD</a>
        </div>
    </div>
</div>

<!--Main Container-->
<section class="col-sm-12 page-container">
    @using (Ajax.BeginForm("AssociateVariants", "ContentWidget"
            , new AjaxOptions
            {
                OnSuccess = "ContentWidget.prototype.BindVariantDropdown",
                OnFailure = "",
            }, new { id = "formWidgetVariants", @class = "dirtyignore" }))
    {
    <div class="box-container margin-bottom">
        <div class="form-group">
            <div class="col-sm-12 nopadding">
                <div class="control-label">
                    <label class="required" data-test-selector="lblLocale">Locale</label>
                </div>
                <div class="control-md">
                    <div id="areaList">
                        @Html.DropDownListFor(x => x.LocaleId, Model.Locales, new { @id = "ddlLocale", @data_test_selector = "drpLocales", onChange = "ContentWidget.prototype.GetUnassociatedProfiles()" })
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-12 nopadding">
                <div class="control-label">
                    <label class="required" data-test-selector="lblProfile">User Profile</label>
                </div>
                <div class="control-md">
                    <div id="areaList">
                        @Html.DropDownListFor(x => x.ProfileId, Model.Profiles, new { @id = "profileList", @data_test_selector = "drpProfiles" })
                        <span class="field-validation-error hidden" id="profileListError">@Admin_Resources.DropdownUserProfile</span>
                    </div>
                </div>
            </div>
        </div>
        @Html.HiddenFor(x => x.ContentWidgetId)
        @Html.HiddenFor(x => x.WidgetKey, new { @id = "hdnWidgetKey" })

    </div>
    }
</section>
<script>
    $(document).ready(function () {
        ContentWidget.prototype.GetUnassociatedProfiles();
        $("#hdnWidgetKey").val($("#WidgetKey").val())
    });

</script>

