﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Libraries.ECommerce.Utilities

@model AddressListViewModel
<div id="layout-account-book" class="main-wrapper">
    <div class="container">
        <div class="row user-account mobile-paddingleft-right">
            <div class="col-xs-12 nopadding">
                <h1 class="page-title" data-test-selector="hdgTitleAddressBook">@WebStore_Resources.TitleAddressBook</h1>
            </div>

            <div class="col-xs-12 account-dashboard nopadding">
                <div class="col-xs-12 col-sm-3 col-lg-2 nopadding">
                    <nav class="account-container-menu">
                        @Html.Partial("_AccountMenu")
                    </nav>
                </div>
                <div class="col-xs-12 col-sm-9 col-lg-10 address-book right-container">
                    <div id="addressList">
                        <div class="col-xs-12 nopadding address-list address-list-primary">
                            <div class="col-xs-12 col-sm-6 nopadding margin-bottom">
                                <div class="col-xs-12 col-sm-11 nopadding">
                                    <h5 class="section-header-color margin-bottom" data-test-selector="hdgSubTitlePrimaryShipping">@WebStore_Resources.SubTitlePrimaryShipping</h5>
                                    @if (!Equals(Model?.ShippingAddress, null))
                                    {
                                        Model.ShippingAddress.RoleName = Model.RoleName;
                                        @Html.Partial("../User/_DisplayAddress", Model.ShippingAddress ?? new AddressViewModel())
                                    }
                                    else
                                    {
                                        <p>@WebStore_Resources.ErrorNoPrimaryAddress</p>
                                    }
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 nopadding margin-bottom">
                                <div class="col-sm-offset-1">
                                    <h5 class="section-header-color margin-bottom" data-test-selector="hdgSubTitlePrimaryBilling">@WebStore_Resources.SubTitlePrimaryBilling</h5>
                                    @if (!Equals(Model?.BillingAddress, null))
                                    {
                                        Model.BillingAddress.RoleName = Model.RoleName;
                                        @Html.Partial("../User/_DisplayAddress", Model.BillingAddress ?? new AddressViewModel())
                                    }
                                    else
                                    {
                                        <p>@WebStore_Resources.ErrorNoPrimaryAddress</p>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                        @if (!string.Equals(Model?.RoleName, ZnodeRoleEnum.Manager.ToString(), StringComparison.CurrentCultureIgnoreCase) && !string.Equals(Model?.RoleName, ZnodeRoleEnum.User.ToString(), StringComparison.CurrentCultureIgnoreCase))
                    {
                        <div class="col-xs-12 nopadding">
                            @Html.ActionLink(@WebStore_Resources.LinkAddNewAddress, "Address", "User", new { @class = "pull-right" })
                        </div>
                    }
                    <div class="col-xs-12 nopadding">
                        @if (!Equals(Model?.AddressList, null))
                        {
                            if (Model.AddressList.Any())
                            {
                                if (Model.AccountId > 0)
                                {
                                    <h3 class="section-header">@WebStore_Resources.HeaderAccountAddress</h3>
                                    <div class="col-xs-12 nopadding address-list">
                                        @{
                                            int counter = 1;
                                        }
                                        @foreach (var item in Model.AddressList)
                                        {
                                            if (counter % 2 == 0)
                                            {
                                                <div class="col-xs-12 col-md-6 nopadding margin-bottom address-blocks">
                                                    <div class="col-md-offset-1">
                                                        <div class="address-change">
                                                            <div class="pull-right">
                                                                @if (!string.Equals(Model.RoleName, ZnodeRoleEnum.Manager.ToString(), StringComparison.CurrentCultureIgnoreCase) && !string.Equals(Model.RoleName, ZnodeRoleEnum.User.ToString(), StringComparison.CurrentCultureIgnoreCase))
                                                            {
                                                            <a href="Address?id=@item.AddressId" class="change-address" data-test-selector="linkEditAddress"><i class="zf-edit" title="@WebStore_Resources.LinkTextEditAddress"></i></a>
                                                            }
                                                                @if (!string.Equals(Model.RoleName, ZnodeRoleEnum.Manager.ToString(), StringComparison.CurrentCultureIgnoreCase) && !string.Equals(Model.RoleName, ZnodeRoleEnum.User.ToString(), StringComparison.CurrentCultureIgnoreCase))
                                                            {
                                                            <a href="DeleteAddress?addressId=@item.AddressId" id="delete-address" class="change-address" data-test-selector="linkDeleteAddress"><i class="zf-delete" title="@WebStore_Resources.LinkTextDeleteAddress"></i></a>
                                                            }
                                                            </div>
                                                        </div>
                                                        <div class="address-block">
                                                            <div class="address-title" data-test-selector="divDisplayName">@item.DisplayName</div>
                                                            <div class="address-title" data-test-selector="divCompanyName">@item.CompanyName</div>
                                                            <div class="address-name" data-test-selector="divFirstName">@item.FirstName @item.LastName</div>
                                                            <div class="address-street" data-test-selector="divAddress1">@item.Address1<br />@item.Address2</div>
                                                            <div class="address-citystate" data-test-selector="divCityName">@item.CityName, @item.StateName, @item.CountryName @item.PostalCode</div>
                                                            <div class="address-phonenumber" data-test-selector="divPhoneNumber">Ph: @item.PhoneNumber</div>
                                                        </div>
                                                        <div class="pull-right action-links">
                                                            <form method="POST" class="form">
                                                                @if (!string.Equals(Model?.RoleName, ZnodeRoleEnum.Manager.ToString(), StringComparison.CurrentCultureIgnoreCase) && !string.Equals(Model?.RoleName, ZnodeRoleEnum.User.ToString(), StringComparison.CurrentCultureIgnoreCase) && item.IsDefaultShipping != true)
                                                            {
                                                            @Html.AntiForgeryToken()
                                                            <button type="submit" class="margin-top" data-test-selector="btnPrimaryShipping">@WebStore_Resources.LinkTextPrimaryShipping</button>
                                                            }
                                                                <input type="hidden" value="@item.AddressId" name="id" />
                                                                <input type="hidden" value="false" name="isDefaultBillingAddress" />
                                                            </form>
                                                            <form method="POST" class="form">
                                                                @if (!string.Equals(Model?.RoleName, ZnodeRoleEnum.Manager.ToString(), StringComparison.CurrentCultureIgnoreCase) && !string.Equals(Model?.RoleName, ZnodeRoleEnum.User.ToString(), StringComparison.CurrentCultureIgnoreCase) && item.IsDefaultBilling != true)
                                                            {
                                                            @Html.AntiForgeryToken()
                                                            <button type="submit" class="margin-top border-left" data-test-selector="btnPrimaryBilling">@WebStore_Resources.LinkTextPrimaryBilling</button>
                                                            }
                                                                <input type="hidden" value="@item.AddressId" name="id" />
                                                                <input type="hidden" value="true" name="isDefaultBillingAddress" />
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                            else {
                                                <div class="col-xs-12 col-md-6 nopadding margin-bottom address-blocks">
                                                    <div class="col-xs-12 col-md-11 nopadding">
                                                        <div class="address-change">
                                                            <div class="pull-right">
                                                                @if (!string.Equals(Model.RoleName, ZnodeRoleEnum.Manager.ToString(), StringComparison.CurrentCultureIgnoreCase) && !string.Equals(Model.RoleName, ZnodeRoleEnum.User.ToString(), StringComparison.CurrentCultureIgnoreCase))
                                                                {
                                                                    <a href="Address?id=@item.AddressId" class="change-address" data-test-selector="linkEditAddress"><i class="zf-edit" title="@WebStore_Resources.LinkTextEditAddress"></i></a>
                                                                }
                                                                @if (!string.Equals(Model.RoleName, ZnodeRoleEnum.Manager.ToString(), StringComparison.CurrentCultureIgnoreCase) && !string.Equals(Model.RoleName, ZnodeRoleEnum.User.ToString(), StringComparison.CurrentCultureIgnoreCase))
                                                                {
                                                                    <a href="DeleteAddress?addressId=@item.AddressId" id="delete-address" class="change-address" data-test-selector="divDeleteAddress"><i class="zf-delete" title="@WebStore_Resources.LinkTextDeleteAddress"></i></a>
                                                                }
                                                            </div>
                                                        </div>
                                                        <div class="address-block">
                                                            <div class="address-title" data-test-selector="divDisplayName">@item.DisplayName</div>
                                                            <div class="address-title" data-test-selector="divCompanyName">@item.CompanyName</div>
                                                            <div class="address-name" data-test-selector="divFirstName">@item.FirstName @item.LastName</div>
                                                            <div class="address-street" data-test-selector="divAddress1">@item.Address1<br />@item.Address2</div>
                                                            <div class="address-citystate" data-test-selector="divCityName">@item.CityName, @item.StateName, @item.CountryName @item.PostalCode</div>
                                                            <div class="address-phonenumber" data-test-selector="divPhoneNumber">Ph: @item.PhoneNumber</div>
                                                        </div>
                                                        <div class="pull-right action-links">
                                                            <form method="POST" class="form">
                                                                @if (!string.Equals(Model?.RoleName, ZnodeRoleEnum.Manager.ToString(), StringComparison.CurrentCultureIgnoreCase) && !string.Equals(Model?.RoleName, ZnodeRoleEnum.User.ToString(), StringComparison.CurrentCultureIgnoreCase) && item.IsDefaultShipping != true)
                                                                {
                                                                    @Html.AntiForgeryToken()
                                                                    <button type="submit" class="margin-top" data-test-selector="btnPrimaryShipping">@WebStore_Resources.LinkTextPrimaryShipping</button>
                                                                }
                                                                <input type="hidden" value="@item.AddressId" name="id" />
                                                                <input type="hidden" value="false" name="isDefaultBillingAddress" />
                                                            </form>
                                                            <form method="POST" class="form">
                                                                @if (!string.Equals(Model?.RoleName, ZnodeRoleEnum.Manager.ToString(), StringComparison.CurrentCultureIgnoreCase) && !string.Equals(Model?.RoleName, ZnodeRoleEnum.User.ToString(), StringComparison.CurrentCultureIgnoreCase) && item.IsDefaultBilling != true)
                                                                {
                                                                    @Html.AntiForgeryToken()
                                                                    <button type="submit" class="margin-top border-left" data-test-selector="btnPrimaryBilling">@WebStore_Resources.LinkTextPrimaryBilling</button>
                                                                }
                                                                <input type="hidden" value="@item.AddressId" name="id" />
                                                                <input type="hidden" value="true" name="isDefaultBillingAddress" />
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                            counter++;
                                        }
                                    </div>
                                            }
                                            if (Model?.AccountId <= 0)
                                            {
                                                <div class="col-xs-12 nopadding margin-top-bottom">
                                                    <h3 class="section-header" data-test-selector="hdgAllAddress">@WebStore_Resources.TitleAllAddress</h3>
                                                    <div class="col-xs-12 nopadding address-list">
                                                        @{
                                                            int counter = 1;
                                                        }
                                                        @foreach (var address in Model?.AddressList)
                                                        {
                                                            address.RoleName = Model?.RoleName;
                                                            if (counter % 2 == 0)
                                                            {
                                                                <div class="col-xs-12 col-md-6 nopadding margin-bottom address-blocks">
                                                                    <div class="col-md-offset-1">
                                                                        @Html.Partial("../User/_DisplayAddress", address)
                                                                        <div class="pull-right action-links">
                                                                            <form method="POST" class="form">
                                                                    @if (address.IsDefaultShipping != true)
                                                                    {
                                                                                @Html.AntiForgeryToken()
                                                                                <button type="submit" data-test-selector="btnPrimaryShipping">@WebStore_Resources.LinkTextPrimaryShipping</button>
                                                                    }
                                                                                <input type="hidden" value="@address.AddressId" name="id" />
                                                                                <input type="hidden" value="false" name="isDefaultBillingAddress" />
                                                                            </form>
                                                                            <form method="POST" class="form">
                                                                    @if (address.IsDefaultBilling != true)
                                                                    {
                                                                                @Html.AntiForgeryToken()
                                                                                <button type="submit" class="border-left" data-test-selector="btnPrimaryBilling">@WebStore_Resources.LinkTextPrimaryBilling</button>
                                                                    }
                                                                                <input type="hidden" value="@address.AddressId" name="id" />
                                                                                <input type="hidden" value="true" name="isDefaultBillingAddress" />
                                                                            </form>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            }
                                                            else
                                                            {
                                                                <div class="col-xs-12 col-md-6 nopadding margin-bottom address-blocks">
                                                                    <div class="col-xs-12 col-md-11 nopadding">
                                                                        @Html.Partial("../User/_DisplayAddress", address)
                                                                        <div class="pull-right action-links">
                                                                            <form method="POST" class="form">
                                                                    @if (!string.Equals(Model?.RoleName, ZnodeRoleEnum.Manager.ToString(), StringComparison.CurrentCultureIgnoreCase) && !string.Equals(Model?.RoleName, ZnodeRoleEnum.User.ToString(), StringComparison.CurrentCultureIgnoreCase) && address.IsDefaultShipping != true)
                                                                    {
                                                                    @Html.AntiForgeryToken()
                                                                    <button type="submit" data-test-selector="btnPrimaryShipping">@WebStore_Resources.LinkTextPrimaryShipping</button>
                                                                    }
                                                                                <input type="hidden" value="@address.AddressId" name="id" />
                                                                                <input type="hidden" value="false" name="isDefaultBillingAddress" />
                                                                            </form>
                                                                            <form method="POST" class="form">
                                                                    @if (!string.Equals(Model?.RoleName, ZnodeRoleEnum.Manager.ToString(), StringComparison.CurrentCultureIgnoreCase) && !string.Equals(Model?.RoleName, ZnodeRoleEnum.User.ToString(), StringComparison.CurrentCultureIgnoreCase) && address.IsDefaultBilling != true)
                                                                    {
                                                                    @Html.AntiForgeryToken()
                                                                    <button type="submit" class="border-left" data-test-selector="btnPrimaryBilling">@WebStore_Resources.LinkTextPrimaryBilling</button>
                                                                    }
                                                                                <input type="hidden" value="@address.AddressId" name="id" />
                                                                                <input type="hidden" value="true" name="isDefaultBillingAddress" />
                                                                            </form>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            }
                                                            counter++;
                                                        }
                                                    </div>
                                                </div>
                                                                    }
                                                                }
                                                            }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
