﻿@using Znode.Engine.WebStore.ViewModels
@model ChangePasswordViewModel
@{

}
<div id="layout-account-editprofile" class="main-wrapper">
    <div class="container">
        <div class="row user-account mobile-paddingleft-right">
            <div class="col-xs-12 nopadding">
                <h1 class="page-title" data-test-selector="hdgTitleChangePassword">@WebStore_Resources.TitleChangePassword</h1>
            </div>

            <div class="col-xs-12 account-dashboard nopadding">
                <div class="col-sm-3 col-lg-2 nopadding">                    
                    <nav class="account-container-menu">
                        @Html.Partial("_AccountMenu")
                    </nav>
                </div>
                <div class="col-xs-12 col-sm-9 col-lg-10 edit-profile right-container">
                    <div class="col-xs-12 nopadding">
                        <p>@WebStore_Resources.SubTextChangePassword</p>
                    </div>
                    @using (Html.BeginForm("ChangePassword", "User", FormMethod.Post, new { role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <div id="loginForm" class="col-xs-12 col-sm-8 col-lg-6 nopadding">
                            @Html.ValidationSummary(true, "")
                            <div class="form-group">
                                <div class="col-xs-12 nopadding">
                                    @Html.Label(WebStore_Resources.LabelCurrentPassword, new { @class = "required", @data_test_selector = "lblCurrentPassword" })
                                </div>
                                <div class="col-xs-12 nopadding">
                                    @Html.PasswordFor(m => m.OldPassword)
                                    @Html.ValidationMessageFor(m => m.OldPassword, "", new { @data_test_selector = "spnOldPassword" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12 nopadding">
                                    @Html.Label(WebStore_Resources.LabelNewPassword, new { @class = "required", @data_test_selector = "lblNewPassword" })
                                    <p class="sub">@WebStore_Resources.ValidPassword</p>
                                </div>
                                <div class="col-xs-12 nopadding">
                                    @Html.PasswordFor(m => m.NewPassword)
                                    @Html.ValidationMessageFor(m => m.NewPassword, "", new { @data_test_selector = "spnNewPassword" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12 nopadding">
                                    @Html.Label(WebStore_Resources.LabelReTypeNewPassword, new { @class = "required", @data_test_selector = "lblReTypeNewPassword" })
                                </div>
                                <div class="col-xs-12 nopadding">
                                    @Html.PasswordFor(m => m.ReTypeNewPassword)
                                    @Html.ValidationMessageFor(m => m.ReTypeNewPassword, "", new { @data_test_selector = "spnErrorReTypeNewPassword" })
                                </div>
                            </div>
                            @Html.HiddenFor(x => x.UserName)
                            <div class="col-xs-12 nopadding">
                                <div class="pull-right">
                                    <button type="submit" class="btn-text btn-bg-primary" data-test-selector="btnReset">@WebStore_Resources.ResetPasswordButtonText</button>
                                    <button type="button" class="btn-text btn-bg-secondary" data-test-selector="btnCancel" onclick="javascript: location.href = '/User/Dashboard';">@WebStore_Resources.ButtonCancel</button>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


