﻿@using Znode.Engine.WebStore.Agents
@{
    var currentPortal = PortalAgent.CurrentPortal;
    string enableECert = currentPortal?.GlobalAttributes?.Attributes?.FirstOrDefault(x => x.AttributeCode == WebStoreConstants.EnableECertificate)?.AttributeValue;

}
@if (!string.IsNullOrEmpty(enableECert) && Convert.ToBoolean(enableECert))
{
<div id="layout-account-book" class="main-wrapper">
    <div class="container">
        <div class="row user-account mobile-paddingleft-right">
            <div class="col-xs-12 nopadding">
                <h1 class="page-title">@WebStore_Resources.ECertBalancePageTitle</h1>
            </div>

            <div class="col-xs-12 account-dashboard nopadding">
                <div class="col-xs-12 col-sm-3 col-lg-2 nopadding">
                    <nav class="account-container-menu">
                        @Html.Partial("_AccountMenu")
                    </nav>
                </div>
                <div class="col-xs-12 col-sm-9 col-lg-10  right-container">                 
                        <div class="col-xs-12 nopadding ">
                       
                            <div class="col-xs-12 col-sm-12 nopadding">
                                    <h3 class="section-header">@WebStore_Resources.ECertBalancePageHeading</h3>
                            </div>
                         
                            <div class="col-xs-12 col-sm-12 nopadding margin-bottom available-ecertlist" id="eCertList"> 
                                    @{Html.RenderAction("AvailableEcertList", "eCert");}          
                            </div>
                            <div class="col-xs-12 col-sm-12 nopadding margin-bottom add-ecert-balance" id="eCertList">
                                @{ Html.RenderAction("AddECertToBalance", "eCert"); }
                            </div>
                        </div>                
                </div>
            </div>
        </div>
    </div>
</div>}
