﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Engine.WebStore.Models
@model VoucherHistoryListViewModel
@using Znode.Engine.WebStore.Agents;
@if (!Equals(Model, null))
{
    <div id=@Model.GridModel.FrontObjectName>
        <div id="layout-account-orderhistory" class="main-wrapper">
            <div class="container">
                <div class="row user-account mobile-paddingleft-right">
                    <div class="col-xs-12 nopadding">
                        <h1 class="page-title">@WebStore_Resources.LinkTextVouchers</h1>
                    </div>
                    <div class="col-xs-12 account-dashboard nopadding">
                        <div class="col-xs-12 col-sm-3 col-lg-2 nopadding">
                            <nav class="account-container-menu">
                                @Html.Partial("_AccountMenu")
                            </nav>
                        </div>
                        <div class="col-xs-12 col-sm-9 col-lg-10 order-history right-container">
                            <div class="col-xs-12 nopadding">
                                <div class="col-xs-12 product-search nopadding">
                                    <div class="section-header nopadding col-xs-12 d-flex align-content-center justify-content-between margin-bottom">
                                        <div>@WebStore_Resources.TitleVoucherDetail - @Model.voucherViewModel.CardNumber</div>
                                        <div>@WebStore_Resources.TitleTotalRemaining: @Helper.FormatPriceWithCurrency((Model.voucherViewModel.VoucherBalanceAmount), PortalAgent.CurrentPortal?.CultureCode)</div>
                                    </div>

                                    <div class="padding-top"><label class="padding-right-5">@WebStore_Resources.LabelVoucherName:</label>&nbsp;@Model.voucherViewModel.Name</div>
                                    <div class=""><label class="padding-right-5">@WebStore_Resources.LabelVoucherNumber:</label>&nbsp;@Model.voucherViewModel.CardNumber</div>
                                    <div class=""><label class="padding-right-5">@WebStore_Resources.LabelStartDate:</label>&nbsp;@Model.voucherViewModel.StartDate.ToDateTimeFormat()</div>
                                    <div class=""><label class="padding-right-5">@WebStore_Resources.LabelExpirationDate:</label>&nbsp;@Model.voucherViewModel.ExpirationDate.ToDateTimeFormat()</div>
                                    <div class=""><label class="padding-right-5">@WebStore_Resources.LabelVoucherAmount:</label>&nbsp;@Helper.FormatPriceWithCurrency(Model.voucherViewModel.VoucherAmount, PortalAgent.CurrentPortal?.CultureCode)</div>
                                    <div class="col-xs-12">
                                        @using (Ajax.BeginForm("VoucherHistory", "User", new { voucherId = Model.voucherViewModel.VoucherId }, new AjaxOptions() { UpdateTargetId = Model.GridModel.FrontObjectName, OnSuccess = "GridPager.prototype.GridUpdateHandler" }, new { @id = "searchform" }))
                                        {
                                            <div id="filterComponent">
                                                @Html.Partial("_FilterComponent", Model.GridModel.FilterColumn)
                                            </div>
                                        }
                                    </div>

                                    <div class="col-xs-12 list-container margin-top nopadding">
                                        <div class="col-xs-12 nopadding">
                                            @Html.Partial("_DynamicGrid", Model.GridModel)
                                        </div>
                                    </div>
                                    @Html.HiddenFor(m => m.voucherViewModel.VoucherId)
                                    @Html.HiddenFor(m => m.voucherViewModel.UserId, new { id = "hdnLoginUserId" })
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
}
    <script type="text/javascript">
        $(document).ready(function () {
            $("#linkVouchersTab").addClass("selected");
            Checkout.prototype.HideVoucherHistoryGridColumn();
            var url = $('#searchform').attr('action')
            if (url != $("[update-container-id]").attr('data-pager-url')) {
                $("[update-container-id]").attr('data-pager-url', url)
            }
        });      
    </script>