﻿@using Znode.Engine.WebStore.ViewModels
@model ImportViewModel
<div id="layout-account-quotehistory" class="main-wrapper">
    <div class="container">
        <div class="row user-account mobile-paddingleft-right">
            <div class="col-xs-12 nopadding">
                <h1 class="page-title">@WebStore_Resources.LabelImportShippingAddress</h1>
            </div>
            <div class="col-xs-12 account-dashboard nopadding">
                <div class="col-xs-12 col-sm-3 col-lg-2 nopadding">
                    <nav class="account-container-menu">
                        @Html.Partial("_AccountMenu")
                    </nav>
                </div>

                <div class="col-xs-12 col-sm-9 col-lg-10 order-history right-container">
                    <div id="divimport-shipping-address" class="col-xs-12 nopadding">
                        <div class="col-xs-12 col-sm-8 nopadding shipping-address-import">
                            @using (Html.BeginForm("ImportShippingAddress", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                <div class="form-group margin-top" id="divImportShippingAddressUpload">

                                    <div class="import-control-label">
                                        @Html.LabelFor(model => model.ImportData, new { @id = "lblSelectFile", @class = "required" })
                                        <span class="sub">@WebStore_Resources.SelectCSVFileInstructionText</span>
                                    </div>

                                    <div class="import-input">
                                        @Html.Partial("_ImportData", Model)
                                    </div>
                                </div>

                            }
                        </div>
                        <div class="col-xs-12 col-sm-4 nopadding shipping-download-template">
                            <form method="post" action="~/User/DownloadShippingAddressTemplate">
                                <button id="downloadImportTemplate" type="submit" class="btn-text btn-bg-primary margin-top pull-right">@WebStore_Resources.LabelDownloadTemplate</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
