﻿@using Znode.Engine.WebStore.ViewModels

@model UserViewModel
<div id="layout-account-editaddress" class="main-wrapper">
   
    <div class="container">
        <div class="row user-account mobile-paddingleft-right">
            <div class="col-xs-12 nopadding">
                <h1 class="page-title" data-test-selector="hdgSavedCreditCard">@WebStore_Resources.LinkSavedCreditCard</h1>
            </div>
            <div class="col-xs-12 account-dashboard nopadding">
                <div class="col-sm-3 col-lg-2 nopadding">                    
                    <nav class="account-container-menu">
                        @Html.Partial("_AccountMenu")
                    </nav>
                </div>
                <div class="col-xs-12 col-sm-9 col-lg-10 right-container">
                    <div class="col-xs-12 nopadding">
                        @Html.Action("CreditCardDetails", "User")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>