﻿@using Znode.Engine.WebStore.ViewModels
@model TemplateViewModel
@{
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    Model.IsViewMode = true;
}
<div id="layout-template-cartItem" class="main-wrapper">
    <div class="container">
        <div class="row user-account mobile-paddingleft-right">
            <div class="col-xs-12 nopadding">
                <h1 class="page-title">@WebStore_Resources.LinkTextOrderTemplate</h1>
            </div>
            <div class="col-xs-12 account-dashboard nopadding">
                <div class="col-sm-3 col-lg-2 nopadding">
                    <nav class="account-container-menu">
                        @Html.Partial("_AccountMenu")
                    </nav>
                </div>
                <div class="col-xs-12 col-sm-9 col-lg-10 right-container">
                    <h3 class="section-header">View Template</h3>
                    <div class="col-xs-12  nopadding">
                        @using (Html.BeginForm(actionName, "User", FormMethod.Post, new { role = "form", @id = "frmCreateEditTemplate" }))
                        {
                            <div class="col-xs-12 col-sm-7 col-md-6 nopadding">
                                @Html.AntiForgeryToken()
                                <div class="form-group">
                                    @Html.LabelFor(x => x.TemplateName)
                                    @Html.TextBoxFor(x => x.TemplateName, new { @readonly = "readonly", data_val_required = @WebStore_Resources.ValidTemplateName })
                                    @Html.ValidationMessageFor(x => x.TemplateName, "", new { id = "validTemplateName" })
                                </div>

                                @Html.HiddenFor(x => x.OmsTemplateId)
                            </div>
                        }
                        <div id="TemplateCartItem">
                            @Html.Partial("_CartTemplateRow", Model)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
