﻿
@using Znode.Engine.Admin.ViewModels
@using Znode.Libraries.ECommerce.Utilities;
@model DashboardItemsListViewModel

<div class="d-flex flex-wrap justify-content-between padding-top padding-bottom table-heading-section">
    <h2 class="margin-left-15">@Admin_Resources.TitleReturns</h2>
    <div class="row nopadding">
        <div class="col-sm-12 margin-top-8 margin-right-9">
            @Html.AuthorizedRawActionLink(Admin_Resources.LabelViewAllReturns, "List", "RMAReturn", null, new { @data_test_selector = "linkViewQuote", @class = "viewalldata" })
        </div>
        <div class="col-sm-6 margin-right-9" style="display:none;">
            <button class=" btn-text btn-text-secondary">@Admin_Resources.ButtonCreateReturn</button>
        </div>
    </div>
</div>
@if (Html.IsAuthorized("List", "RMAReturn"))
{
    if (Model.DashboardViewModelList.Count > 0 && Model.DashboardViewModelList.Any(x => string.Equals(x.Type, ZnodeConstant.Return, StringComparison.InvariantCultureIgnoreCase)))
    {
        <table class="table">
            <thead class="thead-default">
                <tr>
                    <th>@Admin_Resources.LabelReturnNumber</th>
                    <th>@Admin_Resources.LabelCustomerName</th>
                    <th>@Admin_Resources.LabelReturnDate</th>
                    <th>@Admin_Resources.LabelTotal</th>
                </tr>
            </thead>
            <tbody>
                @foreach (DashboardItemsViewModel item in Model.DashboardViewModelList)
                {
                    if (string.Equals(item.Type, ZnodeConstant.Return, StringComparison.InvariantCultureIgnoreCase))
                    {
                        <tr>
                            <td>
                                @Html.AuthorizedRawActionLink(item.ItemName, "ManageReturn", "RMAReturn", new { ReturnNumber = item.ItemName }, new { @data_test_selector = "linkGeneralSetting", @class = "viewalldata", @target = "_blank" })
                            </td>
                            <td>@Html.RenderBlock(item.CustomerName)</td>
                            <td>@item.Date</td>
                            <td>@item.Symbol@item.Total</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    }
    else
    {
        <div class="no-record-found"><p>@Admin_Resources.NoRecordFoundText</p></div>
    }
}
else
{
    <div class="no-record-found"><p>@Admin_Resources.ErrorAccessOfView</p></div>  
}



