﻿@using Znode.Engine.Admin.ViewModels
@using Znode.Libraries.ECommerce.Utilities;
@model DashboardItemsListViewModel

<div class="d-flex flex-wrap justify-content-between padding-top padding-bottom table-heading-section">
    <h2 class="margin-left-15">@Admin_Resources.HeadingQuotes</h2>
    <div class="row nopadding">
        <div class="col-sm-5 margin-top-8">
            @Html.AuthorizedRawActionLink(Admin_Resources.LabelViewAllQuotes, "QuoteList", "Quote", null, new { @data_test_selector = "linkViewQuote", @class = "viewalldata" })
        </div>
        <div class="col-sm-6 margin-right-15">
            @Html.AuthorizedRawActionLink(Admin_Resources.ButtonCreateQuote, "CreateQuoteRequest", "Quote", null, new { @class = "btn-text btn-text-secondary", @data_test_selector = "linkCreateQuote", @target = "_blank" })
        </div>
    </div>
</div>
@if (Html.IsAuthorized("QuoteList", "Quote"))
{
    if (Model.DashboardViewModelList.Count > 0 && Model.DashboardViewModelList.Any(x => string.Equals(x.Type, ZnodeConstant.Quote, StringComparison.InvariantCultureIgnoreCase)))
    {
        <table class="table">
            <thead class="thead-default">
                <tr>
                    <th>@Admin_Resources.LabelQuoteNumber</th>
                    <th>@Admin_Resources.LabelCustomerName</th>
                    <th>@Admin_Resources.LabelQuoteDate</th>
                    <th>@Admin_Resources.LabelTotal</th>
                </tr>
            </thead>
            <tbody>               
               @foreach (DashboardItemsViewModel item in Model.DashboardViewModelList)
               {
                   if (string.Equals(item.Type, ZnodeConstant.Quote, StringComparison.InvariantCultureIgnoreCase))
                   {
                <tr>
                    <td>
                        @Html.AuthorizedRawActionLink(item.ItemName, "GetQuoteDetails", "Quote", new { omsQuoteId = item.ItemId }, new { @data_test_selector = "linkOmsQuoteId", @class = "viewalldata", @target = "_blank" })
                    </td>
                    <td>@Html.RenderBlock(item.CustomerName)</td>
                    <td>@item.Date</td>
                    <td>@item.Symbol@item.Total</td>
                </tr>
                   }
               } 
            </tbody>
        </table>
    }
    else
    {
        <div class="no-record-found"><p>@Admin_Resources.NoRecordFoundText</p></div>
    }
}
else
{
        <div class="no-record-found"><p>@Admin_Resources.ErrorAccessOfView</p></div>   
}
