﻿
@using Znode.Engine.WebStore.ViewModels
@using Znode.Libraries.ECommerce.Utilities
@model Znode.WebStore.Custom.ViewModel.BoomEquipmentDto
@using Newtonsoft.Json
@using Znode.Engine.WebStore.Agents
@using Newtonsoft.Json;
@using System.Web.UI.HtmlControls
@using Microsoft.Web.Mvc


@{
    var _portal = PortalAgent.CurrentPortal;
    string _fileLocation = $"/Views/Themes/{_portal.Theme}";
    Layout = @_fileLocation + "/Views/Shared/_LayoutCustom.cshtml";
    Model.SelectedBoomEquipmentListType = Request.QueryString["type"];
    Model.WaterDirectNavigation.SelectedUserAssignedAccount = Request.QueryString["account"];
//Layout = null;
}

@Html.Partial("_WdNavigation", @Model.WaterDirectNavigation)
<div class="container wd-panel">
    <div class="row">
        <div class="col-lg-6 no-side-padding">
            <h1 style="display: inline-block;">BOOM EQUIPMENT</h1>
        </div>
        <div class="col-lg-6 no-side-padding">
            @if (!string.IsNullOrEmpty(Model.SelectedBoomEquipmentListType))
            {
                <a id="btnRefreshData" class="btn-bg-primary btn-text" href="#"><i class="fa fa-refresh" aria-hidden="true"></i> Refresh Data</a>
                <a id="btnViewFileDownloads" class="btn-bg-primary btn-text" data-toggle="modal" data-target="#wdFilesModal"><i class="fa fa-folder" aria-hidden="true"></i> File Downloads</a>
            }
        </div>
    </div>
    <div class="row wd-header-hr wd-mb-15"></div>
    <div class="row">
        <div class="col-12">
            @if (!string.IsNullOrEmpty(Model.WaterDirectNavigation.SelectedUserAssignedAccount))
            {
                <h3 style="display: inline-block; margin: 0;">Equipment List: </h3>
                @Html.DropDownListFor(x => x.SelectedBoomEquipmentListType, @Model.BoomEquipmentListTypes, new {style = "max-width:200px", @class = "boomEquipmentTypesList"})
            }
        </div>
    </div>
</div>

<div class="modal fade" id="wdFilesModal" tabindex="-1" role="dialog" aria-labelledby="wdFilesModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">@Model.SelectedBoomEquipmentListType File Downloads</h4>
            </div>
            <div class="modal-body">
                <h3>Modal Body</h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
