﻿@model Znode.WebStore.Custom.ViewModel.DiEquipmentDto
@using Znode.Engine.WebStore.ViewModels
@using Znode.Libraries.ECommerce.Utilities
@using Newtonsoft.Json
@using Znode.Engine.WebStore.Agents
@using System.Web.UI.HtmlControls
@using Microsoft.Web.Mvc

@{
    var _portal = PortalAgent.CurrentPortal;
    string _fileLocation = $"/Views/Themes/{_portal.Theme}";
    Layout = @_fileLocation + "/Views/Shared/_LayoutCustom.cshtml";
}

<script type="text/javascript">
    Init(@Html.Raw(Json.Encode(Model)));
</script>

@Html.Partial("_WdNavigation", @Model.WaterDirectNavigation)
<div class="container wd-panel">
    <div class="row">
        <div class="col-sm-8">
            <h1>DI EQUIPMENT - ORDER HISTORY</h1>
        </div>
        <div class="col-sm-4">
            <div class="btn-group pull-right">
                <button id="btnRefreshOrderHistory" type="button" class="btn btn-default">Refresh</button>
                <button id="btnClearFilters" type="button" class="btn btn-default">Clear Filters</button>
                <button id="btnOrderTrailer" type="button" class="btn btn-primary">Order Trailer</button>
            </div>
        </div>
    </div>
    <div class="row row-no-gutters well well-sm">
        <div class="col-sm-2">
            <div class="input-group" style="max-width: 150px">
                <input id="startDateFilter" type="text" class="form-control datepicker" placeholder="Start Date" value="@(Model.StartDate?.Date.ToString("MM/dd/yyyy"))">
                <span class="input-group-addon">
                    <i class="far fa-calendar"></i>
                </span>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="input-group" style="max-width: 150px">
                <input id="endDateFilter" type="text" class="form-control datepicker" placeholder="End Date" value="@(Model.EndDate?.Date.ToString("MM/dd/yyyy"))">
                <span class="input-group-addon">
                    <i class="far fa-calendar"></i>
                </span>
            </div>
        </div>

    </div>
    <div id="divOrderHistory" class="container-fluid">
        @Html.Partial("_DiOrderHistory", Model)
    </div>
    <div class="row well well-sm">
        <div class="col-md-3">
            <h3 style="display: inline-block; margin: 0;">Page Size: </h3>
            @Html.DropDownListFor(x => x.PageSize, Model.PageSizeList, new { Id = "pageSize", style = "max-width:100px" })
        </div>
    </div>
</div>