﻿@model Znode.WebStore.Custom.ViewModel.DiOrderDto
@using Znode.Engine.WebStore.ViewModels
@using Znode.Libraries.ECommerce.Utilities
@using Newtonsoft.Json
@using Znode.Engine.WebStore.Agents
@using System.Web.UI.HtmlControls
@using Microsoft.Web.Mvc
@using Znode.MPW.Service.DataModels

@{
    Layout = null;
}

@{
    var _portal = PortalAgent.CurrentPortal;
    string _fileLocation = $"/Views/Themes/{_portal.Theme}";
    Layout = @_fileLocation + "/Views/Shared/_LayoutCustom.cshtml";
}

<script type="text/javascript">
    Init(@Html.Raw(Json.Encode(Model)));
</script>

@Html.Partial("_WdNavigation", Model.WaterDirectNavigation)
<div class="container wd-panel">
    <div class="row">
        <div class="col-md-12">
            <h1>DI EQUIPMENT - ORDER TRAILER</h1>
        </div>
    </div>
    <hr/>
    @using (Html.BeginForm("Submit", "WaterDirect", FormMethod.Post, new { id = "OrderForm", name = "OrderForm", role = "form" }))
    {
        @Html.ValidationSummary(true, "")
        <div class="row">
            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Swap?</h3>
                    </div>
                    <div class="panel-body">
                        <div class="radio">
                            <label>
                                @Html.RadioButtonFor(m => m.IsSwap, true)
                                Yes
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                @Html.RadioButtonFor(m => m.IsSwap, false)
                                No
                            </label>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Choose a Delivery Option</h3>
                    </div>
                    <div class="panel-body">
                        <div id="radio24Hour" class="radio">
                            <label>
                                @Html.RadioButtonFor(m => m.DeliveryOption, "24")
                                24 Hours
                            </label>
                        </div>
                        <div id="radioSelectDate" class="radio">
                            <label>
                                @Html.RadioButtonFor(m => m.DeliveryOption, "0")
                                Select Date
                            </label>
                        </div>
                        @Html.ValidationMessageFor(m => m.DeliveryOption, "")

                        <div class="input-group" style="max-width: 150px;">
                            @Html.TextBoxFor(m => m.DeliveryDate, new
                            {
                                id = "deliveryDatePicker",
                                @class = "form-control",
                                placeholder = "Delivery Date",
                                disabled = "disabled",
                                data_date_start_date = "+1d"
                            })
                            <span class="input-group-addon">
                                <i class="far fa-calendar"></i>
                            </span>
                        </div>
                        @Html.ValidationMessageFor(m => m.DeliveryDate, "")
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Order Details</h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            @Html.Label("txtPONumber", "PO Number")
                            @Html.TextBoxFor(m => m.PONumber, new { id = "txtPONumber", @class = "form-control", placeholder = "PO Number" })
                            @Html.ValidationMessageFor(m => m.PONumber, "")
                        </div>
                        <div class="form-group">
                            @Html.Label("selectDILoad", "DI Load")
                            @Html.DropDownListFor(m => m.SelectedDILoad, Model.DILoads, "Select a DI Load", new { id = "selectDILoad" })
                            @Html.ValidationMessageFor(m => m.SelectedDILoad, "")
                        </div>
                        <div id="spinnerTrailerQuantityGroup" class="form-group">
                            @Html.Label("spinnerTrailerQuantity", "Trailer Quantity")
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <button id="spinnerTrailerQuantity_minus" class="btn btn-default" type="button">
                                        <span class="fas fa-minus"></span>
                                    </button>
                                </span>
                                @Html.EditorFor(m => m.TrailerQuantity, new
                                {
                                    htmlAttributes = new { id = "spinnerTrailerQuantity", @class = "form-control", Value = "1", style = "text-align: center;" }
                                })
                                <span class="input-group-btn">
                                    <button id="spinnerTrailerQuantity_plus" class="btn btn-default" type="button">
                                        <span class="fas fa-plus"></span>
                                    </button>
                                </span>
                            </div>
                            @Html.ValidationMessageFor(m => m.TrailerQuantity, "")
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Order Notes</h3>
                    </div>
                    <div class="panel-body">
                        @Html.TextAreaFor(m => m.OrderNotes, 5, 1, new { id = "txtOrderNotes", @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Default Accessories</h3>
                    </div>
                    <table class="table table-striped">
                        @if (!Model.DefaultAccessoryEquipment.AccessoryEquipmentListDTO.Any(x => x.Quantity > 0))
                        {
                            <tr>
                                <td colspan="10">No Default Accessories Defined.</td>
                            </tr>
                        }
                        else
                        {
                            <thead>
                            <tr>
                                <th>
                                    <strong>Equipment Name</strong>
                                </th>
                                <th>
                                    <strong>Quantity</strong>
                                </th>
                            </tr>
                            </thead>

                            foreach (var equipment in Model.DefaultAccessoryEquipment.AccessoryEquipmentListDTO
                                .Where(x => x.Quantity > 0))
                            {
                                <tr>
                                    <td>@equipment.AccessoryEquipmentName</td>
                                    <td>@equipment.QuantityAsString</td>
                                </tr>
                            }
                        }
                    </table>
                </div>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-sm-12">
                <div class="btn-group pull-right">
                    <button id="btnOrderSubmit" type="submit" class="btn btn-default">Submit</button>
                    <a id="btnBack" href="@Model.BackUrl" class="btn btn-danger">Cancel</a>
                </div>
            </div>
        </div>
    }
</div>