﻿@model Znode.WebStore.Custom.ViewModel.DiEquipmentDto

<div class="row">
    <div class="col-md-12">
        <div id="tblOrderHistory" class="table-responsive">
            <table class="table table-striped" style="font-size: 18px;">
                @{
                    if (!Model.ScheduledJobs.Any())
                    {
                        <tr>
                            <td colspan="10">No Order History found.</td>
                        </tr>
                    }
                    else
                    {
                        <thead>
                        <tr class="info">
                            <th></th>
                            <th>
                                <strong>Order Number</strong>
                            </th>
                            <th>
                                <strong>Order Date</strong>
                            </th>
                            <th>
                                <strong>Order Type</strong>
                            </th>
                            <th>
                                <strong>Status</strong>
                            </th>
                            <th>
                                <strong>Unit Number</strong>
                            </th>
                            <th>
                                <strong>Load Name</strong>
                            </th>
                        </tr>
                        </thead>
                        foreach (var job in Model.ScheduledJobs)
                        {
                            <tr>
                                <td>
                                    @if (job.WorkOrderID != null)
                                    {
                                        <a class="viewWorkorder fas fa-file-invoice" title="View Workorder" style="cursor: pointer; text-decoration: none;" data-workorderId="@job.WorkOrderID"></a>
                                    }
                                    @if (job.DCLocation != null)
                                    {
                                        <a class="fas fa-tachometer-alt" title="View Trailer Data" style="cursor: pointer; text-decoration: none;"></a>
                                    }
                                    @if (job.ReleaseSwapAvailable)
                                    {
                                        <a class="fas fa-truck-loading" title="Release/Swap Trailer" style="cursor: pointer; text-decoration: none;"></a>
                                    }
                                </td>
                                <td>@job.OrderNumber</td>
                                <td>@job.OrderDate.ToShortDateString()</td>
                                <td>@job.OrderType</td>
                                <td>@job.Status</td>
                                <td>@job.UnitNumber</td>
                                <td>@job.LoadName</td>
                            </tr>
                        }
                    }
                }
            </table>
        </div>
    </div>
</div>
@if (Model.PageCount > 1)
{
    <div class="row">
        <div class="col-md-12">
            <nav aria-label="Page navigation">
                <ul id="OrderHistoryPager" class="pagination">
                    @{
                        if (Model.PageIndex >= 10)
                        {
                            <li class="pagerPrevious">
                                <a href="#" aria-label="Previous" data-pageIndex="@(Model.PageMin - 10)">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                        }
                        for (int i = Model.PageMin; i < Model.PageMax; i++)
                        {
                            int number = i + 1;
                            if (Model.PageIndex == i)
                            {
                                <li class="active">
                                    <span>@number</span>
                                </li>
                            }
                            else
                            {
                                <li class="pagerNumber">
                                    <a href="#" data-pageIndex="@i">@number</a>
                                </li>
                            }
                        }
                        if (Model.PageIndex < Model.PageSets * 10 - 10)
                        {
                            <li class="pagerNext">
                                <a href="#" aria-label="Next" data-pageIndex="@Model.PageMax">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        }
                    }
                </ul>
            </nav>
        </div>
    </div>
}