﻿@model Znode.WebStore.Custom.ViewModel.DiWorkOrderDto
@using Znode.Engine.WebStore.ViewModels
@using Znode.Libraries.ECommerce.Utilities
@using Newtonsoft.Json
@using Znode.Engine.WebStore.Agents
@using System.Web.UI.HtmlControls
@using Microsoft.Web.Mvc

@{
    var _portal = PortalAgent.CurrentPortal;
    string _fileLocation = $"/Views/Themes/{_portal.Theme}";
    Layout = @_fileLocation + "/Views/Shared/_LayoutCustom.cshtml";
}

@Html.Partial("_WdNavigation", @Model.WaterDirectNavigation)
<div class="container wd-panel">
<div class="row">
    <div class="col-md-12">
        <h1>DI EQUIPMENT - WORKORDER</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-2 pull-right">
        <a id="btnBack" href="@Model.BackUrl" class="btn btn-default">Back to Order History</a>
    </div>
</div>
<hr/>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Order Details</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-6">
                <div>
                    <label>Bill To:</label>
                    @Model.Workorder.CustomerJDE - @Model.Workorder.CustomerName
                </div>
                <div>
                    <label>Customer Name:</label>
                    @Model.Workorder.CustomerName
                </div>
                <div>
                    <label>Workorder Number:</label>
                    @Model.Workorder.WorkorderNumber
                </div>
                <div>
                    <label>Load:</label>
                    @Model.Workorder.Load
                </div>

            </div>
            <div class="col-sm-6">
                <div>
                    <label>Customer PO:</label>
                    @Model.Workorder.CustomerPOName
                </div>
                <div>
                    <label>Workorder Type:</label>
                    @Model.Workorder.WorkorderTypeName
                </div>
                <div>
                    <label>Unit Number:</label>
                    @Model.Workorder.TrailerUnitNumber
                </div>
                <div>
                    <label>Grains:</label>
                    @Model.Workorder.TrailerSize
                </div>
            </div>
        </div>
    </div>
</div>
@if (Model.Workorder.DescriptionLines.Any())
{
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Description</h3>
        </div>
        <div class="panel-body">
            @{
                foreach (var line in Model.Workorder.DescriptionLines)
                {
                    <div>
                        @line.Description
                    </div>
                }
            }
        </div>
    </div>
}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Line Items</h3>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>
                <strong>Product Name</strong>
            </th>
            <th>
                <strong>Units</strong>
            </th>
            <th>
                <strong>UOM</strong>
            </th>
            <th>
                <strong>Invoice Number</strong>
            </th>
        </tr>
        </thead>
        @{
            foreach (var item in Model.Workorder.LineItems)
            {
                <tr>
                    <td>@item.ProductName</td>
                    <td>@item.Units</td>
                    <td>@item.UOM</td>
                    <td>@(item.InvoiceNumber > 0 ? item.InvoiceNumber.ToString() : "")</td>
                </tr>
            }
        }
    </table>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Service Dates</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-4">
                <label>On-Site Date:</label>
                @(!Model.Workorder.OnSiteDate.HasValue ? "N/A" : Model.Workorder.OnSiteDate.Value.ToShortDateString())
            </div>
            <div class="col-sm-4">
                <label>Released Date:</label>
                @(!Model.Workorder.ReleaseDate.HasValue ? "N/A" : Model.Workorder.ReleaseDate.Value.ToShortDateString())
            </div>
            <div class="col-sm-4">
                <label>Off-Site Date:</label>
                @(!Model.Workorder.OffSiteDate.HasValue ? "N/A" : Model.Workorder.OffSiteDate.Value.ToShortDateString())
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Water Quality</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-4">
                <div>
                    <label>Conductivity Initial:</label>
                    @Model.Workorder.ConductivityInitial
                </div>
                <div>
                    <label>Conductivity Final:</label>
                    @Model.Workorder.TDSFinal
                </div>
                <div>
                    <label>Conductivity Setpoint:</label>
                    @Model.Workorder.ConductivitySetpoint
                </div>
            </div>
            <div class="col-sm-4">
                <div>
                    <label>Flow (GPM):</label>
                    @Model.Workorder.Flow
                </div>
                <div>
                    <label>Conductivity Pre-MB:</label>
                    @Model.Workorder.PreMBCond
                </div>
                <div>
                    <label>Inlet Turbidity:</label>
                    @Model.Workorder.InletTurbidity
                </div>
            </div>
            <div class="col-sm-4">
                <div>
                    <label>CO<sub>2</sub> Scale:</label>
                    @Model.Workorder.CO2ScaleID
                </div>
                <div>
                    <label>Number of Drops:</label>
                    @Model.Workorder.NumberOfDrops
                </div>
                <div>
                    <label>Inlet CO<sub>2</sub>:</label>
                    @(Model.Workorder.CO2ScaleID * Model.Workorder.NumberOfDrops)
                </div>
                <div>
                    <label>Pressure In:</label>
                    @Model.Workorder.PressureIn
                </div>
                <div>
                    <label>Pressure Out:</label>
                    @Model.Workorder.PressureOut
                </div>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Gallonage</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-4">
                <label>Initial:</label>
                @(!Model.Workorder.GallonageInitial.HasValue ? "N/A" : Model.Workorder.GallonageInitial.Value.ToString())
            </div>
            <div class="col-sm-4">
                <label>Final:</label>
                @Model.Workorder.GallonageFinal
                @(!Model.Workorder.GallonageFinal.HasValue ? "N/A" : Model.Workorder.GallonageFinal.Value.ToString())
            </div>
            <div class="col-sm-4">
                <label>Processed:</label>
                @if (Model.Workorder.GallonageInitial.HasValue && Model.Workorder.GallonageFinal.HasValue)
                {
                    @(Model.Workorder.GallonageFinal.Value - Model.Workorder.GallonageInitial.Value)
                }
                else
                {
                    @("N/A")
                }
                
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Signatures</h3>
    </div>
    <div class="panel-body">
        @{
            foreach (var signOff in Model.Workorder.Signatures)
            {
                string signatureBase64Data = Convert.ToBase64String(signOff.CustomerSignature);
                string signatureDataUrl = $"data:image/png;base64,{signatureBase64Data}";
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">@signOff.SignOffTypeName</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <div>
                                    <label>Driver Name:</label>
                                    @signOff.EmployeeName
                                </div>
                                <div>
                                    <label>Date Signed:</label>
                                    @signOff.SignatureTimestamp
                                </div>
                                <div>
                                    <label>Customer Name:</label>
                                    @signOff.CustomerFirstName @signOff.CustomerLastName
                                </div>
                                <div>
                                    <label>Customer Job Title:</label>
                                    @signOff.CustomerTitle
                                </div>
                                <div>
                                    <label>Customer Email:</label>
                                    @signOff.CustomerEmail
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <img class="img-responsive img-thumbnail" src="@signatureDataUrl" alt="Customer Signature"/>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Accessory Equipment</h3>
    </div>
    <div class="panel-body">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Delivered</h3>
            </div>
            <table class="table table-striped">
                @if (!Model.Workorder.AccessoryEquipmentDelivered.AccessoryEquipmentListDTO.Any(x => x.Quantity > 0))
                {
                    <tr>
                        <td colspan="10">No Accessory Equipment Delivered.</td>
                    </tr>
                }
                else
                {
                    <thead>
                    <tr>
                        <th>
                            <strong>Equipment Name</strong>
                        </th>
                        <th>
                            <strong>Quantity</strong>
                        </th>
                    </tr>
                    </thead>

                    foreach (var equipment in Model.Workorder.AccessoryEquipmentDelivered.AccessoryEquipmentListDTO
                        .Where(x => x.Quantity > 0))
                    {
                        <tr>
                            <td>@equipment.AccessoryEquipmentName</td>
                            <td>@equipment.QuantityAsString</td>
                        </tr>
                    }
                }
            </table>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Returned</h3>
            </div>
            <table class="table table-striped">
                @if (!Model.Workorder.AccessoryEquipmentReturned.AccessoryEquipmentListDTO.Any(x => x.Quantity > 0))
                {
                    <tr>
                        <td colspan="10">No Accessory Equipment Returned.</td>
                    </tr>
                }
                else
                {
                    <thead>
                    <tr>
                        <th>
                            <strong>Equipment Name</strong>
                        </th>
                        <th>
                            <strong>Quantity</strong>
                        </th>
                    </tr>
                    </thead>

                    foreach (var equipment in Model.Workorder.AccessoryEquipmentReturned.AccessoryEquipmentListDTO
                        .Where(x => x.Quantity > 0))
                    {
                        <tr>
                            <td>@equipment.AccessoryEquipmentName</td>
                            <td>@equipment.QuantityAsString</td>
                        </tr>
                    }
                }
            </table>
        </div>
    </div>
</div>
</div>