﻿@model Znode.WebStore.Custom.ViewModel.MobileEquipmentDto
@using Znode.Engine.WebStore.ViewModels
@using Znode.Libraries.ECommerce.Utilities
@using Newtonsoft.Json
@using Znode.Engine.WebStore.Agents
@using Newtonsoft.Json;
@using System.Web.UI.HtmlControls

@{
    var _portal = PortalAgent.CurrentPortal;
    string _fileLocation = $"/Views/Themes/{_portal.Theme}";
    Layout = @_fileLocation + "/Views/Shared/_LayoutCustom.cshtml";
    //Layout = null;
}

@Html.Partial("_WdNavigation", @Model.WaterDirectNavigation)
<div class="container wd-panel">
    <div class="row">
        <div class="col-12">
            <h1>MOBILE EQUIPMENT</h1>
            <select>
                <option>list</option>
                <option>list</option>
            </select>
        </div>
    </div>

</div>