﻿@model Znode.WebStore.Custom.ViewModel.WdLandingDto
@using Znode.Engine.WebStore.ViewModels
@using Znode.Libraries.ECommerce.Utilities
@using Znode.Engine.WebStore.Agents
@using Newtonsoft.Json;
@using System.Web.UI.HtmlControls

@{
    var _portal = PortalAgent.CurrentPortal;
    var _wdFileLocation = $"/Views/Themes/{_portal.Theme}";
    Layout = _wdFileLocation + "/Views/Shared/_LayoutCustom.cshtml";
    //Layout = null;
}

@Html.Partial("_WdNavigation", @Model.WaterDirectNavigation)
<div class="container wd-landing-panel">
    @if (string.IsNullOrEmpty(User.Identity.Name))
    {
        <div class="row">
            <div class="col-lg-5">
                <img src="~/Views/Themes/MPW/Images/online-equipment-ordering.jpg" alt="Online Equipment Ordering Image" class="wd-logo" />
            </div>
            <div class="col-lg-7">
                <h1>Online Equipment Ordering</h1>
                <p>
                    Quickly and conveniently order new mobile de-mineralization trailers to be delivered within your requested
                    time frame. You can also release it for pickup. MPW's Online Equipment Ordering allows you to specify your
                    mobile de-mineralization needs 24 hours a day from any mobile device.
                </p>

            </div>
        </div>
        <div class="row">
            <div class="col-lg-5">
                <img src="~/Views/Themes/MPW/Images/remote-ordering-and-usage-reports.jpg" alt="Remote Monitoring & Usage Reports Image" class="wd-logo" />
            </div>
            <div class="col-lg-7">
                <h1>Remote Monitoring & Usage Reports</h1>
                <p>
                    Monitor mobile equipment performance in real time from any computer or phone, even when you are off-site. MPW
                    software empowers you to remotely view key data, ensuring optimal performance of equipment. Information such as
                    mobile equipment trends, equipment performance or total gallons produced is available for convenient customer review.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5">
                <img src="~/Views/Themes/MPW/Images/equipment-order-history.jpg" alt="Equipment Image" class="wd-logo" />
            </div>
            <div class="col-lg-7">
                <h1>Equipment Order History</h1>
                <p>
                    Review the history of all MPW mobile equipment delivered to your site, even if it was not ordered
                    through Water Direct. From the simplicity and convenience of one screen, your Equipment Order History
                    gives you access to:
                    <ul>
                        <li>Total number of trailers used</li>
                        <li>Work order data for individual trailers</li>
                        <li>Remote monitoring data for in-service trailers</li>
                        <li>Functions to order or release trailers</li>
                    </ul>
                </p>

            </div>
        </div>
    }
</div>
