﻿@model Znode.WebStore.Custom.ViewModel.WaterDirectNavigationDto
@using Znode.Engine.WebStore.ViewModels
@using Znode.Libraries.ECommerce.Utilities
@using Newtonsoft.Json
@using Znode.Engine.WebStore.Agents
@using Newtonsoft.Json;
@using System.Web.UI.HtmlControls
@using System.Web.Mvc
@using Microsoft.Ajax.Utilities
@using Microsoft.AspNet.Identity

@{
    var route = Request.Url.AbsolutePath;
    var diSelected = route.Contains("/WaterDirect/DiEquipment") ? "selected" : "";
    var mobileSelected = route.Contains("/WaterDirect/MobileEquipment") ? "selected" : "";
    var boomSelected = route.Contains("/WaterDirect/BoomEquipment") ? "selected" : "";
    var diEnabled = Model.WaterDirectNavPermissions.CanViewDiEquipment ? "" : "disabled";
    var mobileEnabled = Model.WaterDirectNavPermissions.CanViewMobileEquipment ? "" : "disabled";
    var boomEnabled = Model.WaterDirectNavPermissions.CanViewBoomEquipment ? "" : "disabled";
    var allDisabled = Model.IsAllDisabled;
}

<div class="container">
    <div class="row wd-header">
        <div class="col-sm-4 col">
            <img src="~/Views/Themes/MPW/Images/water-direct-logo.jpg" alt="Water Direct Logo" class="wd-logo" />
        </div>
        <div class="col-sm-8" style="float: right; text-align: right;">
            @if (@User.Identity.IsAuthenticated && @Model.UserAssignedAccountsSelectList.Any())
            {
                <h3 style="display: inline-block; margin: 0;">Select a User Account: </h3>
                @Html.DropDownListFor(x => x.SelectedUserAssignedAccount, @Model.UserAssignedAccountsSelectList, new { style = "max-width:300px", @class = "userAssignedAccountsList" })
            }
        </div>
    </div>
    <div class="row wd-header-hr"></div>
    @if (User.Identity.IsAuthenticated)
    {
        if (Model.UserAssignedAccountsSelectList.Any() && !string.IsNullOrWhiteSpace(Model.SelectedUserAssignedAccount))
        {
            if (allDisabled)
            {
                <div class="row">
                    <div class="col-lg-4">
                        <h1>No Facility access</h1>
                        <p>
                            No Water Direct sections are accessible for this facility.
                            Please contact your system administrator.
                        </p>
                    </div>
                </div>
            }
            else
            {
                <div class="row wd-nav">
                    <div class="col-xs-4">
                        @Html.ActionLink("DI Equipment", "DiEquipment", "WaterDirect", new { account = Model.SelectedUserAssignedAccount }, new { @class = @diSelected + " left " + @diEnabled })
                    </div>
                    <div class="col-xs-4">
                        @Html.ActionLink("MOBILE Equipment", "MobileEquipment", "WaterDirect", new { account = Model.SelectedUserAssignedAccount }, new { @class = @mobileSelected + " " + @mobileEnabled })
                    </div>
                    <div class="col-xs-4">
                        @Html.ActionLink("BOOM Equipment", "BoomEquipment", "WaterDirect", new { account = Model.SelectedUserAssignedAccount }, new { @class = @boomSelected + " right " + @boomEnabled })
                    </div>
                </div>
            }
        }
        else if (Model.UserAssignedAccountsSelectList.Any() && string.IsNullOrWhiteSpace(Model.SelectedUserAssignedAccount))
        {
            <div class="row">
                <div class="col-lg-4">
                    <h1>No Account Selected</h1>
                    <p>
                        Please select a user account from the dropdown above.
                    </p>
                </div>
            </div>
        }
        else
        {
            <div class="row wd-login-required">
                <div class="col-lg-4">
                    <h1>No Accounts Available</h1>
                    <p>
                        You currently do not have any user accounts assigned. Please contact your system administrator.
                    </p>
                </div>
            </div>
        }
    }
    else
    {
        <div class="row wd-login-required">
            <div class="col-lg-4">
                <h1>Login required</h1>
                <p>
                    Viewing Water Direct information requires your login information. Please
                    <a href="~/User/Login?returnUrl=%2Fwaterdirect" style="text-decoration: underline;">Login here</a> and return to this page.
                </p>
            </div>
        </div>
    }
</div>