﻿@model Znode.Engine.Admin.ViewModels.UsersListViewModel
@using Znode.Libraries.Resources
@{
    ViewBag.Title = Admin_Resources.LabelAdmin + " | " + Admin_Resources.Multifront;
}
<div id="@Model.GridModel.FrontObjectName">
    <div id="aside-popup-panel" class="dirtyignore">
        <div class="col-sm-12 title-container">
            <h1 data-test-selector="hdgCustomer">@Admin_Resources.LabelSalesReps</h1>
            <div class="pull-right btn-container">
                <button type="button" class="btn-text-icon margin-bottom" onclick="ZnodeBase.prototype.CancelUpload('SalesRepAssociationPanel')" data-test-selector="linkBack"><i class='z-back'></i>@Admin_Resources.ButtonBack</button>
            </div>
        </div>
        <div class="col-sm-12 page-container">
            @using (Ajax.BeginForm("GetSalesRepList", "Customer", new { userId = Model.UserId }, new AjaxOptions() { UpdateTargetId = Model.GridModel.FrontObjectName, OnSuccess = "GridPager.prototype.GridUpdateHandler" }, new { @id = "searchform" }))
            {
                <div id="filterComponent">
                    @Html.Partial("~/Views/DynamicGrid/_FilterComponent.cshtml", Model.GridModel.FilterColumn)
                </div>
            }
            <div class="col-sm-12 list-container">
                @{
                    @Html.Partial("~/Views/DynamicGrid/_DynamicGrid.cshtml", Model.GridModel)
                }
            </div>
        </div>

    </div>
</div>
<script>
    $(document).ready(function () {
        User.prototype.SetSalesRepById();
    })
</script>
