﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Engine.WebStore.Helpers;
@model QuoteResponseViewModel

<div id=quoteNoteList>


    <h3 class="b2c-notes-header padding-top">@WebStore_Resources.LabelNotes</h3>


    <div class="col-xs-12 nopadding receipt-item-list shopping-cart receipt-b2c-table" id="listcontainerId">
        @{
            if (Model.QuoteNoteList.Count > 0)
            {
                <div class="table-responsive">
                    <table id="manageQuoteGrid" data-test-selector="tblManageQuoteGrid" class="table table-tr" data-swhgajax="true" data-swhgcontainer="ZnodeOmsQuoteHistory" data-swhgcallback="">

                        <tr class="table-heading">
                            <th scope="col" data-test-selector="tblHdDate" class="table-td receipt-column-item pl-4">
                                @WebStore_Resources.TitleDate
                            </th>
                            <th scope="col" data-test-selector="tblHTime" class="table-td receipt-column-item">
                                @WebStore_Resources.LabelTime
                            </th>
                            <th scope="col" data-test-selector="tblHdUpdatedBy" class="table-td receipt-column-item">
                                @WebStore_Resources.LabelUpdatedBy
                            </th>
                            <th scope="col" data-test-selector="tblHdNotes" class="table-td receipt-column-item">
                                @WebStore_Resources.LabelNotes
                            </th>
                        </tr>


                        @foreach (var item in Model.QuoteNoteList)
                        {
                            <tr data-test-selector="tblBdManageOrderGrid" class="receipt-item table-tr">
                                <td class="table-td receipt-column-item">@Convert.ToDateTime(item.CreatedDate).ToString(HelperMethods.GetStringDateTimeFormat())</td>
                                <td class="table-td receipt-column-item">@Convert.ToDateTime(item.CreatedDate).ToString("hh:mm tt")</td>
                                <td class="table-td receipt-column-item">@item.UpdatedBy</td>
                                <td class="table-td receipt-column-item td-break-word">@Html.RenderBlock(item.Notes)</td>
                            </tr>
                        }

                    </table>
                </div>

            }
        }
    </div>
</div>
