﻿@using Znode.Engine.WebStore.ViewModels
@model AddressListViewModel
@{
    string addressType = Model?.AddressList[0]?.AddressType;
}
<div class="col-12 p-0 recommended-address-popup">
    <div class="col-12 p-0 entered-display-address">
        <h5 class="border-bottom">@WebStore_Resources.LabelEnteredAddress</h5>
        <div class="col-12 p-0">
            <div class="address-details" id="user-entered-address"> </div>
            <div class="text-right my-3">
                <a href="#" class="btn btn-primary" onclick="User.prototype.SaveChanges(event,null, '@addressType');">Update</a>
            </div>
        </div>
    </div>

    <div class="col-12 p-0 recommended-display-addesss">
        <h5 class="border-bottom">@WebStore_Resources.LabelRecommendedAddress</h5>

        @if (Model?.AddressList?.Any() ?? false)
        {
            int id = 1;
            <div class="col-12 p-0">

                @foreach (AddressViewModel item in Model.AddressList)
                {
                    <div class="address-details">
                        <div class="address-street">
                            <div id="recommended-address1-@id">@item.Address1</div>
                            @if (!string.IsNullOrEmpty(item.Address2))
                            {
                                <br /><div id="recommended-address2-@id">@item.Address2</div>
                            }
                        </div>
                        <div class="address-citystate">
                            <span id="recommended-address-city-@id">@item.CityName</span>
                            <span id="recommended-address-state-@id">@item.StateName</span>
                            <span id="recommended-address-postalcode-@id">@item.PostalCode</span>
                            <div id="recommended-address-country-@id">@item.CountryName</div>
                            @*<input type="hidden" id="recommended-address-statecode-@id" value="@item.StateCode"/>*@
                        </div>
                    </div>
                    <div class="text-right my-3">
                        <a href="#" class="btn btn-primary" onclick="User.prototype.SaveChanges(event,@id, '@item.AddressType');">Update</a>
                    </div>
                }
            </div>
        }
    </div>
</div>
