﻿@using Znode.Engine.WebStore.ViewModels
@model CaseRequestViewModel
@{
    ViewBag.Title = "Contact Us";
}
<div id="layout-contactus" class="main-wrapper">

    <div class="container">
        <div class="row contain-pages mobile-paddingleft-right">
            <div class="col-xs-12 nopadding">
                <h1 class="page-title" data-test-selector="lblPageTitle">@WebStore_Resources.LinkTextContactus</h1>
            </div>

            <div class="col-xs-12 col-md-7 col-lg-6 nopadding">
                @using (Html.BeginForm("contactus", "CaseRequest", FormMethod.Post, new { @id = "frmCreateCaseRequest" }))
                {
                    @Html.AntiForgeryToken()
                    <p class="margin-bottom" data-test-selector="lblContactUsMessage">@WebStore_Resources.HeaderTextContactUs</p>
                    <div class="form-group">
                        <div class="col-sm-12 nopadding">
                            @Html.Label(WebStore_Resources.LabelFirstName, new { @class = "required",@data_test_selector="lblFirstName" })
                        </div>
                        <div class="col-sm-12 nopadding">
                            @Html.TextBoxFor(model => model.FirstName, new { @maxlength = 100, @id = "valFirstName", @data_test_selector = "txtFirstName" })
                            <span id="valFirstNameErr" class="field-validation-error" data-test-selector="lblValFirstNameErrMsg"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12 nopadding">
                            @Html.Label(WebStore_Resources.LabelLastName, new { @class = "required", @data_test_selector = "lblLastName" })
                        </div>
                        <div class="col-sm-12 nopadding">
                            @Html.TextBoxFor(model => model.LastName, new { @maxlength = 100, @id = "valLastName", @data_test_selector = "txtLastName" })
                            <span id="valLastNameErr" class="field-validation-error" data-test-selector="lblValLastNameErrMsg"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12 nopadding">
                            @Html.Label(WebStore_Resources.ColumnCompanyName, new { @data_test_selector = "lblCompanyName" })
                        </div>
                        <div class="col-sm-12 nopadding">
                            @Html.TextBoxFor(model => model.CompanyName, new { @maxlength = 100, @data_test_selector = "txtCompanyName" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12 nopadding">
                            @Html.Label(WebStore_Resources.LabelEmailAddress, new { @class = "required", @data_test_selector = "lblEmail" })
                        </div>
                        <div class="col-sm-12 nopadding">
                            @Html.TextBoxFor(model => model.EmailID, new { @maxlength = 200, @id = "valEmail" , @data_test_selector = "txtEmail" })
                            <span id="valEmailErr" class="field-validation-error" data-test-selector = "lblValEmailErrMsg"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12 nopadding">
                            @Html.Label(WebStore_Resources.LabelPhoneNumber, new { @class = "required" , @data_test_selector = "lblPhoneNo" })
                        </div>
                        <div class="col-sm-12 nopadding">
                            @Html.TextBoxFor(model => model.PhoneNumber, new { @maxlength = 20, @id = "valPhoneNum" , @data_test_selector = "txtPhoneNo" })
                            <span id="valPhoneNumErr" class="field-validation-error" data-test-selector = "lblValPhoneNoErrMsg"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12 nopadding">
                            @Html.LabelFor(x => x.Description, new { @class = "required" , @data_test_selector = "lblDescription" })
                        </div>
                        <div class="col-sm-12 nopadding">
                            @Html.TextAreaFor(model => model.Description, new { @id = "valComment" , @data_test_selector = "txtDescription",@row ="5" })
                            <span id="valCommentErr" class="field-validation-error" data-test-selector = "lblValDescriptionErrMsg"></span>
                        </div>
                    </div>
                    <div id="div-captcha">
                        @Html.ZnodeCaptcha()
                    </div>
                    <div class="form-group">
                        <div class="pull-right margin-top-bottom">
                            <button type="submit" class="btn-text btn-bg-primary" id="contact-us" data-test-selector="btnSubmit">@WebStore_Resources.ButtonSubmit</button>
                            <a href="/Home/Index" class="btn-text btn-bg-secondary" data-test-selector = "btnCancel">@WebStore_Resources.ButtonCancel</a>
                        </div>
                    </div>
                    if (Model?.HasError ?? false && Model?.CaseRequestID > 0)
                    {
                        <div class="col-xs-12 nopadding">
                            @Html.Label("", WebStore_Resources.SuccessMessageContactUs)
                        </div>
                    }
                    else if (Model?.HasError ?? false)
                    {
                        <div class="col-xs-12 nopadding">
                            @Html.Label("", WebStore_Resources.MessageFailedToSendRequest)
                        </div>
                    }
                }
            </div>
            <div class="col-xs-12 col-md-5 col-lg-6 contact-class">
                @Html.RenderMessage("ContactPageMessage")
            </div>
        </div>
    </div>
</div>
<script>
    $("#frmCreateCaseRequest").submit(function (event) {
        var captcha = $("#CaptchaInputText").val();
        if (typeof captcha != undefined && captcha != null && captcha != "") {
            $("#contact-us").prop("disabled", true).addClass("disabled");
        }
        $("#contact-captcha").html("");
    });
</script>