﻿@using Znode.Engine.WebStore.ViewModels;
@using Znode.Engine.WebStore.Agents
@using Znode.Libraries.ECommerce.Utilities;
@model  CategoryViewModel
@{
    var _rq = Request.QueryString;
    string pageSize = !string.IsNullOrEmpty(Convert.ToString(Request.QueryString[WebStoreConstants.PageSize])) ? Request.QueryString[WebStoreConstants.PageSize] : !string.IsNullOrEmpty(Convert.ToString(SessionHelper.GetDataFromSession<int?>(WebStoreConstants.PageSizeValue))) ? Convert.ToString(SessionHelper.GetDataFromSession<int?>(WebStoreConstants.PageSizeValue)) : null;

    Dictionary<string, object> searchProperties = new Dictionary<string, object>();

    searchProperties.Add(WebStoreConstants.PageSize, pageSize);
    searchProperties.Add(WebStoreConstants.PageNumber, Request.QueryString[WebStoreConstants.PageNumber]);
    searchProperties.Add(WebStoreConstants.Sort, Request.QueryString[WebStoreConstants.Sort]);
    var domainurl = HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority);
}
<div id="layout-category" data-category="@Model.CategoryName" data-categoryId="@Model.CategoryId" class="main-wrapper">

    <!-- Breadcrumb -->
    <div id="breadCrumb" class="breadcrumb-container" data-test-selector="lblBreadcrumb">
        @if (!string.IsNullOrEmpty(Model.BreadCrumbHtml))
        {
            @Html.RenderBlock(Model.BreadCrumbHtml)
        }
    </div>
    <div class="container">
        <div>
            <div class="col-xs-12 col-sm-12 nopadding PLPcategorystatic">
                <div class="col-xs-12 nopadding">
                    <!--Category Image-->
                    <div class="col-xs-12 col-md-6 nopadding padding-right-20">
                        <div class="col-sm-12 nopadding">
                            <img data-test-selector="imgCategory" src="@Model.ImageMediumPath" class="img-responsive" data-src="@Model.ImageMediumPath" alt="Image" title="@Attributes.Value(Model.Attributes, "ImageAltText")" />
                        </div>
                    </div>

                    <div class="col-xs-12 col-md-6 nopadding">
                        <!--Category Name-->
                        <h1 data-test-selector="hdgProductName" class="product-name">@Html.RenderBlock(Attributes.Value(Model.Attributes, "CategoryTitle"))</h1>
                        
                        <!--Category Long Description-->
                        <div class="col-sm-12 nopadding description margin-top">
                            <p>@Html.RenderBlock(Attributes.Value(Model.Attributes, "ShortDescription"))</p>
                        </div>
                        <!--Category Contact us-->
                        <div class="col-xs-12 col-md-12 nopadding margin-top">
                            @Html.RenderMessage("ServicePageContactMsg")
                        </div>
                        <div class="col-xs-12 col-md-12 nopadding margin-top">
                            <!--Back Button-->
                            <div class="col-xs-12 col-md-6 nopadding hidden">
                                <a href="#" class="btn-text-full btn-bg-secondary back-btn-category" data-test-selector="btnGetAnAccount">Back</a>
                            </div>
                            <!--Continue Button-->
                            <div class="col-xs-12 col-sm-6 mpw-addtocart-btn nopadding">
                                <button type="reset" class="col-xs-12 btn-text-full red" onclick="location.href = '/ServiceEnquiry'">
                                    Contact Us
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
                <!--Category Details information-->
                <div class="col-xs-12 col-md-12 nopadding margin-top">
                    <h2 data-test-selector="hdgProductName" class="product-name">Details</h2>
                    <div class="col-xs-12 nopadding margin-top">
                        <p>@Html.RenderBlock(Attributes.Value(Model.Attributes, "LongDescription"))</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" value="@Model.CategoryId" id="categoryId" />
    <input type="hidden" value="0" id="parentCategoryId" />
</div> 