﻿@using Znode.Engine.WebStore.ViewModels
@model CMSPageListViewModel

@{

    int currentPageNumber = Model.PageNumber;
}

<div id="layout-cms-paging">
    <div class="search-paging col-xs-12 col-sm-8 margin-top nopadding">
        <div class="col-xs-8 nopadding search-pagination">
            <ul>
                <li class="search-more-nav arrow-left"><a data-test-selector="linkCMSArrowLeftBottom" onclick="Search.prototype.PreviousPageClick(this)" class="prev-content-page-search button" href="javascript: void(0)" data-pageno="@currentPageNumber" title="Previous"><i class='zf-arrow-left-big'></i></a></li>
                <li class="search-more-nav arrow-right"><a data-test-selector="linkCMSArrowRight" onclick="Search.prototype.NextPageClick(this)" class="next-content-page-search button" href="javascript: void(0)" data-pageno="@currentPageNumber" title="Next"><i class='zf-arrow-right-big'></i></a></li>
            </ul>
            @Html.HiddenFor(model => model.TotalPages, new { id = "hdnContentPageTotalPages" })
            <input type="hidden" id="currentContentPageNumber" name="currentContentPageNumber" value="@currentPageNumber">
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var totalPages = parseInt($("#hdnContentPageTotalPages").val(), 10);
        var currentPageNumber = $("#currentContentPageNumber").val();

        if (totalPages == 1) {
            $('.prev-content-page-search').addClass('disabled');
            $('.next-content-page-search').addClass('disabled');
            return false;
        }
        if (parseInt(currentPageNumber) == 1 || currentPageNumber == "") {
            $('.prev-content-page-search').addClass('disabled');
            return false;
        }
        if (parseInt(currentPageNumber) == (totalPages)) {
            $('.next-content-page-search').addClass('disabled');
            return false;
        }
    });
</script>


