﻿@model Znode.Engine.Admin.ViewModels.CustomerListViewModel
@using Znode.Engine.Admin.Models
@{
    ViewBag.Title = Admin_Resources.TitleCustomers + " | " + Admin_Resources.Multifront;
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
}
<div id="@Model.GridModel.FrontObjectName">
    <!--Main Container-->
    <section class="col-sm-12 page-container">
        @using (Ajax.BeginForm(actionName, controllerName, new AjaxOptions() { UpdateTargetId = Model.GridModel.FrontObjectName, OnSuccess = "GridPager.prototype.GridUpdateHandler" }, new { @id = "searchform" }))
            {
            <div id="filterComponent">
                @Html.Partial("~/Views/DynamicGrid/_FilterComponent.cshtml", Model.GridModel.FilterColumn)
            </div>
        }
        @Html.Partial("~/Views/Shared/Controls/_PopUp.cshtml",
            new PopupModel()
            {
                Title = @Admin_Resources.HeaderConfirmDelete,
                Description = @Admin_Resources.TextAccountConfirmDelete,
                ModalPopUpId = "MediaDeletePopup",
                Buttons = new List<PopUpButtonModel>
                () {
                new PopUpButtonModel { ButtonText = @Admin_Resources.TextOk, ButtonAttributes="data-dismiss=modal",OnClickFunctionName = "User.prototype.DeleteCustomer(this)"}
                }
            })
        <div class="col-sm-12 list-container">
            <div class="pull-right">
                @Html.AuthorizedRawActionLink("<i class='z-add-circle'></i>" + Admin_Resources.ButtonAdd, "CustomerCreate", "User", null, new { @class = "btn-text-icon" })
            </div>
            @{
                @Html.Hidden("hdnEnableDisableActionURL")
                @Html.Partial("~/Views/Shared/Controls/_PopUp.cshtml",
                    new PopupModel()
                    {
                        Title = @Admin_Resources.ConfirmText,

                        Description = @Admin_Resources.DisableAccountConfirmationMessage,
                        ModalPopUpId = "PopUpConfirmDisable",
                        Buttons = new List<PopUpButtonModel>() { new PopUpButtonModel { ButtonText = @Admin_Resources.TextOk, ButtonAttributes = "data-dismiss=modal", OnClickFunctionName = "DynamicGrid.prototype.RedirectToEnableDisable()" } }
                    })
                @Html.Partial("~/Views/Shared/Controls/_PopUp.cshtml",
                        new PopupModel()
                        {
                            Title = @Admin_Resources.ConfirmText,
                            Description = @Admin_Resources.EnableAccountConfirmationMessage,
                            ModalPopUpId = "PopUpConfirmEnable",
                            Buttons = new List<PopUpButtonModel>() { new PopUpButtonModel { ButtonText = @Admin_Resources.TextOk, ButtonAttributes = "data-dismiss=modal", OnClickFunctionName = "DynamicGrid.prototype.RedirectToEnableDisable()" } }
                        })
                @Html.Partial("~/Views/Shared/Controls/_PopUp.cshtml",
                            new PopupModel()
                            {
                                Title = @Admin_Resources.Activate,
                                Description = @Admin_Resources.EnableAccountConfirmationMessage,
                                ModalPopUpId = "accountEnable",
                                Buttons = new List<PopUpButtonModel>
                                () {
                                new PopUpButtonModel { ButtonText = @Admin_Resources.TextOk, ButtonAttributes="data-dismiss=modal",OnClickFunctionName = "User.prototype.EnableCustomerAccount()"}
                                }
                            })
                @Html.Partial("~/Views/Shared/Controls/_PopUp.cshtml",
                                new PopupModel()
                                {
                                    Title = @Admin_Resources.DeActivate,
                                    Description = @Admin_Resources.DisableAccountConfirmationMessage,
                                    ModalPopUpId = "accountdisable",
                                    Buttons = new List<PopUpButtonModel>
                                    () {
                                    new PopUpButtonModel { ButtonText = @Admin_Resources.TextOk, ButtonAttributes="data-dismiss=modal",OnClickFunctionName = "User.prototype.DisableCustomerAccount()"}
                                    }
                                })
                @Html.Partial("~/Views/Shared/Controls/_PopUp.cshtml",
                                new PopupModel()
                                {
                                    Title = @Admin_Resources.ResetPasswordButtonText,
                                    Description = @Admin_Resources.TextConformResetPassword,
                                    ModalPopUpId = "accountresetpassword",
                                    Buttons = new List<PopUpButtonModel>() {
                                    new PopUpButtonModel { ButtonText = @Admin_Resources.TextOk, ButtonAttributes="data-dismiss=modal",OnClickFunctionName = "User.prototype.CustomerResetPassword()"}
                                    }
                                })
                @Html.Partial("~/Views/DynamicGrid/_DynamicGrid.cshtml", Model.GridModel)
            }
        </div>
    </section>
</div>