﻿@using Znode.Engine.Admin.ViewModels
@using Znode.Engine.Admin.Helpers;
@model CartViewModel

@{
    Model.CultureCode = string.IsNullOrEmpty(Model.CultureCode) ? DefaultSettingHelper.DefaultCulture : Model.CultureCode;
}
<div class="col-md-12 cart-summary">
    <div id="loader-divTotal">@Html.Partial("_Loader")</div>
    <div class="row margin-bottom-15">
        <div class="col-sm-6 label-text">
            @Html.LabelFor(model => model.SubTotal, new { @data_test_selector = "lblSubTotal" })
        </div>
        <div class="col-sm-6 text-right amount-text">
            <label data-test-selector="lblSubTotalValue">@HelperMethods.FormatPriceWithCurrency(Model.SubTotal, Model.CultureCode)</label>
            @Html.HiddenFor(model => model.ErrorMessage, new { @id = "hdnShippingErrorMessage" })
            @Html.HiddenFor(model => model.HasError, new { @id = "hdnShippingHasError" })
        </div>
    </div>
    @if (Model.IsQuote == false)
    {
        if (Model?.Discount > 0)
        {
            <div class="row margin-bottom-15">
                <div class="col-sm-6 label-text">
                    @Html.LabelFor(model => model.Discount, new { @data_test_selector = "lblDiscount" })
                </div>
                <div class="col-sm-6 text-right amount-text">
                    <label id="dynamic-discount-amount" data-test-selector="lblDiscountValue">@HelperMethods.FormatPriceWithCurrency(0 - Model.Discount, Model.CultureCode)</label>
                </div>
            </div>
        }
        if (Model.CSRDiscountAmount > 0)
        {
            <div class="row margin-bottom-15">
                <div class="col-sm-6 label-text">
                    @Html.LabelFor(model => model.CSRDiscountAmount, new { @data_test_selector = "lblCSRDiscountAmount" })
                </div>
                <div class="col-sm-6 text-right amount-text">
                    <label id="dynamic-csr-discount-amount" data-test-selector="lblCSRDiscountAmountValue">@HelperMethods.FormatPriceWithCurrency(0 - Model.CSRDiscountAmount, Model.CultureCode)</label>
                </div>
            </div>
        }
    }
    @if (Model.TaxCost > 0)
    {
        <div class="row margin-bottom-15">
            <div class="col-sm-6 label-text">
                <label data-test-selector="lblColumnTax">@WebStore_Resources.ColumnTax</label>
            </div>
            <div class="col-sm-6 text-right amount-text">
                <label data-test-selector="lblColumnTaxValue">@HelperMethods.FormatPriceWithCurrency(Model.TaxCost, Model.CultureCode)</label>
            </div>
        </div>
    }
    @if (Model.ShippingCost > 0)
    {
        <div class="row margin-bottom-15">
            <div class="col-sm-6 label-text">
                <label data-test-selector="lblColumnShipping">@WebStore_Resources.ColumnShipping</label>
            </div>
            <div class="col-sm-6 text-right amount-text">
                <label id="dynamic-shipping-cost" data-test-selector="lblColumnShippingValue">@HelperMethods.FormatPriceWithCurrency(Model.ShippingCost, Model.CultureCode)</label>
            </div>
        </div>
    }
    @if (Model.IsQuote == false)
    {
        if (Model.GiftCardAmount > 0)
        {
            <div class="row margin-bottom-15">
                <div class="col-sm-6 label-text">
                    @Html.LabelFor(model => model.GiftCardAmount, new { @data_test_selector = "lblGiftCardAmount" })
                </div>
           <div class="col-sm-6 text-right amount-text">
                    <label id="dynamic-giftcard-amount" data-test-selector="lblGiftCardAmountValue">@HelperMethods.FormatPriceWithCurrency(Model.GiftCardAmount, Model.CultureCode).Replace(')', ' ').Replace('(', '-')</label>
                </div>
            </div>
        }
    }
        <div class="row margin-bottom-15 grand-total">
            <div class="col-sm-6 label-text">

                @if (Model.IsQuote)
                {
                    <label data-test-selector="lblTotal">
                        @Admin_Resources.LabelQuoteTotal
                    </label>
                }
                else
                {
                    <label data-test-selector="lblTotal">
                        @Admin_Resources.LabelOrderTotal
                    </label>
                }
            </div>                       
            <div class="col-sm-6 text-right amount-text">
                <label id="dynamic-order-total" class="order-total">@HelperMethods.FormatPriceWithCurrency(Model.Total, Model.CultureCode)</label>
                @Html.Hidden("hdnTotalOrderAmount", Model.Total)
            </div>
        </div>
        @if (!Equals(Model.OverDueAmount, null) && Model.OverDueAmount != 0)
        {
            <div class="row margin-bottom-15">
                <div class="col-sm-6 label-text">
                    @Html.LabelFor(model => model.OverDueAmount, new { @data_test_selector = "lblOverDueAmount" })
                </div>
                <div class="col-sm-6 text-right amount-text">
                    <label id="dynamic-overdue-amount" data-test-selector="lblOverDueAmountValue">@HelperMethods.FormatPriceWithCurrency(Model.OverDueAmount, Model.CultureCode)</label>
                </div>
            </div>
        }
    </div>

@Html.HiddenFor(model => model.GiftCardApplied, new { @id = "hdnGiftCardApplied" })
@Html.HiddenFor(model => model.GiftCardMessage, new { @id = "hdnGiftCardMessage" })
@Html.HiddenFor(model => model.ErrorMessage, new { @id = "hdnCouponErrorMessage" })
@Html.HiddenFor(model => model.CSRDiscountApplied, new { @id = "hdnCSRDiscountApplied" })
@Html.HiddenFor(model => model.SuccessMessage, new { @id = "hdnCsrSuccessMessage" })

<script>
  var vouchers = @Html.Raw(Json.Encode(Model.Vouchers));
    $(document).ready(function () {
        if (vouchers.length > 0) { Order.prototype.BindVoucherHtml(vouchers) };
    })
</script>