﻿@using Znode.Engine.WebStore.Agents;
@using Znode.Engine.WebStore.Controllers;

@{
    string customerServiceEmail = PortalAgent.CurrentPortal?.CustomerServiceEmail;
    string customerServicePhoneNumber = PortalAgent.CurrentPortal?.CustomerServicePhoneNumber;
}
<div class="footer-contact">
    <div class="header-footer" data-test-selector="divFooterContact">
        <h3 class="footer-header" data-test-selector="lblFooterContactSupport">@WebStore_Resources.lablefootContact</h3>
    </div>
    @{
        string customerServiceEmailValue = customerServiceEmail;
        if (!string.IsNullOrEmpty(customerServiceEmailValue))
        {
            char[] seperator = new char[] { ',' };
            string[] customerServiceEmails = customerServiceEmailValue.Split(seperator, StringSplitOptions.RemoveEmptyEntries);
            foreach (string email in customerServiceEmails)
            {
                <div><a href="@(" mailto:" + email)" data-test-selector="linkMailTo">@email</a></div>
            }
        }
    }
    <p data-test-selector="lblCustomerPhone">@customerServicePhoneNumber</p>
    @*<div>
        <a href="~/blog" data-test-selector="linkBlog">@WebStore_Resources.LabelBlog</a>
    </div>
    <div>
        <a href="~/news" data-test-selector="linkNews">@WebStore_Resources.LabelNews</a>
    </div>*@
</div>
