﻿@using Znode.Engine.WebStore.Agents
@using Znode.Libraries.ECommerce.Utilities
@{
    int portalId = PortalAgent.CurrentPortal.PortalId;
    string logo = !string.IsNullOrEmpty(PortalAgent.CurrentPortal.WebsiteLogo) ? MediaPaths.MediaPath + PortalAgent.CurrentPortal.WebsiteLogo : string.Empty;
    string title = PortalAgent.CurrentPortal.WebsiteTitle;
}
<div class="row footer-container">
    <div class="news-letter">
        <div class="container">
            <div class="row mobile-paddingleft-right news-letter-container" itemscope itemtype="http://schema.org/WebPage">
                <div class="col-xs-12 col-lg-6 col-sm-8 nopadding newsletter-container">
                    <!--News Letter Widget-->
                    <z-widget>@Html.WidgetPartial("NewsLetter", "NewsLetter", "777", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), portalId)</z-widget>
                </div>

                <div class="col-xs-12 col-lg-6 col-sm-4 nopadding follow-us">
                    <div class="pull-right">
                        <!--Socal Media Widget-->
                        <div  data-test-selector="divSocialMediaList">
                            <z-widget>
                                @Html.WidgetPartial("LinkPanel", "SocialMedia", "222", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), portalId)
                            </z-widget>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-information">
        <div class="container">
            <div class="row mobile-paddingleft-right" itemscope itemtype="http://schema.org/WebPage">

                <div class="col-sm-3 footer-shop">
                    <!--Footer Helps Widget-->
                    <div class="header-footer">
                        <h3 data-test-selector="lblFooterHelpHeading">@WebStore_Resources.lablefootAccount</h3>
                    </div>

                    <div class="footer-help-section-link">
                        <div data-test-selector="divFooterHelpWidget">
                            <z-widget>@Html.WidgetPartial("LinkPanel", "Account Section", "2243", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), PortalAgent.CurrentPortal.PortalId)</z-widget>
                        </div>
                    </div>

                </div>
                <div class="col-sm-3 footer-shop" data-test-selector="divFooterCategoryList">
                    <div class="header-footer">
                        <h3 data-test-selector="lblFooterCategoryHeading">@WebStore_Resources.lablefootAbout</h3>
                    </div>
                    <z-widget>@Html.WidgetPartial("LinkPanel", "About Section", "2244", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), PortalAgent.CurrentPortal.PortalId)</z-widget>
                </div>
                <div class="col-sm-3 footer-shop">
                    <!--Customer Support Widget-->
                    <z-widget>@Html.WidgetPartial("CustomerSupport", "CustomerSupport", "109", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString())</z-widget>
                </div>
                <div class="col-sm-3 footer-shop">
                    <!--Store Info Widget-->
                    <div class="header-footer">
                        <h3 data-test-selector="lblFooterInfoHeading">@WebStore_Resources.lablefootPartnerSite</h3>
                    </div>

                    <div class="footer-help-section-link">
                        <div data-test-selector="divFooterInfoWidget">
                            <z-widget>@Html.WidgetPartial("LinkPanel", "Partner Sites", "2253", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), PortalAgent.CurrentPortal.PortalId)</z-widget>
                        </div>
                        @*<div class="margin-top">
                            @Html.RenderMessage("PaymentOptionsFooter")
                        </div>*@
                    </div>

                </div>

            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 nopadding footer-copyright-text">
                    <p data-test-selector="lblFooterCopyRight">@Html.RenderMessage(WebStoreConstants.FooterCopyrightText)</p>
                </div>
                <div class="col-xs-12 col-sm-12 nopadding footer-copyright-links">
                <div data-test-selector="divPaymentGatewayList">    
                    <z-widget>
                        @Html.WidgetPartial("LinkPanel", "PaymentGateway", "223", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), portalId, new Dictionary<string, object>() { { "IsImageRequired", false } })
                    </z-widget>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
<a href="#layout" class="back-to-top" data-test-selector="linkBackToTop"><i class="zf-up"></i></a>
<script>  $('[itemtype = "http://schema.org/WebPage"] a').attr("itemprop", "significantLinks");</script>